@font-face {
    font-family: 'o2flow';
    src: url('../x_component_process_Work/$Flow/default/fonts/o2flow.eot?orsuyt');
    src: url('../x_component_process_Work/$Flow/default/fonts/o2flow.eot?orsuyt#iefix') format('embedded-opentype'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.ttf?orsuyt') format('truetype'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.woff?orsuyt') format('woff'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.svg?orsuyt#o2flow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'o2flow' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o2icon-left_circle:before {
    content: "\e900";
    color: #999;
}

.o2icon-people_circle:before {
    content: "\e901";
    color: #999;
}

.o2icon-icon_circle:before {
    content: "\e902";
    color: #999;
}

.o2icon-person_list:before {
    content: "\e903";
    color: #999;
}

.o2icon-right_circel:before {
    content: "\e904";
    color: #999;
}

.o2icon-dot:before {
    content: "\e905";
    color: #999;
}

.o2icon-off:before {
    content: "\e906";
    color: #999;
}

.o2icon-person:before {
    content: "\e907";
    color: #999;
}

.o2icon-triangle_down:before {
    content: "\e908";
    color: #999;
}

.o2icon-triangle_right:before {
    content: "\e909";
    color: #999;
}

.o2icon-zimu:before {
    content: "\e90a";
    color: #999;
}

.o2icon-serach:before {
    content: "\e999";
}

.o2icon-radio-checked:before {
    content: "\ea54";
}

.o2icon-radio-unchecked:before {
    content: "\ea56";
}

.o2icon-radio-checked2:before {
    content: "\ea55";
}

.o2icon-complete:before {
    content: "\e9d9";
}

.o2icon-checkbox:before {
    content: "\e967";
}

.o2icon-edit2:before {
    content: "\e99d";
}

.o2flow-node {
    width: 900px;
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
}
.o2flow-node-wide {
    width: 1100px;
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
}
.o2flow-bg-opacity{
    background-color: rgba(74, 144, 226, 0.12)
}

.o2flow-navi {
    /*position: absolute;*/
    margin-top: 32px;
    margin-left: 6px;
    padding-left: 10px;
}
.o2flow-navi-node {
    /*border-left: 2px solid #DEDEDE;*/
}
.o2flow-navi-item {
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    line-height: 18px;
    padding: 8px 14px;
    /* border-left: 4px solid transparent; */
    /* margin-left: -3px; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.o2flow-navi-item-active{
    /*border-color:#4A90E2;*/
    /*color: #4A90E2;*/
    color: #fff;
    background: #4A90E2;
    border-radius: 32px;
}

.o2flow-content-scrollNode {
    flex: 1;
    padding-left: 20px;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
}

.o2flow-content {
}

.o2flow-process-color {
    color: #66CC80
}

.o2flow-addTask-color {
    color: #4A90E2
}

.o2flow-reset-color {
    color: #f77272
}

.o2flow-quick-select {
    height: 36px;
    background: #FFFFFF;
    border-radius: 18px;
    border: 1px solid #DEDEDE;
    line-height: 36px;
    padding-left: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.o2flow-quick-select-text {
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.o2flow-quick-select-arrow {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.o2flow-quick-select-item {
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px 0 10px;
}
.o2flow-quick-select-item-active{
    background-color: #4A90E2;
    color: #fff;
}
.o2flow-quick-select-item-contnet-active{
    background-color: #4A90E2;
    color: #fff;
}

.o2flow-quick-select-itemtitle {
    float: left;
}

.o2flow-quick-select-itemtext {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.o2flow-section-title {
    height: 40px;
    background: #F7F7F7;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

.o2flow-section-content {
    overflow: hidden;
}

.o2flow-section-left {
    overflow: hidden;
    float: left;
    width: calc( 50% - 10px );
    margin-right: 10px;
}
.o2flow-section-right {
    overflow: hidden;
    float: left;
    width: calc( 50% - 10px );
    margin-left: 10px;
}

.o2flow-opinion-area {
    height: 230px;
}
.o2flow-opinion-textareawrap {
    float: left;
    width: calc(50% - 10px);
    padding-right: 10px;
    height: 180px;
    position: relative;
}
.o2flow-opinion-textarea {
    resize: none;
    width: calc(100% - 12px);
    height: calc( 100% - 12px );
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 5px;
    font-family: "Microsoft YaHei";
}

.o2flow-invalid-bg{
    background: #ffe9e9;
}
.o2flow-handwriting-button {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    color: #666666;
    cursor: pointer;
    display: none;
}
.o2flow-handwriting-buttonok{
    color: #6eb558;
}
.o2flow-handwriting-buttontext {
    display: inline-block;
}
.o2flow-opinion-select {
    overflow: auto;
    float: left;
    width: calc(50% - 21px);
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #DEDEDE;
    height: 180px;
}
.o2flow-opinion-select-item {
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
}
.o2flow-handwriting-mask {
    background-color: #eee;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    display: none;
}
.o2flow-handwriting-node {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px 0;
    display: none;
}
.o2flow-handwriting-saveNode {
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    width: 70%;
    min-width: 100px;
    border-radius: 15px;
    text-align: center;
    background-color: #4A90E2;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.o2flow-radio-area {
    overflow: hidden;
}
.o2flow-radio {
    float: left;
    padding: 3px 10px;
    background: #F0F0F0;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10px;
    color: #666666;
    cursor: pointer;
}
.o2flow-radio-active {
    background: #4A90E2;
    color: #fff;
}
.o2flow-radio-icon {
    color: #fff
}
/*.o2flow-radio-over{*/
/*  background: transparent;*/
/*  color:#666666;*/
/*}*/
.o2flow-radio-text {
    display: inline;
    margin-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
}

.o2flow-radio2-area{
    overflow: hidden;
}
.o2flow-radio2 {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
}
.o2flow-radio2-active {
    color: #333;
}
.o2flow-radio2-icon {
    color: #4A90E2
}
.o2flow-radio2-text {
    display: inline;
    margin-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
}

.o2flow-route-container {
    overflow: hidden;
}

.o2flow-routegroup-wraper {
    float: left;
    width: calc(50% - 20px);
    padding-right: 20px;
}

.o2flow-routegroup-area {
    height: 90px;
    overflow: auto;
    padding-top: 4px;
}

.o2flow-route-wraper {
    float: left;
    width: 50%;
}

.o2flow-route-fullsize-wraper {
    width: 100%;
}

.o2flow-route-area {
    height: 90px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 4px;
}
.o2flow-route-fullsize-area{
    overflow: hidden;
    min-height: 40px;
    padding-left: 10px;
}


.o2flow-org-area {
    height: 280px;
    margin-top:5px;
}
.o2flow-org-line{
    overflow: hidden;
}
.o2flow-org-left-node{
    width: calc( 50% - 10px );
    margin-right: 10px;
    margin-top:5px;
    float: left;
}
.o2flow-org-right-node{
    width: calc( 50% - 10px );
    margin-left: 10px;
    margin-top:5px;
    float: left;
}
.o2flow-org-fullsize-node{
    width: 100%;
    float: left;
}
.o2flow-selector-title{
    height:auto;
    min-height:26px;
    line-height:26px;
    font-size:14px;
    color:#333333;
    overflow:hidden
}
.o2flow-selector-titletext{
    background: #E6E6E6;
    border-radius: 10px 10px 1px 1px;
    padding: 0 10px;
    float:left;
}
.o2flow-selector-errornode{
    float:right;
    margin-right:5px
}
.o2flow-selector-content{
    overflow:hidden;
    margin-bottom:10px;
    position:relative
}

.o2flow-empower-node{
    width:840px;
    height:400px;
    background-color:#fff
}

.o2flow-empower-titleNode{
    margin-left:10px;
    line-height:40px;
    color:#333333;
    overflow:hidden;
    font-size:12px
}
.empowerAreaNode{
    font-size:12px;
    overflow:hidden
}
.o2flow-empower-table{
}
.o2flow-empower-oddTd{
    width:50%
}
.o2flow-empower-evenTd{
    width:50%;
    border-left:5px solid #ffffff
}

.o2flow-empower-areaTitle{
    height:auto;
    font-size:14px;
    color:#333333;
    overflow:hidden
}
.o2flow-empower-areaTitleText{
    background: #E6E6E6;
    border-radius: 10px 10px 1px 1px;
    min-height:30px;
    line-height:30px;
    padding: 0 10px;
    float:left;
}
/*.o2flow-empower-areaTitle{*/
/*    height:26px;*/
/*    line-height:26px;*/
/*    font-size:14px;*/
/*    color:#333333;*/
/*    padding-left:2px;*/
/*    background-color:#f7f7f7;*/
/*    overflow:hidden*/
/*}*/
/*.o2flow-empower-areaTitleText{*/
/*    margin-left:10px;*/
/*    float:left*/
/*}*/
.empowerAreaErrorNode{
    float:right;
    margin-right:5px
}
.o2flow-empower-areaContent{
    margin-bottom:10px;
    position:relative;
    border:1px solid #ccc;
    height:220px;
    overflow:auto;
    padding:5px;
}
.o2flow-empower-selectAllNode{
    float: right;
    margin-right:5px
}
.empowerSelectAllItemNode{
    height:26px;
    line-height:26px;
    padding-left:20px;
    font-size:14px;
    width:40px;
    float:right;
    overflow:hidden;
    cursor:pointer;
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_unchecked.png) no-repeat left center
}
.empowerSelectAllItemNode_over{
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_unchecked.png) no-repeat left center
}
.empowerSelectAllItemNode_selected{
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_checked.png) no-repeat left center
}
.empowerItemOddNode{
    float:left;
    width:190px;
    min-height:20px;
    margin-bottom:10px;
    padding:8px 3px;
    cursor:pointer;
    font-size:14px;
    margin-left:10px;
    background-color:#eaf1f9
}
.empowerItemEvenNode{
    float:left;
    width:190px;
    min-height:20px;
    margin-bottom:10px;
    padding:8px 3px;
    cursor:pointer;
    font-size:14px;
    margin-left:10px;
    background-color:#eaf1f9
}
.empowerItemOddNode_over{
    background-color:#eaf1f9
}
.empowerItemEvenNode_over{
    background-color:#eaf1f9
}
.empowerItemOddNode_selected{
    background-color:#6681a5
}
.empowerItemEvenNode_selected{
    background-color:#6681a5
}
.empowerItemIconNode{
    min-height:20px;
    width:30px;
    float:right;
    overflow:hidden;
    background:url(../x_component_process_Xform/$Form/default/icon/rollback_uncheck.png) no-repeat center center
}
.empowerItemIconNode_selected{
    background:url(../x_component_process_Xform/$Form/default/icon/rollback_check.png) no-repeat center center
}
.empowerItemContentNode{
    min-height:20px
}
.empowerItemTitleNode{
    float:left;
    min-height:20px;
    margin-left:5px;
    line-height:20px;
    color:#666666
}
.empowerItemTitleNode_selected{
    color:#ffffff
}
.empowerItemPersonNode{
    float:left;
    margin-left:5px;
    min-height:20px;
    width:48px;
    line-height:20px;
    color:#0000ff
}
.empowerItemPersonNode_selected{
    color:#ffffff
}

