@font-face {
    font-family: 'o2flow';
    src: url('../x_component_process_Work/$Flow/default/fonts/o2flow.eot?orsuyt');
    src: url('../x_component_process_Work/$Flow/default/fonts/o2flow.eot?orsuyt#iefix') format('embedded-opentype'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.ttf?orsuyt') format('truetype'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.woff?orsuyt') format('woff'),
    url('../x_component_process_Work/$Flow/default/fonts/o2flow.svg?orsuyt#o2flow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'o2flow' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o2icon-left_circle:before {
    content: "\e900";
    color: #999;
}

.o2icon-people_circle:before {
    content: "\e901";
    color: #999;
}

.o2icon-icon_circle:before {
    content: "\e902";
    color: #999;
}

.o2icon-person_list:before {
    content: "\e903";
    color: #999;
}

.o2icon-right_circel:before {
    content: "\e904";
    color: #999;
}

.o2icon-dot:before {
    content: "\e905";
    color: #999;
}

.o2icon-off:before {
    content: "\e906";
    color: #999;
}

.o2icon-person:before {
    content: "\e907";
    color: #999;
}

.o2icon-triangle_down:before {
    content: "\e908";
    color: #999;
}

.o2icon-triangle_right:before {
    content: "\e909";
    color: #999;
}

.o2icon-zimu:before {
    content: "\e90a";
    color: #999;
}

.o2icon-serach:before {
    content: "\e999";
}

.o2icon-radio-checked:before {
    content: "\ea54";
}

.o2icon-radio-unchecked:before {
    content: "\ea56";
}

.o2icon-radio-checked2:before {
    content: "\ea55";
}

.o2icon-complete:before {
    content: "\e9d9";
}

.o2icon-checkbox:before {
    content: "\e967";
}

.o2icon-edit2:before {
    content: "\e99d";
}

.o2flow-node {
    width: 65rem;
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    padding: 0.5rem 2rem 0 1.2rem;
    gap: 1rem;
}
.o2flow-node-wide {
    width: 78.57rem;
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    padding: 0.5rem 2rem 0 1.2rem;
    gap: 1rem;
}
.o2flow-bg-opacity{
    background-color: rgba(74, 144, 226, 0.12)
}

.o2flow-navi {
    /*position: absolute;*/
    /* margin-top: 32px;
    margin-left: 6px;
    padding-left: 10px; */
}
.o2flow-navi-node {
    /*border-left: 2px solid #DEDEDE;*/
    display: flex;
    flex-direction: column;
    gap: 0.725rem
}
.o2flow-navi-item {
    cursor: pointer;
    color: #333333;
    font-size: 1.175rem;
    display: flex;
    padding: 0.57rem 1rem;
    justify-content: center;
}
.o2flow-navi-item:hover{
    background-color: var(--oo-color-hover);
}

.o2flow-navi-item-active{
    /*border-color:#4A90E2;*/
    /*color: #4A90E2;*/
    color: #fff;
    background-color: var(--oo-color-main) !important;
    border-radius: var(--oo-default-radius) !important;
}

.o2flow-content-scrollNode {
    flex: 1;
    height: 100%;
    overflow: auto;
}
.o2flow-content-scrollNode>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.o2flow-content div[data-o2-element='processContentNode']>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.o2flow-process-color {
    color: #66CC80
}

.o2flow-addTask-color {
    color: #4A90E2
}

.o2flow-reset-color {
    color: #f77272
}

.o2flow-quick-select {
    background: #FFFFFF;
    border-radius: var(--oo-default-radius) !important;
    border: 1px solid #DEDEDE;
    padding: 0.6rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.o2flow-quick-select-text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.o2flow-quick-select-arrow {
    font-family: 'ooicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: pointer;
}
.o2flow-quick-select-arrow:before {
    content: "\e655";
}

.o2flow-quick-select-item {
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}
.o2flow-quick-select-item-active{
    background-color: #4A90E2;
    color: #fff;
}
.o2flow-quick-select-item-contnet-active{
    background-color: #4A90E2;
    color: #fff;
}

.o2flow-quick-select-itemtitle {

}

.o2flow-quick-select-itemtext {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.o2flow-quick-select-itemaction {
    display: none;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.o2flow-quick-select-item:hover .o2flow-quick-select-itemaction {
    display: flex;
}

.o2flow-section-title {
    padding: 0.5em 1em;
    font-size: 1.14286rem;
    background-color: #F7F7F7;
    font-weight: bold;
    box-shadow: rgb(222, 222, 222) 0px -1px 0px 0px inset;
    border-left: 4px solid var(--oo-color-main);
}

.o2flow-section-content {
    overflow: hidden;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
}
div[data-o2-element="orgsWraper"] .o2flow-section-content{
    display: block;
}
div[data-o2-element="orgsWraper"] .o2flow-section-content .o2flow-org-line{
    display: flex;
    gap: 1rem;
}

.o2flow-section-left {
    overflow: hidden;
    float: left;
    width: calc( 50% - 10px );
    margin-right: 10px;
}
.o2flow-section-right {
    overflow: hidden;
    float: left;
    width: calc( 50% - 10px );
    margin-left: 10px;
}

.o2flow-opinion-area {
    height: 16rem;
    min-height: 8.125rem;
}
.o2flow-opinion-content{
    height: calc( 100% - 3.14286rem );
}
.o2flow-opinion-textareawrap {
    flex: 3;
    /*height: 12rem;*/
    position: relative;
    height: calc(100% - 0.625rem);
}
.o2flow-opinion-textarea {
    resize: none;
    width: calc(100% - 0.85rem);
    height: calc(100% - 0.85rem);
    /* background: #FFFFFF; */
    border-radius: var(--oo-default-radius);
    border: 0;
    padding: 0.4rem;
    /* font-family: "Microsoft YaHei"; */
    box-shadow: var(--oo-shadow-border);
}

.o2flow-invalid-bg{
    background: #ffe9e9;
}
.o2flow-handwriting-button {
    position: absolute;
    right: 0.65rem;
    bottom: 0.65rem;
    background: #FFFFFF;
    border-radius: var(--oo-default-radius);
    padding: 0.35rem 0.75rem;
    cursor: pointer;
    display: none;
    box-shadow: var(--oo-shadow-border);
}
.o2flow-handwriting-button:hover {
    color: var(--oo-color-main);
    box-shadow: var(--oo-shadow-border-focus);
}
.o2flow-handwriting-buttonok{
    color: #6eb558;
}
.o2flow-handwriting-buttontext {
    display: inline-block;
}
.o2flow-handwriting-preview{
    position: absolute;
    bottom: 3.5rem;
    right: 0.65rem;
    width: 12rem;
    height: 4rem;
    display: none;
    z-index: 20002;
    background: #fff;
    border-radius: var(--oo-default-radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px 0;
}
.o2flow-handwriting-preview.show{
    display: block;
}
.o2flow-handwriting-preview img{
    width: 100%;
    border-radius: var(--oo-default-radius);
}
.o2flow-opinion-select {
    overflow: auto;
    flex: 2;
    height: calc( 100% - 0.625rem );
}
.o2flow-opinion-select-item {
    cursor: pointer;
    overflow: hidden;
    padding: 0.12rem 0;
}
.o2flow-opinion-empty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #bbb;
    cursor: pointer;
}
.o2flow-handwriting-mask {
    background-color: #eee;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    display: none;
}
.o2flow-handwriting-node {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px 0;
    display: none;
}
.o2flow-handwriting-action{
    display: flex;
    align-items: center;
}
.o2flow-handwriting-action oo-checkbox-group{
    color: #666;
}
.o2flow-handwriting-saveNode {
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    width: 70%;
    min-width: 100px;
    border-radius: 15px;
    text-align: center;
    background-color: #4A90E2;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.o2flow-radio-area {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
}
.o2flow-radio {
    padding: 3px 10px;
    background: #F0F0F0;
    border-radius: 10rem;
    color: #666666;
    cursor: pointer;
}
.o2flow-radio-active {
    background: #4A90E2;
    color: #fff;
}
.o2flow-radio-icon {
    color: #fff
}
/*.o2flow-radio-over{*/
/*  background: transparent;*/
/*  color:#666666;*/
/*}*/
.o2flow-radio-text {
    display: inline;
    margin-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
}

.o2flow-radio2-area{
    overflow: hidden;
}
.o2flow-radio2 {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
}
.o2flow-radio2-active {
    color: #333;
}
.o2flow-radio2-icon {
    color: #4A90E2
}
.o2flow-radio2-text {
    display: inline;
    margin-left: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
}

.o2flow-route-container {
    overflow: hidden;
}

.o2flow-routegroup-wraper {
    float: left;
    width: calc(50% - 20px);
    padding-right: 20px;
}

.o2flow-routegroup-area {
    height: 90px;
    overflow: auto;
    padding-top: 4px;
}

.o2flow-route-wraper {
    float: left;
    width: 50%;
}

.o2flow-route-fullsize-wraper {
    width: 100%;
}

.o2flow-route-area {
    height: 90px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 4px;
}
.o2flow-route-fullsize-area{
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;

}


.o2flow-org-area {
    height: 275px;
}
.o2flow-org-area>div{
    flex: 1;
}
.o2flow-org-line{
    overflow: hidden;
}
.o2flow-org-left-node{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.o2flow-org-right-node{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.o2flow-org-fullsize-node{
    width: 100%;
    float: left;
}
.o2flow-selector-title{
    color: #333333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.o2flow-selector-titletext{
    padding: 0.25rem 0.4rem;
    border-bottom: 2px solid var(--oo-color-main);
}
.o2flow-selector-errornode{
    float:right;
    margin-right:5px
}
.o2flow-selector-content{
    overflow:hidden;
    position:relative
}
.o2flow-selector-content .MWF_selector_selectTopNode{
    padding: 0.2rem 0.5rem;
}

.o2flow-empower-node{
    width:840px;
    height:400px;
    background-color:#fff
}

.o2flow-empower-titleNode{
    margin-left:10px;
    line-height:40px;
    color:#333333;
    overflow:hidden;
    font-size:12px
}
.empowerAreaNode{
    font-size:12px;
    overflow:hidden
}
.o2flow-empower-table{
}
.o2flow-empower-oddTd{
    width:50%
}
.o2flow-empower-evenTd{
    width:50%;
    border-left:5px solid #ffffff
}

.o2flow-empower-areaTitle{
    height:auto;
    font-size:14px;
    color:#333333;
    overflow:hidden
}
.o2flow-empower-areaTitleText{
    background: #E6E6E6;
    border-radius: 10px 10px 1px 1px;
    min-height:30px;
    line-height:30px;
    padding: 0 10px;
    float:left;
}
/*.o2flow-empower-areaTitle{*/
/*    height:26px;*/
/*    line-height:26px;*/
/*    font-size:14px;*/
/*    color:#333333;*/
/*    padding-left:2px;*/
/*    background-color:#f7f7f7;*/
/*    overflow:hidden*/
/*}*/
/*.o2flow-empower-areaTitleText{*/
/*    margin-left:10px;*/
/*    float:left*/
/*}*/
.empowerAreaErrorNode{
    float:right;
    margin-right:5px
}
.o2flow-empower-areaContent{
    margin-bottom:10px;
    position:relative;
    border:1px solid #ccc;
    height:220px;
    overflow:auto;
    padding:5px;
}
.o2flow-empower-selectAllNode{
    float: right;
    margin-right:5px
}
.empowerSelectAllItemNode{
    height:26px;
    line-height:26px;
    padding-left:20px;
    font-size:14px;
    width:40px;
    float:right;
    overflow:hidden;
    cursor:pointer;
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_unchecked.png) no-repeat left center
}
.empowerSelectAllItemNode_over{
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_unchecked.png) no-repeat left center
}
.empowerSelectAllItemNode_selected{
    color:#3C76B7;
    background:url(../x_component_process_Work/$Processor/process/empower_checked.png) no-repeat left center
}
.empowerItemOddNode{
    float:left;
    width:190px;
    min-height:20px;
    margin-bottom:10px;
    padding:8px 3px;
    cursor:pointer;
    font-size:14px;
    margin-left:10px;
    background-color:#eaf1f9
}
.empowerItemEvenNode{
    float:left;
    width:190px;
    min-height:20px;
    margin-bottom:10px;
    padding:8px 3px;
    cursor:pointer;
    font-size:14px;
    margin-left:10px;
    background-color:#eaf1f9
}
.empowerItemOddNode_over{
    background-color:#eaf1f9
}
.empowerItemEvenNode_over{
    background-color:#eaf1f9
}
.empowerItemOddNode_selected{
    background-color:#6681a5
}
.empowerItemEvenNode_selected{
    background-color:#6681a5
}
.empowerItemIconNode{
    min-height:20px;
    width:30px;
    float:right;
    overflow:hidden;
    background:url(../x_component_process_Xform/$Form/default/icon/rollback_uncheck.png) no-repeat center center
}
.empowerItemIconNode_selected{
    background:url(../x_component_process_Xform/$Form/default/icon/rollback_check.png) no-repeat center center
}
.empowerItemContentNode{
    min-height:20px
}
.empowerItemTitleNode{
    float:left;
    min-height:20px;
    margin-left:5px;
    line-height:20px;
    color:#666666
}
.empowerItemTitleNode_selected{
    color:#ffffff
}
.empowerItemPersonNode{
    float:left;
    margin-left:5px;
    min-height:20px;
    width:48px;
    line-height:20px;
    color:#0000ff
}
.empowerItemPersonNode_selected{
    color:#ffffff
}

