.taskView_Layout{
    width:calc(100% - 40px);
    min-width:1100px;
    height:calc(100% - 30px);
    margin-top:10px;
    padding:10px 20px;
    background-color:#ffffff;
}

.taskView_filterLayout{
    width:100%;
    height:100px;
    display:flex;
}
.taskView_filterLeft{
    width:800px;
    height:100%;
    flex-wrap: wrap;
}
.taskView_filterLayout div{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.taskView_filterItem{
    width:100%;
    height:40px;
}
.taskView_title{
    padding:0px 20px;
    font-size:15px;
}
.taskView_titleIn{
    border:1px solid #dedede;
    border-radius:4px;
    width:340px;
    height:32px;
}
.taskView_titleIn input{
    border:0px;
    width:100%;
    height:calc(100% - 2px);
}
.taskView_filterItemContent{
    margin-right:0px;
}
.taskView_value{
    padding:0px 10px;
    width:100px;
    height:32px;
    border-radius:2px;
    justify-content: center !important;
    cursor:pointer;
    border:1px solid #dedede;
    background:url('../x_component_TeamWork/$TaskView/default/icon/icon_down.png') no-repeat 100px center;
}
.taskView_person{
    width:120px;
    height:32px;
    margin-left:16px;
    border:1px solid #dedede;
    border-radius:4px;
    cursor:pointer;
    justify-content:center !important;
}
.taskView_filterRight{
    width:calc(100% - 600px);
    height:100%;
}
.taskView_action{
    width:100px;
    height:40px;
    justify-content: center !important;
    cursor:pointer;
    opacity:0.9;
    background-color:#4a90e2;
    color:#ffffff;
    border-radius:6px;
    margin:0px 20px;
}
.taskView_action:hover{
    opacity:1
}

.taskView_contentLayout{
    width:100%;
    height:calc(100% - 120px);    
    overflow:auto;
}

/* taskList */
.taskList_table{
    width:calc(100% - 40px);
    margin:20px auto;
    border-collapse:collapse;
    border:1px solid #cccccc;
}
.taskList_table th{
    height:50px;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
}
.taskList_table tr:hover{
    cursor:pointer;
    background-color:#f2f5f7;
}
.taskList_table td{
    border-bottom: 1px solid #cccccc;
    padding: 2px 5px;
    min-width: 50px;
}
.taskList_table td > div{
    display:flex;
    align-items: center;
    min-height:50px;
    justify-content: center;
}
tbody > div{
    display:none;
}
.taskList_td_name{
    padding-left:10px !important;
}
.taskList_td_name div{
    justify-content: flex-start !important;
    color:#4a90e2;
}