<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence  http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">
  <persistence-unit name="enhance">
    <class>com.x.processplatform.core.entity.element.Delay</class>
    <class>com.x.processplatform.core.entity.element.Invoke</class>
    <class>com.x.processplatform.core.entity.content.Review</class>
    <class>com.x.processplatform.core.entity.element.Service</class>
    <class>com.x.processplatform.core.entity.content.Work</class>
    <class>com.x.processplatform.core.entity.content.SerialNumber</class>
    <class>com.x.processplatform.core.entity.content.Task</class>
    <class>com.x.processplatform.core.entity.log.ProcessingError</class>
    <class>com.x.processplatform.core.entity.element.Process</class>
    <class>com.x.processplatform.core.entity.element.ApplicationDictItem</class>
    <class>com.x.processplatform.core.entity.element.Route</class>
    <class>com.x.processplatform.core.entity.element.Split</class>
    <class>com.x.processplatform.core.entity.element.Agent</class>
    <class>com.x.processplatform.core.entity.content.Attachment</class>
    <class>com.x.processplatform.core.entity.element.File</class>
    <class>com.x.processplatform.core.entity.temporary.ServiceValue</class>
    <class>com.x.base.core.entity.StorageObject</class>
    <class>com.x.processplatform.core.entity.content.TaskCompleted</class>
    <class>com.x.processplatform.core.entity.content.WorkLog</class>
    <class>com.x.processplatform.core.entity.element.TemplateForm</class>
    <class>com.x.processplatform.core.entity.element.Form</class>
    <class>com.x.processplatform.core.entity.element.Parallel</class>
    <class>com.x.processplatform.core.entity.element.QueryView</class>
    <class>com.x.processplatform.core.entity.element.QueryStat</class>
    <class>com.x.processplatform.core.entity.element.Application</class>
    <class>com.x.processplatform.core.entity.content.ReadCompleted</class>
    <class>com.x.processplatform.core.entity.element.FormField</class>
    <class>com.x.processplatform.core.entity.temporary.TriggerWorkRecord</class>
    <class>com.x.processplatform.core.entity.element.Script</class>
    <class>com.x.processplatform.core.entity.content.WorkCompleted</class>
    <class>com.x.processplatform.core.entity.element.Begin</class>
    <class>com.x.processplatform.core.entity.content.Hint</class>
    <class>com.x.processplatform.core.entity.element.Choice</class>
    <class>com.x.processplatform.core.entity.content.Read</class>
    <class>com.x.processplatform.core.entity.element.Merge</class>
    <class>com.x.processplatform.core.entity.element.Manual</class>
    <class>com.x.processplatform.core.entity.element.QueryStatTimed</class>
    <class>com.x.base.core.entity.SliceJpaObject</class>
    <class>com.x.processplatform.core.entity.element.End</class>
    <class>com.x.base.core.entity.JpaObject</class>
    <class>com.x.processplatform.core.entity.element.Embed</class>
    <class>com.x.processplatform.core.entity.element.Message</class>
    <class>com.x.processplatform.core.entity.element.ApplicationDict</class>
    <class>com.x.processplatform.core.entity.element.Cancel</class>
  </persistence-unit>
</persistence>
