/* common */
.margin-top {
  margin-top: 10px;
}
.margin-left {
  margin-left: 10px;
}
.light-border-button {
  border: 1px solid !important;
  background-color: #ffffff !important;
  border-color: #f23030 !important;
}
.att {
  background-color: white;
  height: 100%;
}
.att button {
  border-radius: 100px;
  border: 0;
  padding: 6px 20px;
  cursor: pointer;
  margin-left: 10px;
}
.att thead {
  width: 100%;
  height: 40px;
  background-color: rgb(247, 247, 247);
  color: rgb(102, 102, 102);
  font-weight: normal;
  line-height: 40px;
  font-size: 15px;
}
.att th {
  background-color: rgb(247, 247, 247);
  text-align: center;
  line-height: 24px;
  padding: 8px 0px;
  font-weight: normal;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(230, 230, 230);
}
.att tr {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  min-height: 29px;
  color: rgb(102, 102, 102);
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.att .selector tr {
  cursor: pointer;
}
.att td {
  height: 39px;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.att .primary_color {
  color: var(--el-color-primary);
}
.att .operator_link {
  color: var(--el-color-primary);
  margin-left: 10px;
  cursor: pointer;
}
.att .link_btn {
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
/* index */
.index_page_header_container {
  display: flex;
  height: 48px;
  padding: 0 18px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.index_page_header_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #171a1d;
  margin-right: 4px;
}
.index_page_content_container {
  display: flex;
  height: calc(100% - 50px);
}
.index_page_nav_container {
  flex-shrink: 0;
  overflow: auto;
}
.index_page_route_container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  min-width: 670px;
}

/* mask */
.cc-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.cc-mask-show {
  opacity: 1;
}
.cc-mask-hide {
  display: none;
  opacity: 0;
}
/* dialog */
.s-dialog {
  position: relative;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
    0px 8px 20px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  height: 100%;
  min-width: 350px;
  max-width: 600px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.s-dialog-header {
  padding: 20px;
  padding-bottom: 10px;
  padding-right: 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.s-dialog-footer {
  padding: 20px;
  padding-top: 10px;
  padding-right: 16px;
  text-align: right;
  border-top: 1px solid #eee;
}
.s-dialog-header .title {
  line-height: 24px;
  font-size: 18px;
  color: #333333;
}
.s-dialog-header .close {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #999999;
}
.s-dialog-content {
  padding: 20px;
  overflow: auto;
  flex: 1;
}

.sl-dialog {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
    0px 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}
.sl-dialog-header {
  padding: 20px;
  padding-bottom: 10px;
  padding-right: 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.sl-dialog-header .title {
  line-height: 24px;
  font-size: 18px;
  color: #333333;
}
.sl-dialog-header .close {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #999999;
}
.sl-dialog-footer {
  padding: 20px;
  padding-top: 10px;
  padding-right: 16px;
  text-align: right;
  border-top: 1px solid #eee;
}
.sl-dialog-content {
  padding: 20px;
  overflow: auto;
  flex: 1;
}

/* form */
.form-item-label {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  color: #171a1d;
}
.form-item-label .required {
  color: #ff5219;
  font-size: 12px;
  margin-right: 6px;
}
.form-item-content {
  font-size: 14px;
  color: #171a1d;
}
.form-item-content .required {
  color: #ff5219;
  font-size: 12px;
  margin-right: 6px;
}

.form-alert {
  color: #999999;
  font-size: 16px;
}
