 .att {
  background-color: white;
  height: 100%;
 }
 .index_page_header_container {
  display: flex;
  height: 48px;
  padding: 0 18px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.index_page_header_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #171a1d;
  margin-right: 4px;
}
.index_page_content_container {
  display: flex;
  height: calc(100%-50px);
}
.index_page_nav_container {
  flex-shrink: 0;
  overflow: auto;
}
.index_page_route_container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  min-width: 670px;
}
