.o2-designer-container{
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: var(--nav-width, 20em) 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    margin: 0;
    transition: grid-template-columns 0.2s ease;
}
header{
    grid-area: header;
    display: flex;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    align-items: center;
    position: relative;
}
aside{
    grid-area: aside;
    height: 100%;
    display: flex;
    overflow: hidden;
}
aside.collapsed nav {
    display: none;
}
nav{
    flex: 1;
    background: var(--oo-color-bg-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*position: relative;*/
    /*overflow: auto;*/
}
nav > oo-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
oo-nav .slot{
    padding: 0.5rem;
}
main{
    grid-area: main;
    overflow: auto;
}
footer{
    grid-area: footer;
}
.app-content{
    width: 100%;
    height: 100%;
}
.o2-task-bar{
    flex: 1;
    min-height: 3em;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;
}
.o2-task-bar oo-tag{
    height: 2em;
}
.o2-task-toolbar{
    display: flex;
    align-items: center;
    padding-right: 0.5em;
}
.o2-task-separator{
    width: 1px;
    height: 2em;
    margin: 0 0.25em;
    background: rgba(0, 0, 0, 0.25);
}
.o2-designer-nav-toolbar > div, .o2-task-toolbar div{
    padding: 0.25em;
    cursor: pointer;
    color: var(--oo-color-text);
}
.o2-designer-nav-toolbar > div:hover, .o2-task-toolbar div:hover{
    color: var(--oo-color-main);
}
.o2-designer-nav-toolbar{
    display: none;
    align-items: center;
    font-size: 1.125em;
    justify-content: flex-end;
    padding-right: 0.5em;
    position: absolute;
    top: 0.3em;
    right: 0;
}
.current .o2-designer-nav-toolbar{
    display: flex;
}
.o2-designer-refresh-node {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #666666;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 300000;
    top: -40px;
    opacity: 0;
    box-shadow: 3PX 3PX 10px #999999;
}
.icon-refresh{
    background-image: url(../o2_core/o2/xDesktop/$Default/red/icons/icon_shuaxin.png) !important;
}
.o2-designer-tabs{
    font-weight: bold;
    font-size: 1.125em;
    display: flex;
    border-bottom: 1px solid var(--oo-color-gray1);
    padding: 0 0.5em;
    position: relative;
}
.o2-designer-tabs > div{
    padding: 0.5em;
    cursor: pointer;
    transition: color 0.2s;
}
.o2-designer-tabs .current{
    color: var(--oo-color-main);
    border-bottom: 2px solid var(--oo-color-main);
}

/* 拖动手柄样式 */
.nav-resizer {
    width: 3px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize; /* 横向调整光标 */
    z-index: 10;
    /* 默认隐藏拖动手柄 */
    opacity: 0;
    transition: opacity 0.2s ease, background-color 0.2s ease;
    pointer-events: none; /* 默认不响应鼠标事件 */
}
aside:hover .nav-resizer {
    opacity: 1;
    pointer-events: auto; /* 恢复鼠标事件响应 */
}

/* 鼠标悬停和拖动时的高亮效果 */
.nav-resizer:hover,
.resizing .nav-resizer {
    background-color: var(--oo-color-text3);
}

.nav-toggle {
    position: absolute;
    top: calc(100% + 5px);
    left: 0.5em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    transition: left 0.2s ease;
    color: var(--oo-color-main);
    background-color: var(--oo-color-bg-white);
}

/*!* 收起状态下调整按钮位置 *!*/
/*aside.collapsed .nav-toggle {*/
/*    right: -12px;*/
/*}*/

/*.nav-toggle:hover {*/
/*    background: #e0e0e0;*/
/*}*/
