<div>
    {{each $.data}}
    <div class="listItem" data-o2-events="mouseover:overTaskItem; mouseout:outTaskItem; o2load:loadItemFlag">
        <div class="listItemApplication">
            <div class="listItemApplicationIcon" data-o2-events="o2load:loadItemIcon:{{$.application}}"></div>
            <div class="listItemApplicationText" title="{{$.applicationName}}">{{$.applicationName}}</div>
        </div>
        <div class="listItemLine"></div>

        <div class="listItemFlag"></div>
        <div class="listItemDate">
            <div>
                <div>{{$.startTime}}</div>
                <div class="listItemExpire"></div>
            </div>
        </div>
        <div class="listItemActivity">
            <div class="listItemActivityText mainColor_color" title="{{$.activityName}}">{{$.activityName}}</div>
        </div>

        <div class="listItemTitle" data-o2-events="click:openTask:{{$.work}}:{{$.title}}">
            <div class="listItemTitleProcess" title="{{$.processName}}">
                <div class="listItemTitleFlag">【</div>
                <div class="listItemTitleProcessText">{{$.processName}}</div>
                <div class="listItemTitleFlag">】</div>
            </div>
            <div class="listItemTitleSubject">
                <a>{{$.title}}</a>
            </div>
        </div>
    </div>
    {{end each}}
</div>
