.aaa{
    color:#ff0000;
}
.create_container{
    width:100%;
    height:100%;
    overflow-y:auto;
}
.create_topContainer{
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #cccccc;
}
.create_topTitle{
    font-size:16px;
}
.create_topClose{
    width:16px;
    height:16px;
    cursor:pointer;
    background:url(../x_component_TeamWork/$Common/default/icon/icon_off.png) no-repeat center
}
.create_middleContainer{
    padding:10px 0px;
}
.create_item{
    width:100%;
    display:flex;
    margin:10px 0px;
}
.create_itemTitle{
    width:80px;
    text-align:center;
    padding:0px 10px;
}
.create_itemContent{
    width:calc(100% - 100px);
    display:flex;
    align-items:center;
}
.create_itemContent input{
    text-indent: 4px;
    width:90%;
    height:36px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.create_itemContent textarea{
    text-indent: 4px;
    width:90%;
    height:60px;
    border-radius:6px;
    border:1px solid #cccccc;
    outline:none;
    resize:none;
}
.create_itemPersonSingle{
    text-indent: 10px;
    height:40px;
    line-height:40px;
    cursor:pointer;
    width:90%;
    border:1px solid #cccccc;
    border-radius:6px;
}
.create_itemPersonMult{
    padding:0px 10px;
    height:60px;
    line-height:30px;
    cursor:pointer;
    width:86%;
    border:1px solid #cccccc;
    border-radius:6px;
}
.create_itemContent span{
    text-align:center;
    width:160px;
    height:36px;
    line-height:36px;
   
}
.create_time{
    margin-left:10px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.create_create_itemGroup{
    text-indent: 10px;
    height:40px;
    line-height:40px;
    cursor:pointer;
    width:90%;
    border:1px solid #cccccc;
    border-radius:6px;
}
.create_bottomContainer{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.create_bottomContainer div{
    cursor:pointer;
    width:200px;
    height:40px;
    font-size:16px;
    opacity:0.9;
    line-height:40px;
    border-radius:10px;
    text-align:center;
    color:#ffffff;
}
.create_bottomContainer div:hover{
    opacity:1;
}
.create_bottomContainer div:nth-child(1){
    
    background-color:#4a90e2;
}
.create_bottomContainer div:nth-child(2){
    background-color:#666666;
}