*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--oo-color-gray-d);
}

*::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 8px;
    background-color: var(--oo-color-gray-b);
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    width: 8px;
    border-radius: 8px;
    background-color: var(--oo-color-text2);
    cursor: pointer;
}
@font-face {
    font-family: 'ooicon';
    src:
            url('/x_desktop/css/v10/ooicon.ttf') format('truetype'),
            url('/x_desktop/css/v10/ooicon.woff') format('woff'),
            url('/x_desktop/css/v10/ooicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

oo-button,
oo-tag,
oo-org {
    display: inline-block;
    border-radius: var(--oo-default-radius);
}

oo-input, oo-select, oo-textarea, oo-datetime{
    display: inline-block;
    border-radius: var(--oo-default-radius);
    color: var(--oo-color-text2);
}

oo-selector {
    display: block;
    border-radius: var(--oo-default-radius);
    color: var(--oo-color-text2);
}

oo-input:focus,
oo-textarea:focus {
    color: var(--oo-color-text2);
}

oo-capsulae {
    display: contents;
}

oo-code-editor {
    display: block;
    border-top-left-radius: var(--oo-menu-radius);
    border-top-right-radius: var(--oo-menu-radius);
    height: 12rem;
    resize: vertical;
    overflow: auto;
}

oo-code-editor.max {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 20000;
    resize: none;
}


oo-radio,
oo-checkbox {
    display: inline-block;
    line-height: 1.5em;
    padding: 0.1em 1em 0.1em 0;
}

oo-radio-group,
oo-checkbox-group {
    display: inline-block;
}

oo-pagination {
    display: block;
    font-size: 0.875rem;
}

oo-menu,
oo-dialog {
    position: absolute;
    z-index: 10000;
    border-radius: var(--oo-menu-radius);
    border: 1px solid var(--oo-menu-border-color);
    box-shadow: var(--oo-menu-shadow);
    background-color: var(--oo-menu-bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    user-select: none;
    overflow: hidden;
    visibility: hidden;
    transform-origin: 0 0;
    opacity: 0;
}

oo-dialog {
    box-shadow: var(--oo-dialog-shadow);
    top: 0;
}

oo-dialog.resize {
    resize: both;
}


oo-menu.transition,
oo-dialog.transition {
    transition: scale 0.2s;
}

oo-menu.show,
oo-dialog.show {
    visibility: visible;
    opacity: 1;
    top: unset;
}

oo-card {
    display: inline-block;
    border-radius: var(--oo-area-radius);
}

oo-calendar {
    width: 30em;
    height: 24em;
    display: block;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px var(--oo-color-gray-d);
}

oo-calendar[year-only='true'],
oo-calendar[date-only='true'],
oo-calendar[month-only='true'] {
    width: 20em;
}

oo-calendar[week-only='true'] {
    width: 21em;
}

oo-calendar[time-only='true'] {
    width: 12em;
}

oo-calendar[time-only='true'][second-enable='false'] {
    width: 8rem;
}


oo-menu-item {
    display: contents;
}

oo-menu-item .icon {
    min-width: 1.2em;
}

oo-menu-item .item {
    display: contents;
}

oo-menu-item hr {
    width: 100%;
    padding: 0;
    margin: 0;
}

oo-menu-item oo-radio,
oo-menu-item oo-checkbox {
    width: 100%;
}

oo-menu-item hr {
    width: 100%;
    padding: 0;
    margin: 0;
}

oo-menu-item .label {
    padding-right: 1.8em;
    padding-left: 0.5em;
}

.oo-dialog-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--oo-color-gray-d);
    opacity: 0;
    transition: opacity 0.1s;
}

oo-notice {
    z-index: 100;
}

oo-notice.default {
    opacity: 0;
}

oo-notice.banner {
    width: 100%;
    opacity: 0;
}

oo-notice.body-center {
    left: 50%;
    transform: translateX(-50%);
}

oo-notice.absolute {
    position: absolute;
}

oo-notice.fixed {
    position: fixed;
}

oo-notice.transition {
    transition: top 0.3s, left 0.3s, bottom 0.3s, right 0.3s, opacity 0.3s;
}

.hide {
    display: none !important;
}

oo-tabs {
    display: block;
    position: relative;
}

oo-tab {
    display: block;
    transition: opacity 0.2s;
}

oo-tab.hide {
    opacity: 0;
    display: none;
}

oo-skeleton {
    display: block;
}

oo-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}

oo-file {
    display: inline-block;
}

.v10_dialog_content .MWF_configAttachmentPower>div>div:last-child{
    padding: 8px!important;
    background-color: #f7f7f7;
}

oo-nav{
    display: block;
}

.oo-confirm-icon-info {
    color: var(--oo-color-info);
    font-size: var(--oo-font-size-larger);
    text-align: center;
    margin-right: 0.4em;
}

.oo-confirm-icon-warn {
    color: var(--oo-color-warn);
    font-size: var(--oo-font-size-larger);
    text-align: center;
    margin-right: 0.4em;
}

.oo-confirm-icon-success {
    color: var(--oo-color-success);
    font-size: var(--oo-font-size-larger);
    text-align: center;
    margin-right: 0.4em;
}

.oo-confirm-icon-error {
    color: var(--oo-color-error);
    font-size: var(--oo-font-size-larger);
    text-align: center;
    margin-right: 0.4em;
}

.ooicon-loading {
    position: relative;
    width: 0.875em;
    height: 0.875em;
    border: 0.125em solid #000;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    animation: circle infinite 0.75s linear;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ooicon-blank {
    width: 0.875em;
    height: 0.875em;
}




[class^="ooicon-"],
[class*=" ooicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ooicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ooicon-daiban:before {
    content: "\e742";
}

.ooicon-yiban:before {
    content: "\e73f";
}

.ooicon-caogao:before {
    content: "\e740";
}

.ooicon-daiyue:before {
    content: "\e741";
}

.ooicon-ijian:before {
    content: "\e743";
}

.ooicon-files:before {
    content: "\e73e";
}

.ooicon-upload:before {
    content: "\e73d";
}

.ooicon-gprs:before {
    content: "\e73b";
}

.ooicon-lashen:before {
    content: "\e73c";
}

.ooicon-kaiqi:before {
    content: "\e738";
}

.ooicon-jia1:before {
    content: "\e739";
}

.ooicon-icon_weikaiqi:before {
    content: "\e73a";
}

.ooicon-stop:before {
    content: "\e737";
}

.ooicon-jian:before {
    content: "\e735";
}

.ooicon-jia:before {
    content: "\e736";
}

.ooicon-shuzipaixu:before {
    content: "\e72c";
}

.ooicon-zhankai:before {
    content: "\e72d";
}

.ooicon-arrow_right:before {
    content: "\e72e";
}

.ooicon-jiadian:before {
    content: "\e72f";
}

.ooicon-zhedie:before {
    content: "\e730";
}

.ooicon-fujian:before {
    content: "\e731";
}

.ooicon-arrow_left:before {
    content: "\e732";
}

.ooicon-quanping:before {
    content: "\e733";
}

.ooicon-news1:before {
    content: "\e734";
}

.ooicon-right:before {
    content: "\e72b";
}

.ooicon-down:before {
    content: "\e729";
}

.ooicon-up:before {
    content: "\e72a";
}

.ooicon-message:before {
    content: "\e668";
}

.ooicon-collapse:before {
    content: "\e728";
}

.ooicon-execution:before {
    content: "\e649";
}

.ooicon-process-goback:before {
    content: "\e726";
}

.ooicon-process-submit:before {
    content: "\e727";
}

.ooicon-delete:before {
    content: "\e6c0";
}

.ooicon-process-monitor:before {
    content: "\e6c4";
}

.ooicon-edit:before {
    content: "\e6cf";
}

.ooicon-retract:before {
    content: "\e6d2";
}

.ooicon-process-downloadall:before {
    content: "\e6d3";
}

.ooicon-process-end:before {
    content: "\e6d4";
}

.ooicon-checkmark:before {
    content: "\e6d6";
}

.ooicon-process-add-task:before {
    content: "\e6de";
}

.ooicon-process-split2:before {
    content: "\e6df";
}

.ooicon-redo:before {
    content: "\e6e0";
}

.ooicon-print:before {
    content: "\e6e5";
}

.ooicon-process-read:before {
    content: "\e722";
}

.ooicon-save:before {
    content: "\e723";
}

.ooicon-process-rollback:before {
    content: "\e724";
}

.ooicon-publish:before {
    content: "\e725";
}

.ooicon-process-flow:before {
    content: "\e68f";
}

.ooicon-process-message:before {
    content: "\e691";
}

.ooicon-control-panel:before {
    content: "\e692";
}

.ooicon-close:before {
    content: "\e69c";
}

.ooicon-process-begin:before {
    content: "\e6a9";
}

.ooicon-reset:before {
    content: "\e6af";
}

.ooicon-log-viewer:before {
    content: "\e71f";
}

.ooicon-icon_caiwushenpi:before {
    content: "\e720";
}

.ooicon-data-center:before {
    content: "\e721";
}

.ooicon-design:before {
    content: "\e70a";
}

.ooicon-a-flowprocess:before {
    content: "\e714";
}

.ooicon-a-treeorg:before {
    content: "\e715";
}

.ooicon-person_file:before {
    content: "\e716";
}

.ooicon-procurement:before {
    content: "\e717";
}

.ooicon-travel:before {
    content: "\e718";
}

.ooicon-systemconfig:before {
    content: "\e719";
}

.ooicon-workcenter:before {
    content: "\e71a";
}

.ooicon-party:before {
    content: "\e71b";
}

.ooicon-role:before {
    content: "\e71c";
}

.ooicon-cms-maintain:before {
    content: "\e71d";
}

.ooicon-computer:before {
    content: "\e71e";
}

.ooicon-doc-cooperation:before {
    content: "\e6f4";
}

.ooicon-process-maintain:before {
    content: "\e6f5";
}

.ooicon-app-build:before {
    content: "\e6f6";
}

.ooicon-office-supplies:before {
    content: "\e6f7";
}

.ooicon-work-report:before {
    content: "\e6f8";
}

.ooicon-veriface:before {
    content: "\e6f9";
}

.ooicon-leave:before {
    content: "\e6fa";
}

.ooicon-information:before {
    content: "\e6fb";
}

.ooicon-netraffic:before {
    content: "\e6fc";
}

.ooicon-score:before {
    content: "\e6fd";
}

.ooicon-shijianchangjingku:before {
    content: "\e6fe";
}

.ooicon-ternary-management:before {
    content: "\e6ff";
}

.ooicon-logistics:before {
    content: "\e6e7";
}

.ooicon-weekly:before {
    content: "\e6e8";
}

.ooicon-neibudaohang:before {
    content: "\e6e9";
}

.ooicon-file-gateway:before {
    content: "\e6ea";
}

.ooicon-work-overtime:before {
    content: "\e6eb";
}

.ooicon-employment:before {
    content: "\e6ec";
}

.ooicon-xinxifabu:before {
    content: "\e6ed";
}

.ooicon-reports:before {
    content: "\e6ee";
}

.ooicon-shichangguanli:before {
    content: "\e6ef";
}

.ooicon-process-service:before {
    content: "\e6f0";
}

.ooicon-xingzhengshiwu:before {
    content: "\e6f1";
}

.ooicon-work-plan:before {
    content: "\e6f2";
}

.ooicon-appstore:before {
    content: "\e6f3";
}

.ooicon-icon_zhanlue:before {
    content: "\e6e6";
}

.ooicon-jiekuanshenqing:before {
    content: "\e6d7";
}

.ooicon-customer:before {
    content: "\e6d8";
}

.ooicon-description:before {
    content: "\e6d9";
}

.ooicon-meeting:before {
    content: "\e6da";
}

.ooicon-onduty:before {
    content: "\e6db";
}

.ooicon-xiangmuxiezuo:before {
    content: "\e6dc";
}

.ooicon-qianfangguanli:before {
    content: "\e6dd";
}

.ooicon-kucunguanli:before {
    content: "\e6e2";
}

.ooicon-zhaobiaoshenqing:before {
    content: "\e6e3";
}

.ooicon-toubiaoshenqing:before {
    content: "\e6e4";
}

.ooicon-duty:before {
    content: "\e6ca";
}

.ooicon-person_manage:before {
    content: "\e6cb";
}

.ooicon-message2:before {
    content: "\e6cc";
}

.ooicon-zhichuzhengming:before {
    content: "\e6cd";
}

.ooicon-contract:before {
    content: "\e6ce";
}

.ooicon-kaijufapiao:before {
    content: "\e6d0";
}

.ooicon-ai:before {
    content: "\e6d1";
}

.ooicon-config:before {
    content: "\e6d5";
}

.ooicon-taizhang:before {
    content: "\e6bd";
}

.ooicon-payment:before {
    content: "\e6be";
}

.ooicon-employee-file:before {
    content: "\e6bf";
}

.ooicon-hot-article:before {
    content: "\e6c1";
}

.ooicon-supplier:before {
    content: "\e6c2";
}

.ooicon-pentagram:before {
    content: "\e6c3";
}

.ooicon-cloud-note:before {
    content: "\e6c5";
}

.ooicon-zhaopin:before {
    content: "\e6c6";
}

.ooicon-finance:before {
    content: "\e6c7";
}

.ooicon-pms:before {
    content: "\e6c8";
}

.ooicon-xinxicaibian:before {
    content: "\e6c9";
}

.ooicon-jiezhibeiyongjin_sq:before {
    content: "\e6b0";
}

.ooicon-chat:before {
    content: "\e6b1";
}

.ooicon-schedule:before {
    content: "\e6b2";
}

.ooicon-news:before {
    content: "\e6b3";
}

.ooicon-jixiaokaohe:before {
    content: "\e6b4";
}

.ooicon-bulletin:before {
    content: "\e6b5";
}

.ooicon-asset:before {
    content: "\e6b6";
}

.ooicon-shouwen:before {
    content: "\e6b7";
}

.ooicon-a-home2:before {
    content: "\e6b8";
}

.ooicon-a-attendanceprocess-invoke:before {
    content: "\e6b9";
}

.ooicon-qinggoushenqing:before {
    content: "\e6ba";
}

.ooicon-work-overtime-record:before {
    content: "\e6bb";
}

.ooicon-training:before {
    content: "\e6bc";
}

.ooicon-profile:before {
    content: "\e6a1";
}

.ooicon-zhaodaifeiyong_sq:before {
    content: "\e6a2";
}

.ooicon-reimbursement:before {
    content: "\e6a3";
}

.ooicon-minder:before {
    content: "\e6a4";
}

.ooicon-cost:before {
    content: "\e6a5";
}

.ooicon-vehicle:before {
    content: "\e6a6";
}

.ooicon-notes:before {
    content: "\e6a7";
}

.ooicon-create:before {
    content: "\e6a8";
}

.ooicon-shixiangshenpi:before {
    content: "\e6aa";
}

.ooicon-personnel:before {
    content: "\e6ab";
}

.ooicon-shigongshenqing:before {
    content: "\e6ac";
}

.ooicon-myjob:before {
    content: "\e6ad";
}

.ooicon-home:before {
    content: "\e6ae";
}

.ooicon-mail:before {
    content: "\e695";
}

.ooicon-contacts:before {
    content: "\e696";
}

.ooicon-document:before {
    content: "\e697";
}

.ooicon-work-management:before {
    content: "\e698";
}

.ooicon-yixiaopin:before {
    content: "\e699";
}

.ooicon-xiezuo:before {
    content: "\e69a";
}

.ooicon-forum:before {
    content: "\e69b";
}

.ooicon-activities:before {
    content: "\e69d";
}

.ooicon-lingdaoxinxiang:before {
    content: "\e69e";
}

.ooicon-xiansuo:before {
    content: "\e69f";
}

.ooicon-knowledge:before {
    content: "\e6a0";
}

.ooicon-work-management2:before {
    content: "\e68c";
}

.ooicon-gongzjitiao1:before {
    content: "\e68d";
}

.ooicon-zongheguanli:before {
    content: "\e68e";
}

.ooicon-seal:before {
    content: "\e690";
}

.ooicon-platform:before {
    content: "\e693";
}

.ooicon-fangkeguanli:before {
    content: "\e694";
}

.ooicon-pentagram_fill:before {
    content: "\e688";
}

.ooicon-version_add:before {
    content: "\e689";
}

.ooicon-menu:before {
    content: "\e68a";
}

.ooicon-icon_ok_round:before {
    content: "\e68b";
}

.ooicon-Import:before {
    content: "\e678";
}

.ooicon-audit:before {
    content: "\e679";
}

.ooicon-department:before {
    content: "\e67a";
}

.ooicon-tanhao:before {
    content: "\e67b";
}

.ooicon-help:before {
    content: "\e67c";
}

.ooicon-switch:before {
    content: "\e67d";
}

.ooicon-radio-unchecked:before {
    content: "\e67e";
}

.ooicon-empty:before {
    content: "\e67f";
}

.ooicon-update:before {
    content: "\e680";
}

.ooicon-review:before {
    content: "\e681";
}

.ooicon-password:before {
    content: "\e682";
}

.ooicon-skin:before {
    content: "\e683";
}

.ooicon-sub_depart_stat:before {
    content: "\e684";
}

.ooicon-guard:before {
    content: "\e685";
}

.ooicon-note:before {
    content: "\e686";
}

.ooicon-list-alt:before {
    content: "\e687";
}

.ooicon-srcipt:before {
    content: "\e669";
}

.ooicon-desktop_mac:before {
    content: "\e66a";
}

.ooicon-text:before {
    content: "\e66b";
}

.ooicon-default:before {
    content: "\e66c";
}

.ooicon-business_trip:before {
    content: "\e66d";
}

.ooicon-error:before {
    content: "\e66e";
}

.ooicon-person_lock:before {
    content: "\e66f";
}

.ooicon-identity:before {
    content: "\e670";
}

.ooicon-strategy:before {
    content: "\e671";
}

.ooicon-forward:before {
    content: "\e672";
}

.ooicon-net-meeting:before {
    content: "\e673";
}

.ooicon-window-max:before {
    content: "\e674";
}

.ooicon-version:before {
    content: "\e675";
}

.ooicon-file-text:before {
    content: "\e676";
}

.ooicon-share:before {
    content: "\e677";
}

.ooicon-storage:before {
    content: "\e657";
}

.ooicon-process-embed:before {
    content: "\e658";
}

.ooicon-party_portal:before {
    content: "\e659";
}

.ooicon-window-return:before {
    content: "\e65a";
}

.ooicon-zoom_out:before {
    content: "\e65b";
}

.ooicon-personnel_export:before {
    content: "\e65c";
}

.ooicon-pad:before {
    content: "\e65d";
}

.ooicon-full-text-search:before {
    content: "\e65e";
}

.ooicon-unit-post:before {
    content: "\e65f";
}

.ooicon-table-tool:before {
    content: "\e660";
}

.ooicon-tree:before {
    content: "\e661";
}

.ooicon-file_upload:before {
    content: "\e662";
}

.ooicon-portal:before {
    content: "\e663";
}

.ooicon-radio-checked:before {
    content: "\e664";
}

.ooicon-wps:before {
    content: "\e665";
}

.ooicon-folder-open:before {
    content: "\e666";
}

.ooicon-process-add-task-person:before {
    content: "\e667";
}

.ooicon-process-cancel:before {
    content: "\e647";
}

.ooicon-file_download:before {
    content: "\e648";
}

.ooicon-rename:before {
    content: "\e64a";
}

.ooicon-person_import:before {
    content: "\e64b";
}

.ooicon-arrow_forward:before {
    content: "\e64c";
}

.ooicon-point3:before {
    content: "\e64d";
}

.ooicon-process-parallel:before {
    content: "\e64e";
}

.ooicon-help_outline:before {
    content: "\e64f";
}

.ooicon-verified:before {
    content: "\e650";
}

.ooicon-arrow_back:before {
    content: "\e651";
}

.ooicon-onlyoffice:before {
    content: "\e652";
}

.ooicon-sub_depart:before {
    content: "\e653";
}

.ooicon-block:before {
    content: "\e654";
}

.ooicon-drop_down:before {
    content: "\e655";
}

.ooicon-a-window-return2:before {
    content: "\e656";
}

.ooicon-documents:before {
    content: "\e637";
}

.ooicon-drive:before {
    content: "\e638";
}

.ooicon-checkbox-checked:before {
    content: "\e639";
}

.ooicon-clock:before {
    content: "\e63a";
}

.ooicon-farword:before {
    content: "\e63b";
}

.ooicon-process-delay:before {
    content: "\e63c";
}

.ooicon-meeting-room:before {
    content: "\e63d";
}

.ooicon-process-merge:before {
    content: "\e63e";
}

.ooicon-phone:before {
    content: "\e63f";
}

.ooicon-group:before {
    content: "\e640";
}

.ooicon-sorting:before {
    content: "\e641";
}

.ooicon-unit:before {
    content: "\e642";
}

.ooicon-crm:before {
    content: "\e643";
}

.ooicon-search:before {
    content: "\e644";
}

.ooicon-qr:before {
    content: "\e645";
}

.ooicon-expand:before {
    content: "\e646";
}

.ooicon-person:before {
    content: "\e627";
}

.ooicon-details:before {
    content: "\e628";
}

.ooicon-puzzle:before {
    content: "\e629";
}

.ooicon-dynamic:before {
    content: "\e62a";
}

.ooicon-process-split:before {
    content: "\e62b";
}

.ooicon-export:before {
    content: "\e62c";
}

.ooicon-process-agent:before {
    content: "\e62d";
}

.ooicon-person_disable:before {
    content: "\e62e";
}

.ooicon-alphabet:before {
    content: "\e62f";
}

.ooicon-check_outline:before {
    content: "\e630";
}

.ooicon-checkbox-unchecked:before {
    content: "\e631";
}

.ooicon-category:before {
    content: "\e632";
}

.ooicon-reload:before {
    content: "\e633";
}

.ooicon-maintain:before {
    content: "\e634";
}

.ooicon-find:before {
    content: "\e635";
}

.ooicon-remove_outline:before {
    content: "\e636";
}

.ooicon-integral:before {
    content: "\e61f";
}

.ooicon-app-center:before {
    content: "\e620";
}

.ooicon-process-choice:before {
    content: "\e621";
}

.ooicon-dimission:before {
    content: "\e622";
}

.ooicon-calendar:before {
    content: "\e623";
}

.ooicon-lock:before {
    content: "\e624";
}

.ooicon-eye:before {
    content: "\e625";
}

.ooicon-zoom_in:before {
    content: "\e626";
}

.ooicon-icon_boy:before {
    content: "\e613";
}

.ooicon-animals:before {
    content: "\e60c";
}

.ooicon-picture:before {
    content: "\e614";
}

.ooicon-icon_arrow_up:before {
    content: "\e615";
}

.ooicon-icon_more:before {
    content: "\e616";
}

.ooicon-file:before {
    content: "\e617";
}

.ooicon-emoji-travel:before {
    content: "\e618";
}

.ooicon-emote:before {
    content: "\e619";
}

.ooicon-emoji-activities:before {
    content: "\e61a";
}

.ooicon-emoji-clothes:before {
    content: "\e61b";
}

.ooicon-emoji-food:before {
    content: "\e61c";
}

.ooicon-camera:before {
    content: "\e61d";
}

.ooicon-add-circle:before {
    content: "\e61e";
}

.ooicon-scan:before {
    content: "\e60d";
}

.ooicon-send:before {
    content: "\e60e";
}

.ooicon-voice:before {
    content: "\e60f";
}

.ooicon-emoji-prompt:before {
    content: "\e610";
}

.ooicon-icon_girl:before {
    content: "\e611";
}

.ooicon-keyboard:before {
    content: "\e612";
}

.ooicon-person_clock:before {
    content: "\e709";
}

.ooicon-gongwentaizhang:before {
    content: "\e6e1";
}

.ooicon-gongzuolianxidan:before {
    content: "\e70c";
}

.ooicon-guizhangzhidu:before {
    content: "\e70d";
}

.ooicon-home_zd:before {
    content: "\e70e";
}

.ooicon-information1:before {
    content: "\e70f";
}

.ooicon-hetongshenpi:before {
    content: "\e710";
}

.ooicon-hetongbiangeng:before {
    content: "\e711";
}

.ooicon-hangyexinwen:before {
    content: "\e712";
}

.ooicon-gongzjitiao:before {
    content: "\e713";
}

.ooicon-gongwen:before {
    content: "\e70b";
}

.ooicon-caigoushenqing:before {
    content: "\e702";
}

.ooicon-dingbiaobaogao:before {
    content: "\e703";
}

.ooicon-duchaduban:before {
    content: "\e704";
}

.ooicon-dingcan:before {
    content: "\e705";
}

.ooicon-fawen:before {
    content: "\e706";
}

.ooicon-baojiashenqing:before {
    content: "\e707";
}

.ooicon-fapiaoguanli:before {
    content: "\e708";
}

.ooicon-gonghai:before {
    content: "\e700";
}

.ooicon-anliku:before {
    content: "\e701";
}
