<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%" style="min-width: 50px;">
            <col width="47%">
            <col width="22%">
            <col width="23%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAllFile">
                        <div class="selectFlagIcon"></div>
                    </div>
                </div>
            </th>
            <th><span>{{$.lp.list.title}}</span></th>
            <th><span>{{$.lp.list.from}}</span></th>
            <th><span>{{$.lp.list.updateTime}}</span></th>
        </tr>
        </thead>
    </table>
</div>
