<div class="menuArea">

    <div class="menu" data-o2-element="manageMenuNode">

        <div class="menuTitle">
            <div class="menuTitleText">后台管理</div>
        </div>

<!--        <div class="menuItem" data-o2-element="myShareMenuNode" data-o2-events="click:loadList:myShare">-->
<!--            <div class="menuItemIcon"><icon class="o2Drive icon-person"></icon></div>-->
<!--            <div class="menuItemText">个人文件</div>-->
<!--        </div>-->

        <div class="menuItem" data-o2-element="manageFileMenuNode" data-o2-events="click:loadList:manageFile">
            <div class="menuItemIcon"><icon class="o2Drive icon-public"></icon></div>
            <div class="menuItemText">共享区文件</div>
        </div>
        <div class="menuItem" data-o2-element="manageZoneMenuNode" data-o2-events="click:loadList:manageZone">
            <div class="menuItemIcon"><icon class="o2Drive icon-commonshare"></icon></div>
            <div class="menuItemText">共享区</div>
        </div>
        <div class="menuItem" data-o2-element="personCapacityMenuNode" data-o2-events="click:loadList:personCapacity">
            <div class="menuItemIcon"><icon class="o2Drive icon-capacity"></icon></div>
            <div class="menuItemText"  data-o2-events="click:loadList:person">个人容量</div>
        </div>
<!--        <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:loadList:shareToMe">-->
<!--            <div class="menuItemIcon"><icon class="o2Drive icon-log"></icon></div>-->
<!--            <div class="menuItemText">操作日志</div>-->
<!--        </div>-->
<!--        <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:loadList:shareToMe">-->
<!--            <div class="menuItemIcon"><icon class="o2Drive icon-recycle"></icon></div>-->
<!--            <div class="menuItemText">回收站</div>-->
<!--        </div>-->
        <div class="menuItem" data-o2-element="recycleMenuNode" data-o2-events="click:loadList:recycle">
            <div class="menuItemIcon"><icon class="o2Drive icon-recycle"></icon></div>
            <div class="menuItemText">回收站</div>
        </div>
        <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:setting">
            <div class="menuItemIcon"><icon class="o2Drive icon-setting"></icon></div>
            <div class="menuItemText">设置</div>
        </div>
    </div>



</div>
<div class="contentArea" data-o2-element="mainNode">
</div>
