.o-date-picker {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 2px 10px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border-radius: 18px;
  border: 1px solid #dedede;
  transition: all 0.3s;
  align-items: center;
}
.o-date-picker-input {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.o-date-picker-input .input {
  width: 96px;
  text-align: center;
}
.o-date-picker-input .input {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  color: #666666;
  font-size: 14px;
  transition: all 0.3s;
  flex: auto;
  min-width: 1px;
  height: auto;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.placeholder {
  color: #999999 !important;
}
.o-date-picker-input .icon {
  width: 14px;
  height: 14px;
  display: inline-flex;
  color: #999999;
  cursor: pointer;
}
