<div class="breadcrumb-content" data-o2-element="topNode">
    {{if $.categories.length > 0}}
        <oo-select value="all"
                   data-o2-events="o2load:handLoadCategory;
                                    change:handleChangeCategory">
        </oo-select>
    {{end if}}

    <div class="breadcrumb-menu" data-o2-element="menuNode">
        {{each $.data}}
        <div
                data-category="{{$.category}}"
                class="breadcrumb-menu-item"
                data-o2-events="click:handleClick;
                                mouseleave:handleMouseLeave;
                                mouseenter:handleMouseEnter;
                                o2load:handleLoadItem;">
            {{if $.ooicon}}
            <i class="breadcrumb-menu-item-ooicon ooicon-{{$.ooicon}} {{!!$.handleCreate ? 'has-create' : ''}}"></i>
            {{end if}}
            {{if $.icon}}
            <i class="breadcrumb-menu-item-icon {{!!$.handleCreate ? 'has-create' : ''}}" style="background-image:url(data:image/png;base64,{{$.icon}});"></i>
            {{end if}}
            {{if !$.icon && $.defaultIcon}}
            <i class="breadcrumb-menu-item-icon" style="background-image:url({{$.defaultIcon}});"></i>
            {{end if}}

            {{if $.handleCreate}}
            <i class="breadcrumb-menu-item-create ooicon-create"
               data-o2-events="click:handleCreate;" title="创建">
            </i>
            {{end if}}

            <span class="breadcrumb-menu-item-text">{{$.name}}</span>
        </div>
        {{end each}}

        {{if !$.data.length}}
        <div class="breadcrumb-menu-empty">
            <div class="breadcrumb-menu-item-ooicon ooicon-empty"></div>
            <div class="breadcrumb-menu-item-text">未找到内容</div>
        </div>
        {{end if}}
    </div>
</div>
