<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>20936f5deebe6dcd</string>
	<key>type</key>
	<integer>1</integer>
	<key>rows</key>
	<integer>2</integer>
	<key>columns</key>
	<integer>4</integer>
	<key>rowsInLandscape</key>
	<integer>1</integer>
	<key>columnsInLandscape</key>
	<integer>7</integer>
	<key>image</key>
	<string>icon.png</string>
	<key>emoticons</key>
	<array>
		<dict>
			<key>id</key>
			<string>01</string>
			<key>image</key>
			<string>01.png</string>
			<key>preview</key>
			<string>01.png</string>
			<key>title</key>
			<string>可爱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>02</string>
			<key>image</key>
			<string>02.png</string>
			<key>preview</key>
			<string>02.png</string>
			<key>title</key>
			<string>微笑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>03</string>
			<key>image</key>
			<string>03.png</string>
			<key>preview</key>
			<string>03.png</string>
			<key>title</key>
			<string>笑哭</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>04</string>
			<key>image</key>
			<string>04.png</string>
			<key>preview</key>
			<string>04.png</string>
			<key>title</key>
			<string>害羞</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>05</string>
			<key>image</key>
			<string>05.png</string>
			<key>preview</key>
			<string>05.png</string>
			<key>title</key>
			<string>两眼冒光</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>06</string>
			<key>image</key>
			<string>06.png</string>
			<key>preview</key>
			<string>06.png</string>
			<key>title</key>
			<string>恼怒</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>07</string>
			<key>image</key>
			<string>07.png</string>
			<key>preview</key>
			<string>07.png</string>
			<key>title</key>
			<string>痴汉</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>08</string>
			<key>image</key>
			<string>08.png</string>
			<key>preview</key>
			<string>08.png</string>
			<key>title</key>
			<string>惊吓</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>09</string>
			<key>image</key>
			<string>09.png</string>
			<key>preview</key>
			<string>09.png</string>
			<key>title</key>
			<string>无语</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>10</string>
			<key>image</key>
			<string>10.png</string>
			<key>preview</key>
			<string>10.png</string>
			<key>title</key>
			<string>大哭</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
        <dict>
            <key>id</key>
            <string>11</string>
            <key>image</key>
            <string>11.png</string>
            <key>preview</key>
            <string>11.png</string>
            <key>title</key>
            <string>汗</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>12</string>
            <key>image</key>
            <string>12.png</string>
            <key>preview</key>
            <string>12.png</string>
            <key>title</key>
            <string>晕</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>13</string>
            <key>image</key>
            <string>13.png</string>
            <key>preview</key>
            <string>13.png</string>
            <key>title</key>
            <string>爽</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>14</string>
            <key>image</key>
            <string>14.png</string>
            <key>preview</key>
            <string>14.png</string>
            <key>title</key>
            <string>睡觉</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>15</string>
            <key>image</key>
            <string>15.png</string>
            <key>preview</key>
            <string>15.png</string>
            <key>title</key>
            <string>幸福</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>16</string>
            <key>image</key>
            <string>16.png</string>
            <key>preview</key>
            <string>16.png</string>
            <key>title</key>
            <string>得意</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>17</string>
            <key>image</key>
            <string>17.png</string>
            <key>preview</key>
            <string>17.png</string>
            <key>title</key>
            <string>么么哒</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>18</string>
            <key>image</key>
            <string>18.png</string>
            <key>preview</key>
            <string>18.png</string>
            <key>title</key>
            <string>不理睬</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>19</string>
            <key>image</key>
            <string>19.png</string>
            <key>preview</key>
            <string>19.png</string>
            <key>title</key>
            <string>阴笑</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>20</string>
            <key>image</key>
            <string>20.png</string>
            <key>preview</key>
            <string>20.png</string>
            <key>title</key>
            <string>赞一个</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>21</string>
            <key>image</key>
            <string>21.png</string>
            <key>preview</key>
            <string>21.png</string>
            <key>title</key>
            <string>再见</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>22</string>
            <key>image</key>
            <string>22.png</string>
            <key>preview</key>
            <string>22.png</string>
            <key>title</key>
            <string>谢谢红包</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>23</string>
            <key>image</key>
            <string>23.png</string>
            <key>preview</key>
            <string>23.png</string>
            <key>title</key>
            <string>冻住</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>id</key>
            <string>24</string>
            <key>image</key>
            <string>24.png</string>
            <key>preview</key>
            <string>24.png</string>
            <key>title</key>
            <string>石化</string>
            <key>type</key>
            <integer>0</integer>
        </dict>
	</array>
</dict>
</plist>
