<div>
    {{if $.data.length}}
    <table>
        <colgroup>
            <col width="40%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <tbody>

        {{each $.data}}

        <tr class="listItem">
            <td style="text-align: left;padding-left: 10px">
                <div class="listItemTitle" style="display: flex；" data-o2-events="click:open:{{$.work}}:{{$.workCompleted}}:{{$.job}}">
                    <div class="listItemTitleSubject">
                        {{$.title}}
                    </div>
                </div>
            </td>
            <td style="text-align: left;"><span>{{$.processName}}</span></td>
            <td style="text-align: left;"><span>{{$.activityName}}</span></td>
            <td style="text-align: left;"><span>{{$.creatorPersonName}}</span></td>
            <td style="text-align: left;"><span>{{$.creatorUnitName}}</span></td>
            <td style="text-align: left;"><span>{{$.startTime}}</span></td>
            <td style="text-align: left;"><span>{{$.createTime}}</span></td>
        </tr>
        {{end each}}
        </tbody>
    </table>
    {{end if}}
    {{if !$.data.length}}
    <div class="emptyListArea">
        <div class="emptyListIcon"></div>
        <div class="emptyListText">
            {{$.lp.noFile}}
        </div>
    </div>
    {{end if}}
</div>
