<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="40%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr class="listItem">
                <th><span style="padding-left: 10px">{{$.lp.subject}}</span></th>
                <th><span>{{$.lp.process}}</span></th>
                <th><span>{{$.lp.creator}}</span></th>
                <th><span>{{$.lp.createunit}}</span></th>
                <th><span>{{$.lp.startTime}}</span></th>
                <th><span>{{$.lp.endTime}}</span></th>
            </tr>
        </thead>
    </table>
</div>
