/* layout */
.setting_layout{
    height:100%;
    overflow-y:auto;
    display:flex;
}
.setting_leftContainer{
    width:200px;
    height:100%;
    border-right:1px solid #dedede;
    color:#666666;
}
.setting_naviItem{
    cursor:pointer;
    display:flex;
    align-items: center;
    height:60px;
    border-left:4px solid #ffffff;
    border-bottom:1px solid #dedede;
}
.setting_naviItem:hover{
    background-color:#f2f2f2;
    border-left:4px solid #4a90e2;
}
.setting_naviItemCur{
    border-left:4px solid #4a90e2;
}
.setting_naviItemCur div{
    color:#4a90e2;
}
.setting_naviItemImg{
    width:16px;
    height:16px;
    margin:0px 10px;
}
.setting_naviItem div{

}
.setting_rightContainer{
    width:calc(100% - 240px);
    height:calc(100% - 20px);
    padding:10px 20px;
}


/* 概述 */

.general_content{
    padding:0px 20px;
    height:100%;
    overflow-y:auto;
}
.general_top{
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.general_middle{
    padding:10px 0px;
}
.general_item{
    width:100%;
    margin:10px 0px;
}
.general_itemTitle{
    width:100%;
    height:30px;
    line-height:30px;
    padding:0px 0px;
    font-size:15px;
}
.general_valueRead{
    text-indent: 10px;;
}
.general_itemContent{
    width:100%;
    display:flex;
    align-items:center;
}
.general_itemContent input{
    text-indent: 4px;
    width:90%;
    height:36px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.general_itemContent textarea{
    width:90%;
    height:100px;
    border-radius:6px;
    border:1px solid #cccccc;
    outline:none;
    resize:none;
}
.general_itemPersonSingle{
    text-indent: 10px;
    height:40px;
    line-height:40px;
    cursor:pointer;
    width:90%;
    border:1px solid #cccccc;
    border-radius:6px;
}
.general_itemPersonMult{
    padding:0px 10px;
    height:60px;
    line-height:30px;
    cursor:pointer;
    width:86%;
    border:1px solid #cccccc;
    border-radius:6px;
}
.general_time{
    margin-left:10px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.general_itemContent span{
    text-align:center;
    width:120px;
    height:36px;
    line-height:36px;
   
}
.general_bottom{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.general_button{
    cursor:pointer;
    width:90%;
    height:40px;
    font-size:16px;
    opacity:0.9;
    line-height:40px;
    border-radius:10px;
    text-align:center;
    color:#ffffff;
    background-color:#4a90e2;
}
.general_button:hover{
    opacity:1;
}

/* 详情 */

.detail_content{
    width:100%;
    padding:0px 0px;
    height:100%;
    overflow-y:auto;
}
.detail_top{
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.detail_middle{
    padding:0px 0px;
}
.detail_item{
    width:100%;
    margin:10px 0px;
}
.detail_itemTitle{
    width:100%;
    height:30px;
    line-height:30px;
    padding:0px 0px;
    font-size:15px;
}
.detail_valueRead{
    text-indent: 10px;;
}
.detail_itemContent{
    width:100%;
    display:flex;
    align-items:center;
}
.detail_itemContent input{
    text-indent: 4px;
    width:90%;
    height:36px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.detail_itemContent textarea{
    width:90%;
    height:100px;
    border-radius:6px;
    border:1px solid #cccccc;
    outline:none;
    resize:none;
}

.detail_itemContent span{
    text-align:center;
    width:160px;
    height:36px;
    line-height:36px;
   
}
.detail_bottom{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.detail_button{
    cursor:pointer;
    width:90%;
    height:40px;
    font-size:16px;
    opacity:0.9;
    line-height:40px;
    border-radius:10px;
    text-align:center;
    color:#ffffff;
    background-color:#4a90e2;
}
.detail_button:hover{
    opacity:1;
}

/* 动态 */
.dynamicItem{
    margin:10px 0px;
    display:flex;
    font-size:12px;
}
.dynamicItemTitle{
    width:calc(100% - 150px);
}
.dynamicItemTime{
    width:150px;
    text-align:center;
}

/* 状态 */
.setting_status_layout{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.setting_status_layout div{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.setting_status_layout > div:nth-child(1){
    border-top:1px solid #cccccc
}
.setting_status_item{
    width:100%;
    height:100px;
    border-bottom:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    cursor:pointer;
    background-color:#f8f8f8;
    color:#999999;
}
.setting_status_item:hover{
    color:#ffffff;
}
.setting_status_item:hover div:nth-child(2){
    color:#ffffff;
}
.setting_status_icon{
    width:200px;
    height:60px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
.setting_status_item_processing div:nth-child(1){
    background-image:url('../x_component_TeamWork/$ProjectSetting/default/icon/icon_status_processing.png')
}
.setting_status_item_processing:hover{
    background-color:#409eff;
}
.setting_status_item_delay div:nth-child(1){
    background-image:url('../x_component_TeamWork/$ProjectSetting/default/icon/icon_status_delay.png')
}
.setting_status_item_delay:hover{
    background-color:#8a8a8a;
}
.setting_status_item_canceled div:nth-child(1){
    background-image:url('../x_component_TeamWork/$ProjectSetting/default/icon/icon_status_canceled.png')
}
.setting_status_item_canceled:hover{
    background-color:#ea5974;
}

.setting_status_item_completed div:nth-child(1){
    background-image:url('../x_component_TeamWork/$ProjectSetting/default/icon/icon_status_completed.png')
}
.setting_status_item_completed:hover{
    background-color:#69b439;
}

.setting_status_item_admin{
    width:100%;
    height:100px;
    border-bottom:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    cursor:pointer;
    background-color:#f8f8f8;
    color:#999999;
}
.setting_status_item_archived div:nth-child(1){
    background-image:url('../x_component_TeamWork/$ProjectSetting/default/icon/icon_status_archived.png')
}
/* .setting_status_item_archived:hover{
    background-color:#129de6;
} */

.setting_status_text{
    width:calc(100% - 200px);
    height:100%;
    justify-content: center;
    font-size:20px;
}