:root {
    --oo-color-main: #30bfbf;
    --oo-color-main-light: #a0cfff;
    --oo-color-main-deep: #116161;
    --oo-color-over: #c6e2ff;
    --oo-color-deep: #053333;
    --oo-color-light: #F6F5FC;
    --oo-color-hover: #d9ecff;
    --oo-color-icon: #a0cfff;
    --oo-color-hover2: #F7FFF9;
    --oo-color-odd-even: #FAFAFA;
}
