<div>


    {{if $.data.length}}


    {{each $.data}}

    <div class="listItem2" styles="tileNode" data-o2-events="mouseover:overTaskItem2; mouseout:outTaskItem2;"
         style="">
        <div styles="tileItemNode" style="position: relative;">

            <div class="selectFlag" style="width: 20px;position: absolute;display: none">
                <div class="selectFlagArea" style="cursor: pointer"data-o2-events="o2load:bindSelectData;click:selectFile2:{{$.id}}">
                    <div class="selectFlagIcon" style="margin-left:0"></div>
                </div>
            </div>

            <div styles="tileItemIconNode" data-o2-events="click:open:{{$.id}}"><img class="{{$.id}}"
                                                                                     src="../x_component_Drive/$Main/default/filetype/{{$.fileType}}.png"
                                                                                     style="max-width:60px;max-height:60px;width: 60px;height:60px;border-radius: 10px;"></div>

            <div item="name" styles="tileItemTitleNode"
                 style="height: 36px; vertical-align: middle; padding-top: 2px; text-align: center; overflow: hidden;word-break: break-all">

                {{$.name}}
            </div>
        </div>
    </div>


    {{end each}}
    {{end if}}
    {{if !$.data.length}}
    <div class="emptyListArea">
        <div class="emptyListIcon"></div>
        <div class="emptyListText">
            {{$.lp.noFile}}
        </div>
    </div>
    {{end if}}
</div>
