<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%" style="min-width: 50px">
            <col width="47%">
            <col width="22%">
            <col width="23%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAllFile">
                        <div class="selectFlagIcon"></div>
                    </div>
                </div>
            </th>
            <th data-o2-element="sort_name_Node" data-o2-events="click:sortFile:name">
                <span>文件名</span>
                <span class="sort" style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou"></i>
                </span>
            </th>
            <th data-o2-element="sort_updateTime_Node"  data-o2-events="click:sortFile:updateTime"><span>修改时间</span>
                <span class="sort" style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou"></i>
                </span>
            </th>
            <th data-o2-element="sort_length_Node"  data-o2-events="click:sortFile:length">
                <span>大小</span>
                <span class="sort" style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou"></i>
                </span></th>
        </tr>
        </thead>
    </table>
</div>
