:root {
    --oo-color-main: #995e2e;
    --oo-color-main-light: #915b2d;
    --oo-color-main-deep: #7F4E26;
    --oo-color-over: #EAE9F8;
    --oo-color-deep: #331905;
    --oo-color-light: #F6F5FC;
    --oo-color-hover: #F5F3FD;
    --oo-color-icon: #857996;
    --oo-color-hover2: #E7E3FC;
    --oo-color-odd-even: #FAFAFA;
}
