.project
/.settings/
/local/
/localSample/
/config/
/configSample/
/logs/
/target/
/x_build/
/servers/
command.swap
/node_modules/
**/src/main/resources/META-INF/persistence.xml
**/src/main/resources/META-INF/x_persistence.xml
**/*_.java
**/src/main/webapp/describe/
console.jar
**/.DS_Store
.DS_Store
/commons/
/jvm/
*.zip
*.swap
version.o2
/custom/
/dynamic/

