@CHARSET "UTF-8";
/*@font-face {*/
/*	font-family: 'o2font';*/
/*	!*src:url('../font/alfont.eot');*!*/
/*	src:*/
/*			!*url('../font/alfont.eot?#iefix') format('embedded-opentype'),*!*/
/*			!*url('../font/alfont.woff') format('woff'),*!*/
/*			url('../font/alfont.ttf') format('truetype');*/
/*			!*url('../font/alfont.otf') format('opentype');*!*/
/*			!*url('/x_desktop/font/font.eot?#font-spider') format('embedded-opentype'),*!*/

/*			!*url('/x_desktop/font/font.svg') format('svg');*!*/
/*	font-weight: normal;*/
/*	font-style: normal;*/
/*}*/
html{
	overflow: hidden;
	height: 100%;
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	height: 100%;
	font-family: "Microsoft YaHei", "SimSun", "宋体", serif;
    font-size:14px;
	-webkit-overflow-scrolling: touch;
	/*background-color: #F1F1F1;*/
}
#appContent *{
	box-sizing: content-box!important;
}
#layout_main *{
	box-sizing: content-box!important;
}
/*
.table-tr-selected {
	background-color: #FFFFDD;
}*/

select.script::-ms-expand { display: none; }
::-ms-clear, ::-ms-reveal{display: none;}

@media print {

	@page:right{
		@bottom-left {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid #666;
			content: "Our Cats";
			font-size: 9pt;
			color: #333;
		}
		@bottom-right {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid #666;
			content: counter(page);
			font-size: 9pt;
		}
		@top-right {
			content: string(doctitle);
			margin: 30pt 0 10pt 0;
			font-size: 9pt;
			color: #333;
		}
	}
	html{
		overflow: visible;
		height: auto;
		margin:0;
		padding:0;
	}
	div {
		page-break-after:auto;
		page-break-inside:auto;
		page-break-before:auto;
	}
	table {
		page-break-after:auto;
		page-break-inside:auto;
		page-break-before:auto;
	}
	/*tr {*/
	/*	page-break-after:auto;*/
	/*	page-break-inside:auto;*/
	/*	page-break-before:auto;*/
	/*}*/

}
