@CHARSET "UTF-8";
html{
	overflow: hidden;
	height: 100%;
	margin:0px;
	padding:0px;
}
body {
	margin:0px;
	padding:0px;
	height: 100%;
	font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";
    font-size:14px;
	-webkit-overflow-scrolling: touch;
	/*background-color: #F1F1F1;*/
}
/*
.table-tr-selected {
	background-color: #FFFFDD;
}*/

select.script::-ms-expand { display: none; }
::-ms-clear, ::-ms-reveal{display: none;}

@media print {

	@page:right{
		@bottom-left {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid #666;
			content: "Our Cats";
			font-size: 9pt;
			color: #333;
		}
		@bottom-right {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid #666;
			content: counter(page);
			font-size: 9pt;
		}
		@top-right {
			content: string(doctitle);
			margin: 30pt 0 10pt 0;
			font-size: 9pt;
			color: #333;
		}
	}

}
