@charset "UTF-8";

/* @font-face {
    font-family: 'ooicon';
    src:
            url('./ooicon.ttf') format('truetype'),
            url('.ooicon.woff') format('woff'),
            url('.ooicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
} */
html{
	overflow: hidden;
	height: 100%;
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	height: 100%;
	font-family: "Microsoft YaHei", "SimSun", "宋体", serif;
    font-size:14px;
	-webkit-overflow-scrolling: touch;
	/*background-color: #F1F1F1;*/
}
.appContent *{
	box-sizing: content-box!important;
}
.layout_main *{
	box-sizing: content-box!important;
}
.o2_vue{
	box-sizing: border-box!important;
}
.o2_vue *{
	box-sizing: border-box!important;
}
.start-process-area{
	box-sizing: content-box!important;
}
.start-process-area *{
	box-sizing: content-box!important;
}
*::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 0.4rem;
	background-color: #dddddd;
}
*::-webkit-scrollbar-thumb{
	width: 0.4rem;
	border-radius: 0.4rem;
	background-color: #bbbbbb;
	cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover{
	width: 0.4rem;
	border-radius: 0.4rem;
	background-color: #999999;
	cursor: pointer;
}
/*
.table-tr-selected {
	background-color: #FFFFDD;
}*/

input,button,select,textarea{outline:none}

select.script::-ms-expand { display: none; }
::-ms-clear, ::-ms-reveal{display: none;}

/*.WordSection1 table{*/
/*	border: 0 !important;*/
/*}*/

@media print {

	@page:right{
		/*@bottom-left {*/
		/*	margin: 10pt 0 30pt 0;*/
		/*	border-top: .25pt solid #666;*/
		/*	content: "Our Cats";*/
		/*	font-size: 9pt;*/
		/*	color: #333;*/
		/*}*/
		@bottom-right {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid #666;
			content: counter(page);
			font-size: 9pt;
		}
		@top-right {
			content: string(doctitle);
			margin: 30pt 0 10pt 0;
			font-size: 9pt;
			color: #333;
		}
	}
	html{
		overflow: visible;
		height: auto;
		margin:0;
		padding:0;
	}
	div {
		page-break-after:auto;
		page-break-inside:auto;
		page-break-before:auto;
	}
	table {
		page-break-after:auto;
		page-break-inside:auto;
		page-break-before:auto;
	}
	/*tr {*/
	/*	page-break-after:auto;*/
	/*	page-break-inside:auto;*/
	/*	page-break-before:auto;*/
	/*}*/

}
