.o2_fileItemNode {
    padding: 5px;
    height: 60px;
    margin-top: 10px;
    margin-left: 0;
    border: 1px solid #CCC;
    background-color: #FFF;
    cursor: default;
}

.o2_fileItemNode {
    padding: 5px;
    height: 60px;
    margin-top: 10px;
    margin-left: 0;
    border: 1px solid #CCC;
    background-color: #FFF;
    cursor: default;
}
.o2_fileDeleteActionNode {
    padding: 0;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0;
    cursor: pointer;
    background: url('/x_component_process_ProcessManager/$Explorer/default/processIcon/deleteProcess.png') no-repeat center center;
}
.o2_fileItemIconNode {
    padding: 0;
    float: left;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.o2_fileItemImgNode{
    max-width: 60px;
    max-height: 60px;
}
.o2_fileItemInforNode {
    margin-left: 80px;
    margin-right: 26px;
    height: 60px;
    overflow: hidden;
}
.o2_fileItemInforBaseNode {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.o2_fileItemTextTitleNode {
    height: 20px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    color: #333;
    width: 34%;
    float: left;
}
.o2_fileItemUrlNode {
    margin-top: 10px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    color: #777;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.o2_fileItemTextDateNode {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    color: #888;
    overflow: hidden;
    white-space: normal;
    width: 24%;
    text-align: right;
    float: left;
}
.o2_fileItemTextDescriptionNode {
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    color: #777;
    float: left;
    width: 42%;
}
.o2_fileUrlNode {
    width: 100%;
    height: 32px;
    overflow: hidden;
    border: 0;
    font-size:12px;
    line-height: 15px;
    font-family: "Microsoft YaHei", "Microsoft YaHei", "SimSun", "宋体";
    color: #777777;
    white-space: normal;
    word-break: break-all;
    outline:none;
    background: transparent;
    resize: none;
}