.index_page_nav_box {
  background-color: #fff;
  overflow: auto;
}

.index_page_nav_menu {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  text-align: left;
  list-style: none;
  background: #fff;
  outline: none;
}
.index_page_nav_menu_title_container {
  display: flex;
  align-items: center;
}
.index_page_nav_menu_title_container .index_page_nav_menu_title {
  font-size: 15px;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.index_page_nav_sub_menu_container {
  color: #666666;
  padding-left: 20px;
}
.index_page_nav_sub_menu_title {
  padding-left: 5px;
  font-size: 14px;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.index_page_nav_menu_icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  cursor: pointer;
} 
.title_selected {
  font-weight: 700;
  background-color: #EBF1F7 !important;
  border-radius: 4px !important;
}

