.form {
  max-width: 720px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.config-border {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 11px;
  min-height: 32px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: all .3s;
}

.config-input-div {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  padding: 2px 10px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  background-image: none;
  border-radius: 18px;
  border: 1px solid #DEDEDE;
  transition: all .3s;
  color: #666666;
  font-size: 14px;
}
 