<div data-o2-element="zoneListNode" style="display: flex;flex-direction: column;height: 100%;overflow: hidden;">

    <div data-o2-element="personMenuListNode" class="m-list">


        <div class="m-list-item"  data-o2-events="click:loadList:all">
            <div class="m-list-item-l"><icon class="o2Drive icon-zhankai" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 我的文件</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div style="padding-left: 1.5rem;" class="m-list-item"  data-o2-events="click:loadList:image">
            <div class="m-list-item-l"><icon class="o2Drive icon-pic" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 图片</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div style="padding-left: 1.5rem;" class="m-list-item"  data-o2-events="click:loadList:office">
            <div class="m-list-item-l"><icon class="o2Drive icon-doc" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 文档</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div style="padding-left: 1.5rem;" class="m-list-item"  data-o2-events="click:loadList:movie">
            <div class="m-list-item-l"><icon class="o2Drive icon-vedio" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 视频</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div style="padding-left: 1.5rem;" class="m-list-item"  data-o2-events="click:loadList:music">
            <div class="m-list-item-l"><icon class="o2Drive icon-music" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 音乐</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div style="padding-left: 1.5rem;" class="m-list-item"  data-o2-events="click:loadList:other">
            <div class="m-list-item-l"><icon class="o2Drive icon-other" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 其他</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div class="m-list-item"  data-o2-events="click:loadList:myShare">
            <div class="m-list-item-l"><icon class="o2Drive icon-share" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 我的分享</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div class="m-list-item"  data-o2-events="click:loadList:shareToMe">
            <div class="m-list-item-l"><icon class="o2Drive icon-shareToMe" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 分享给我</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>

        <div class="m-list-item"  data-o2-events="click:loadList:recycle">
            <div class="m-list-item-l"><icon class="o2Drive icon-recycle" style="color:#2E82F7"></icon>
            </div>
            <div class="m-list-item-c">
                <div class="m-list-item-c-text"> 回收站</div>
            </div>
            <div class="m-list-item-r">
                <div class="ooicon-arrow_forward"></div>
            </div>
        </div>
    </div>


</div>
<div data-o2-element="mainNode" style="display: none;overflow: hidden;height: 100%;">
</div>
