@font-face {
  font-family: 'o2formdesigner';
  src:
    url('fonts/o2formdesigner.ttf?9mpsbh') format('truetype'),
    url('fonts/o2formdesigner.woff?9mpsbh') format('woff'),
    url('fonts/o2formdesigner.svg?9mpsbh#o2formdesigner') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="o2-icon-"], [class*=" o2-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'o2formdesigner' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o2-icon-tree:before {
  content: "\e900";
}
.o2-icon-file-play:before {
  content: "\e929";
}
.o2-icon-mobile:before {
  content: "\e958";
}
