<div class="o-time-picker">
  <div class="o-time-picker-input">
    <span class="{{$.value ? 'input' : 'input placeholder'}}">{{$.value ? $.showValue : $.lp.components.monthDaySelectorPlaceholder}}</span>
    <div class="icon"><i class="o2icon-icon_arrow_down"></i></div>
  </div>
  <div class="o-time-minutes-selctor" style="display: none;">
    <ul class="o-time-minutes-selector-ul ">
      <li oo-each="$.monthList" oo-item="month"
        class="{{month.value == $.chooseMonth ? 'lightColor_bg o-time-minutes-selector-li':'o-time-minutes-selector-li'}}"
        @click="this.changeChooseMonth(month.value)">{{month.value == '' ?
        '' : month.value + $.lp.components.monthDaySelectorMonth}}
      </li>
    </ul>
    <ul class="o-time-minutes-selector-ul ">
      <li oo-each="$.dayList" oo-item="day"
        class="{{day.value == $.chooseDay ? 'lightColor_bg o-time-minutes-selector-li':'o-time-minutes-selector-li'}}"
        @click="this.selected(day.value)">{{day.value == '' ? '' :
        day.value + $.lp.components.monthDaySelectorDay}}</li>
    </ul>
  </div>
</div>