<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%">
            <col width="46%">
            <col width="30%">
            <col width="20%">

        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAllFile">
                        <div class="selectFlagIcon"></div>
                    </div>
                </div>
            </th>
            <th data-o2-element="sortNameNode">
                <span>用户</span>
            </th>
            <th data-o2-element="sortUpdateTimeNode"><span>更新时间</span>
            </th>
            <th data-o2-element="sortLenthNode">
                <span>容量(M)</span>
            </th>
        </tr>
        </thead>
    </table>
</div>
