<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="5%">
            <col width="25%">
            <col width="20%">
            <col width="30%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAll">
                        <div class="selectFlagIcon o2WorkApplication"></div>
                    </div>
                </div>
            </th>
            <th data-o2-element="sortNameNode" data-o2-events="click:sortFile:name">
                <span style="padding-left:10px">流程</span>
            </th>
            <th data-o2-element="sortUpdateTimeNode"  data-o2-events="click:sortFile:updateTime">
                <span>关键字</span>
            </th>
            <th data-o2-element="sortLenthNode"  data-o2-events="click:sortFile:length">
                <span>流水号</span>
            </th>
            <th data-o2-element="sortLenthNode"  data-o2-events="click:sortFile:length">
                <span>更新时间</span>
            </th>
        </tr>
        </thead>
    </table>
</div>
