:root {
    --oo-color-main: #60bf78;
    --oo-color-main-light: #a0cfff;
    --oo-color-main-deep: #205C2F;
    --oo-color-over: #c6e2ff;
    --oo-color-deep: #053311;
    --oo-color-light: #c6e2ff;
    --oo-color-hover: #F5F3FD;
    --oo-color-icon: #d9ecff;
    --oo-color-hover2: #E7E3FC;
    --oo-color-odd-even: #FAFAFA;
}
