<div class="layout-wrap" data-o2-element="rootNode">
    <div class="layout-left" data-o2-element="leftNode">
        <div class="title">
            <img src="{{$.config.appIconUrl}}">
            <span>{{$.config.appName}}</span>
        </div>
        <div class="menu-item " data-o2-events="click:openIndex">
            <div class="ooicon-a-home2"></div>
            <div>{{$.lp.navi.index}}</div>
        </div>
        <div class="menu-item" data-o2-events="click:openMcp">
            <div class="ooicon-m1"></div>
            <div>{{$.lp.navi.mcp}}</div>
        </div>
        <div class="menu-item " data-o2-events="click:openModel">
            <div class="ooicon-list-alt"></div>
            <div>{{$.lp.navi.model}}</div>
        </div>
        <div class="menu-item  menu-item-c" data-o2-events="click:openSetting">
            <div class="ooicon-config"></div>
            <div>{{$.lp.navi.setting}}</div>
        </div>
    </div>
    <div class="layout-right" data-o2-element="rightNode">
        <div class="page">
            <div class="chat-top" data-o2-element="titleNode">{{$.lp.navi.mcp}}</div>
            <div class="form-layout">
                <div class="form-content">
                    <div class="form-content-area">
                        <oo-input required="true"
                                  label="{{$.lp.config.appName}}"
                                  value="{{$.config.appName}}"
                                  style="flex:100%"
                                  name="appName"
                                  label-style="width:6.2vw;"
                                  label-Align="right">
                        </oo-input>

                        <oo-input required="true"
                                  label="{{$.lp.config.appIconUrl}}"
                                  value="{{$.config.appIconUrl}}"
                                  style="flex:100%"
                                  name="appIconUrl"
                                  label-style="width:6.2vw;"
                                  label-Align="right">
                        </oo-input>

                        <oo-input required="true"
                                  label="{{$.lp.config.welcome}}"
                                  value="{{$.config.title}}"
                                  style="flex:100%"
                                  name="title"
                                  label-style="width:6.2vw;"
                                  label-Align="right">
                        </oo-input>
                        <oo-textarea required="true"
                                     label="{{$.lp.config.aidesc}}"
                                     value="{{$.config.desc}}"
                                     style="flex:100%"
                                     name="desc"
                                     label-style="width:6.2vw;"
                                     label-Align="right">
                        </oo-textarea>
                        <oo-radio-group name="o2AiEnable"
                                        label="{{$.lp.config.o2AiEnable}}"
                                        value="{{$.config.o2AiEnable}}"
                                        label-style="width:6.2vw;"
                                        label-Align="right">
                            <oo-radio value="true" data-o2-events="click:setAiEnable" >{{$.lp.common.yes}}</oo-radio>
                            <oo-radio value="false" data-o2-events="click:setAiEnable" >{{$.lp.common.no}}</oo-radio>
                        </oo-radio-group>
                        <div data-o2-element="aiEnableNode" style="{{if !$.config.o2AiEnable}}display:none{{end if }}">
                            <div class="content-item"  style="width:100%;flex:100%;flex-wrap: wrap;gap: 1em 2em;display: flex;">
                                <oo-input required="true"
                                          label="{{$.lp.config.o2AiBaseUrl}}"
                                          value="{{$.config.o2AiBaseUrl}}"
                                          style="flex:100%"
                                          name="o2AiBaseUrl"
                                          label-style="width:6.2vw;"
                                          label-Align="right">
                                </oo-input>
                                <oo-input required="true"
                                          label="{{$.lp.config.o2AiToken}}"
                                          value="{{$.config.o2AiToken}}"
                                          style="flex:100%"
                                          name="o2AiToken"
                                          label-style="width:6.2vw;"
                                          label-Align="right">
                                </oo-input>
                                <oo-input data-o2-events="click:selectCMS"
                                          v="{{$.config.knowledgeIndexAppValue}}"
                                          required="true"
                                          label="{{$.lp.config.knowledge}}"
                                          readonly="true"
                                          value="{{$.config.knowledgeIndexApp}}"
                                          style="flex:100%"
                                          name="knowledgeIndexAppList"
                                          label-style="width:6.2vw;"
                                          label-Align="right">
                                </oo-input>
                            </div>
                        </div>

                        <div style="display: flex;justify-content: center; align-items: center;flex:100%;">
                            <oo-button data-o2-events="click:save" style="width:5em;">{{$.lp.common.save}}</oo-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
