:root {
    --oo-color-main: #2E82F7;
    --oo-color-main-light: #64a3ec;
    --oo-color-main-deep: #337acc;
    --oo-color-over: #ddebfc;
    --oo-color-deep: #092E59;
    --oo-color-light: #F5F8FC;
    --oo-color-hover: #f3f8fd;
    --oo-color-icon: #9293A6;
    --oo-color-hover2: #E3EEFC;
    --oo-color-odd-even: #FAFAFA;
}
