
.o2_im_out {
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}
.o2_im_chat_list {
    border-top: 1px solid rgb(255, 255, 255); 
    border-right: 1px solid rgb(221, 221, 221); 
    float: left; 
    width: 257px; 
    height: 100%; 
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.o2_im_chat_list_top {
    margin-bottom: 20px;
    height: 40px; 
    background-color: rgb(248, 248, 248); 
    border-bottom: 1px solid rgb(204, 204, 204);
}
.o2_im_chat_list_top .add {
    background: url(../x_component_IMV2/$Main/default/icons/add.png) left center no-repeat;
    height: 40px;
    cursor: pointer;
    margin-left: 14px;
    text-align: center;
    line-height: 40px;
    color: #848484;
    padding-left: 24px;
    float: left;
}

.o2_im_chat_list_top .group {
  height: 40px;
  cursor: pointer;
  margin-left: 14px;
  text-align: center;
  line-height: 40px;
  color: #848484;
  padding-left: 24px;
  float: left;
}

.o2_im_chat_list_top .search_out {
    margin-right: 40px; 
    height: 40px;
}
.o2_im_chat_list_top .search_icon {
    float: left; 
    width: 40px; 
    height: 40px; 
    background: url(../x_component_IMV2/$Main/default/icons/search.png) center center no-repeat;
    cursor: pointer;
}
.o2_im_chat_list_top .search_input_out {
    margin-left: 40px; text-align: left;
}
.o2_im_chat_list_top .search_input {
    margin-top: 7px; 
    width: 96%; 
    height: 24px; 
    line-height: 24px; 
    border: 0px; 
    font-family: "Microsoft YaHei"; 
    font-size: 12px; 
    color: rgb(153, 153, 153); 
    background: transparent; 
    user-select: auto;
}


.o2_im_chat_list_top .add_button {
    height: 50px;
    width: 160px; 
    color: rgb(51, 51, 51); 
    font-size: 16px; 
    line-height: 50px; 
    padding-left: 10px; 
    padding-right: 10px; 
    cursor: pointer;
    margin: 0 auto;
    border:1px solid rgb(204, 204, 204);
}
.o2_im_chat_list_top .add_button .icon {
    height: 50px; 
    width: 30px; 
    float: left; 
    background: url(../x_component_IMV2/$Main/default/icons/icon_newapply.png) center center no-repeat;
}
.o2_im_chat_list_top .add_button .text {
    line-height: 50px; 
    height: 50px; 
    float: left;
}

.o2_im_chat_list .item {
    overflow: hidden; 
    height: 60px; 
    margin: 0px;
}
.o2_im_chat_list .item .base {
    height: 60px; 
    cursor: pointer; 
}
.o2_im_chat_list .item .normal {
    background-color: rgb(253, 253, 253);
}
.o2_im_chat_list .item .check {
    background-color: rgb(228, 228, 228);
}
.o2_im_chat_list .item .avatar {
    background-position: center center; 
    background-repeat: no-repeat; 
    margin-left: 16px; 
    height: 48px; 
    width: 48px; 
    border-radius: 24px; 
    margin-top: 6px; 
    background-color: rgb(255, 255, 255); 
    float: left;
}
.o2_im_chat_list .item .avatar .img {
    width: 48px; 
    height: 48px; 
    border: 0px; 
    border-radius: 24px;
}
 
.o2_im_chat_list .item .body {
    height: 59px;
    margin-left: 16px;
    border-bottom: 1px solid rgb(221, 221, 221); 
}
.o2_im_chat_list .item .body_up {
    height:30px; 
    line-height: 30px; 
    margin-left: 56px;
    margin-right: 14px;
}
.o2_im_chat_list .item .body_up .body_title {
    float:left; 
    color: rgb(51, 51, 51); 
    overflow:hidden;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.o2_im_chat_list .item .body_up .body_time {
    float: right; 
    color: rgb(191, 191, 191); 
    font-size: 12px; 
    overflow:hidden;
}
.o2_im_chat_list .item .body_down {
    margin-left: 8px;
    margin-top: 5px;
    max-width: 120px;
    height:20px; 
    line-height: 20px; 
    float:left; 
    overflow:hidden; 
    font-size: 12px; 
    color: #aaaaaa;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.o2_im_chat_list_conv {
  flex: 1;
  overflow: auto;
}


.o2_im_chat_content {
    height: 100%; 
    margin-left: 259px; 
    overflow: hidden; 
    background-color: rgb(255, 255, 255); 
    opacity: 1;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.o2_im_chat_content_title_more {
  background-image: url(../x_component_IMV2/$Main/default/icons/more.png);
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 64px;
  float: right;
  cursor: pointer;
  display: none;
}

.o2_im_chat_content_title_menu {
    width: 98px;
    position: absolute;
    right: 24px;
    top: 61px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10000;
}
.o2_im_chat_content_title_menu_item {
  height: 48px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}


/* 聊天界面 */
.chat-emoji-box {
  position: absolute;
  width:630px;
  height: 260px;
  left: 5px;
  bottom: 155px;
  background-color: #ffffff;
  border: 1px solid #F1F1F1; 
  padding-top: 8px;
  border-radius: 8px; 
  box-shadow: 5px 5px #1d1d1d10;
  z-index: 100;
}
.chat-emoji-img {
  width: 32px;
  height: 32px; 
  float: left; 
  margin: 5px;
}
.chat-title {
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #F1F1F1;
  }

  .chat-title span {
    line-height: 30px;
  }

  .chat-content {
    background-color: #ebebeb;
    overflow: auto;
    flex:1;
  }

  .chat-bottom-area {
    height: 155px;
    overflow: hidden;
    border-top: 1px solid #F1F1F1;
    background: #ffffff;
  }

  .chat-bottom-area-tool {
    position: relative;
    padding: 0 8px;
    height: 38px;
    line-height: 38px;
    font-size: 0;
  }

  .chat-bottom-area-tool img {
    margin: 7px 10px;
  }

  .chat-bottom-area-textarea {
    margin-left: 10px;
  }

  .chat-bottom-area-textarea textarea {
    display: block;
    width: 100%;
    padding: 5px 0 0;
    height: 68px;
    line-height: 20px;
    border: none;
    overflow: auto;
    resize: none;
    background: 0 0;
  }

  .chat-bottom-area-send-space {
    position: relative;
    height: 46px;
  }

  .chat-bottom-area-send {
    position: absolute;
    right: 15px;
    top: 3px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
  }

  .chat-bottom-area-send-btn {
    border-radius: 3px 0 0 3px;
  }

  .chat-bottom-area-send span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px;
    margin-left: 5px;
    padding: 0 20px;
    background-color: #5FB878;
    color: #fff;
    border-radius: 3px;
  }


  .chat-sender {
    clear: both;
    /* font-size: 80%; */
    float: left;
    width: 75%;
  }

  .chat-sender div:nth-of-type(1) {
    float: left;
  }

  .chat-sender div:nth-of-type(2) {
    margin: 0 50px 2px 50px;
    padding: 0px;
    color: #848484;
    /* font-size: 70%; */
    text-align: left;
  }

  .chat-sender div:nth-of-type(3) {
    background-color: white;
    /*float: left;*/
    margin: 0 50px 10px 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    text-indent: -12px;
    word-wrap: break-word;
  }
  .chat-sender .img-chat {
    width:192px;
    height:144px;
    display: table-cell;
    vertical-align: middle;
  }
  .chat-sender .img-chat img  {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
  }
  
  .chat-receiver {
    clear: both;
    /* font-size: 80%; */
    float: right;
    width: 75%;
  }

  .chat-receiver div:nth-of-type(1) {
    float: right;
  }

  .chat-receiver div:nth-of-type(2) {
    margin: 0px 50px 2px 50px;
    padding: 0px;
    color: #848484;
    /* font-size: 70%; */
    text-align: right;
  }
  .chat-receiver .img-chat {
    width:192px;
    height:144px;
    display: table-cell;
    vertical-align: middle;
}
.chat-receiver .img-chat img  {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

  .chat-receiver div:nth-of-type(3) {
    /*float:right;*/
    background-color: #b2e281;
    margin: 0px 50px 10px 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    word-wrap: break-word;
  }

  .chat-receiver div:first-child img,
  .chat-sender div:first-child img {
    width: 40px;
    height: 40px;
    /*border-radius: 10%;*/
  }

  .chat-left_triangle {
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: relative;
    left: -22px;
    top: 3px;
  }

  .chat-right_triangle {
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #b2e281;
    position: relative;
    right: -22px;
    top: 3px;
  }
  .chat-content-emoji {
    width: 32px;
    height: 32px; 
    margin: 5px;
  }
  .chat-notice {
    clear: both;
    font-size: 70%;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .chat-notice span {
    background-color: #cecece;
    line-height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
  }