@font-face {
  font-family: 'calendar';
  src:
    url('../x_component_calendarv2/$Main/default/fonts/calendar.ttf?urwbj3') format('truetype'),
    url('../x_component_calendarv2/$Main/default/fonts/calendar.woff?urwbj3') format('woff'),
    url('../x_component_calendarv2/$Main/default/fonts/calendar.svg?urwbj3#calendar') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'calendar' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o2icon-day:before {
  content: "\e93c";
}
.o2icon-month:before {
  content: "\e93d";
}
.o2icon-list:before {
  content: "\e93f";
}
.o2icon-true:before {
  content: "\e941";
}
.o2icon-newfiles:before {
  content: "\e95c";
}
.o2icon-cross:before {
  content: "\e987";
}
.o2icon-create:before {
  content: "\e9af";
}
.o2icon-delete:before {
  content: "\e9b0";
}
.o2icon-triangle_left:before {
  content: "\e9b1";
}
.o2icon-triangle_right:before {
  content: "\e9b3";
}
.o2icon-triangle_down:before {
  content: "\e9b2";
}
.o2icon-triangle_up:before {
  content: "\e9b4";
}
.o2icon-config:before {
  content: "\e9ba";
}
.o2icon-calendar-add:before {
  content: "\e9c2";
}
.o2icon-week:before {
  content: "\e9c3";
}
