
/* 操作条容器 */
.form-layout .form-toolbar-area {
    box-shadow: 0 2px 10px 0 var(--oo-color-gray-e1);
    background-color: #ffffff;
    /*flex: 0 1 3.8em;*/
    padding: 0.7em 0;
    display: flex !important;
    position: relative;
    z-index: 100;
}
.form-layout .form-toolbar {
    display: flex !important;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    border: 0 !important;
    width: 80% !important;
    margin: auto !important;
    min-width: 42em;
    max-width: 86em;
}
.form-layout .form-content {
    box-sizing: border-box !important;
}
.form-layout .form-content>div {
    min-width: 42rem;
    max-width: 86rem;
}

.form-layout .form-content * {
    box-sizing: border-box !important;
}
.form-layout .form-content-area {
    padding: 2em 3em;
    display: flex !important;
    background-color: #ffffff !important;
    gap: 1em 2em;
    flex-wrap: wrap;
    /*align-items: center;*/
    position: relative;
}

.form-layout .form-content div[mwftype='documenteditor'] {
    box-sizing: content-box !important;
}
.form-layout .form-content div[mwftype='documenteditor'] * {
    box-sizing: content-box !important;
}

.form-layout .form-content-area .content-item,
.form-layout .form-content-area oo-input,
.form-layout .form-content-area oo-selector,
.form-layout .form-content-area oo-textarea,
.form-layout .form-content-area oo-radio-group,
.form-layout .form-content-area oo-checkbox-group,
.form-layout .form-content-area oo-select,
.form-layout .form-content-area oo-datetime,
.form-layout .form-content-area div[mwftype='OOCheckGroup'],
.form-layout .form-content-area div[mwftype='OORadioGroup'] {
    flex: 1 1 46%;
}
.form-layout .content-item * {
    box-sizing: border-box !important;
}
.form-layout .form-content-area oo-datetime {
    min-width: 6.8em;
}
.form-layout .flex {
    display: flex !important;
    align-items: center;
}
.form-layout .form-content-area .label {
    width: 6.2vw;
    min-width: 4.3em;
    max-width: 9em;
    padding: 0.5em 0.35em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    white-space: nowrap;
    color: var(--oo-color-text2);
}

/** 内容管理阅读记录***************************/
/* .form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] {
    margin-top: 0 !important;
}
.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div {
    border: 0 !important;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:first-child {
    height: unset !important;
    background-color: #ffffff !important;
    padding: 0.7em 0.8em !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    line-height: unset !important;
    font-size: 1em !important;
    font-weight: bold;
    padding-left: 0.8em !important;
}
.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:first-child > div {
    float: right;
    height: unset !important;
    line-height: unset !important;
    font-size: 0.875em !important;
    margin-right: 0 !important;
    font-weight: normal;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:last-child {
    display: none !important;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:nth-child(2) {
    overflow: hidden;
    margin-right: 0 !important;
    width: 100% !important;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:nth-child(2) table {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:nth-child(2) table tr {
    background-color: transparent !important;
}
.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:nth-child(2) table tr:first-child > td {
    background-color: #f7f7f7 !important;
}

.form-content-area div[data-mwf-el-type='MWFFormDesignerLog'] > div > div:nth-child(2) table td {
    padding: 0.6em;
    text-align: center;
    border-bottom: 1px solid #dfdfdf !important;
} */

/* 数据表格 **/
.form-layout .mwf_addlineaction .addLineAction {
    line-height: 20px !important;
    text-align: center !important;
}
.form-layout div[mwftype='datatable'] .mwf_sequence {
    text-align: center;
}

.form-layout .form-datatable .addLineAction,
.form-layout .form-datatable .delLineAction {
    background: none !important;
}

/* 意见区域 */
/* 流程意见默认样式 */
.form-layout div.form-log[mwftype='log'] {

}

.form-layout div.form-log[mwftype='log'] > div {
    border-radius: var(--oo-default-radius);
    border: 0 !important;
    padding: 0 !important;
    /*box-shadow: var(--oo-shadow-border);*/
}
.form-layout div.form-log[mwftype='log'] > div > div {
    padding: 0.5em;
    border-bottom: 1px solid #dedede;
    background-color: #ffffff !important;
}
.form-layout div.form-log[mwftype='log'] > div > div > div {
    display: flex;
    align-items: center;
}
.form-layout div.form-log[mwftype='log'] > div > div > div > div:nth-child(2) {
    margin-left: 0 !important;
    flex: 1;
}

.form-layout div.form-log[mwftype='log'] .logItem {
    display: flex;
    gap: 1em;
    align-items: center;
    line-height: 1.8em;
}
.form-layout div.form-log[mwftype='log'] .logItem img {
    width: 11.85em;
    font-size: 0.875rem;
}
.form-layout div.form-log[mwftype='log'] .logItemIcon {
    width: 4em;
    height: 4em;
    background-size: 3em 3em;
    background-position: center;
    background-repeat: no-repeat;
}

.form-layout div.form-log > div > div {
    padding: 0 !important;
    border-bottom: 1px solid #dedede;
    background-color: transparent !important;
}
.form-layout div.form-log > div > div:first-child > div {
    float: none;
    height: unset !important;
    line-height: unset !important;
    font-size: 0.875em !important;
    margin-right: 0 !important;
    font-weight: normal;
}

.form-layout div.form-log-simple {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 6px;
}

.form-layout .form-description {
    background-color: var(--oo-color-over);
    border-radius: var(--oo-default-radius);
    margin: 1em 0 1em 1.2em;
    padding: 1em;
    gap: 1em;
    line-height: 1.5em;
    align-items: flex-start;
}
.form-layout .form-description .ooicon-tanhao {
    color: var(--oo-color-main);
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 0;
}

.form-layout .form-side-content {
    position: absolute;
    right: 0.8em;
    top: 40%;
}
.form-layout .form-side-bookmark-content {
    min-height: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 0.3em 0 #dedede;
    border-radius: 0.42857em;
    padding: 0.5em;
    text-align: center;
}

.form-layout .form-side-bookmark-content > div {
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.form-layout .form-side-bookmark-content > div:hover {
    background-color: var(--oo-color-hover);
}

.form-layout .form-side-top {
    margin-top: 0.5em;
    /* width: 6em; */
    background: #2e82f7;
    box-shadow: 0 0 0.3em 0 #dedede;
    border-radius: 0.42857em;
    padding: 0.5em 0.5em;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.form-layout .item-label {
    width: 6.2vw;
    min-width: 4.3em;
    max-width: 9em;
    padding: 0.5em 0.35em;
    margin-right: 0.5em;
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex: 0 0 6.2vw;
    color: var(--oo-color-text2);
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box !important;
    white-space: nowrap;
}

/*** 视图样式 *********************************/
.form-layout .page-content-section div[mwftype='statement'] {
    flex: 100%;
    background-color: #ffffff;
    border-radius: var(--oo-default-radius);
    box-sizing: border-box !important;
    height: 100%;
    overflow: hidden;
}
.form-layout .page-content-section div[mwftype='statement'] > div {
    display: flex;
    flex-direction: column;
}

.form-layout .page-content-section div[mwftype='statement'] > div > div:nth-child(3) {
    height: auto !important;
    flex: 1;
    /* overflow: auto !important;
    padding: 1em; */
}
.form-layout .page-content-section div[mwftype='statement'] > div > div:nth-child(3) > div {
    overflow: auto !important;
    padding: 1em;
    font-size: 1rem !important;

}

.form-layout .page-content-section div[mwftype='statement'] > div > div:nth-child(4) > div {
    height: 3em !important;
    margin-top: 0.5em !important;
}
.form-layout .page-content-section div[mwftype='statement'] > div > div:nth-child(4) > div > div {
    margin-top: 0.5em !important;
}
.form-layout .page-content-section div[mwftype='statement'] table td {
    color: var(--oo-color-text2);
    border-bottom: 1px solid #dfdfdf !important;
    transition: background-color 0.3s;
    height: 2.142857em !important;
    line-height: 2.142857em !important;
}

.form-layout .page-content-section div[mwftype='statement'] table tr:nth-child(1) td {
    background-color: #f7f7f7 !important;
    white-space: nowrap;
    /* border: 0 !important; */
}
.form-layout tr.viewTitleLine > td {
    background-color: #f7f7f7 !important;
    border: 0 !important;
}

.form-layout .page-content-section div[mwftype='statement'] tr:hover > td {
    background-color: var(--oo-color-hover) !important;
}

.form-layout tr.viewTitleLine > td {
    background-color: #f7f7f7 !important;
    border: 0 !important;
}

.form-layout .page-content-section div[mwftype='view'] {
    flex: 100%;
    background-color: #ffffff;
    border-radius: var(--oo-default-radius);
    box-sizing: border-box !important;
    height: 100%;
    overflow: hidden;
}
.form-layout .page-content-section div[mwftype='view'] > div {
    display: flex;
    flex-direction: column;
}

.form-layout .page-content-section div[mwftype='view'] > div > div:nth-child(3) {
    height: auto !important;
    flex: 1;
    /* overflow: auto !important;
    padding: 1em; */
}
.form-layout .page-content-section div[mwftype='view'] > div > div:nth-child(3) > div {
    overflow: auto !important;
    padding: 1em;
}

.form-layout .page-content-section div[mwftype='view'] > div > div:nth-child(4) > div {
    height: 3em !important;
}
.form-layout .page-content-section div[mwftype='view'] > div > div:nth-child(4) > div > div {
    margin-top: 0.5em !important;
}
.form-layout .page-content-section div[mwftype='view'] table td {
    color: var(--oo-color-text2);
    border-bottom: 1px solid #dfdfdf !important;
    transition: background-color 0.3s;
}

.form-layout .page-content-section div[mwftype='view'] table tr:nth-child(1) td {
    background-color: #f7f7f7 !important;
    white-space: nowrap;
    /* border: 0 !important; */
}

.form-layout .page-content-section div[mwftype='view'] tr:hover > td {
    background-color: var(--oo-color-hover) !important;
}

.form-layout .selector-area{
    box-sizing: content-box !important;
}

.form-layout .selector-area *{
    box-sizing: content-box !important;
}


.form-layout .page-content-section div[mwftype='view'] .pagingBar > div,
.form-layout .page-content-section div[mwftype='statement'] .pagingBar > div{
    border-radius: var(--oo-default-radius) !important;
}

.form-layout .page-content-section div[mwftype='view'] .pagingBar .pageItem, 
.form-layout .page-content-section div[mwftype='view'] .pagingBar .currentPage,
.form-layout .page-content-section div[mwftype='statement'] .pagingBar .pageItem, 
.form-layout .page-content-section div[mwftype='statement'] .pagingBar .currentPage{
    border-radius: var(--oo-default-radius) !important;
}

/* 视图选择按钮 */
.form-layout .form-content-view-selector, .form-layout .form-content-button {
    color: #ffffff !important;
    border-radius: var(--oo-default-radius) !important;
    border: 0 !important;
    cursor: pointer !important;
    padding: 0.375em 0.6em !important;
    background-color: var(--oo-color-main) !important;
    transition: background 0.1s, color 0.1s !important;
    text-align: center !important;
    height: unset !important;
    line-height: unset !important;
}
.form-layout .form-content-view-selector:hover, .form-layout .form-content-button:hover {
    background-color: var(--oo-color-main-light) !important;
}
.form-layout .form-content-view-selector:focus, .form-layout .form-content-button:focus {
    background-color: var(--oo-color-main-light) !important;
}
.form-layout .form-content-view-selector:active, .form-layout .form-content-button:active {
    background-color: var(--oo-color-main-deep) !important;
}

.form-layout .v10_dialog{
    box-sizing: content-box !important;
}
.form-layout .v10_dialog *{
    box-sizing: content-box !important;
}

/* 手机 */
@media only screen and (max-width: 767px) {
    .form-layout .form-layout {
        width: 99%;
        min-width: 99%;
        margin: auto;
    }

    .form-layout .form-layout {
        /* width: 99%; */
        /* min-width: 99%; */
        margin: auto;
    }
    .form-layout .form-content > div {
        width: unset !important;
        min-width: unset !important;
    }
    .form-layout .form-content-area oo-input {
        flex: 1 1 100%;
    }
    .form-layout .form-toolbar {
        width: 99% !important;
        margin: auto !important;
        min-width: 99%;
        max-width: unset !important;
    }
    .form-layout .form-content-area {
        padding: 1em 1em;
    }
    .form-layout .form-description {
        margin: 0;
    }
}

/* 平板电脑 */
@media only screen and (min-width: 768px) and (max-width: 1279px) {

}

/* 桌面电脑 */
@media only screen and (min-width: 1280px) {}