/*** 二级页面布局 *******************************/
/** 左导航-右列表 **/
.page-nav-content * {
    box-sizing: border-box !important;
}
.page-nav-content {
    display: grid !important;
    height: 100%;
    grid-template-columns: 16rem auto;
}
.page-nav {
    background-color: #ffffff;
    box-shadow: #00000040 0 5px 5px 0;
    position: relative;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
}
.page-content {
    padding: 1em;
    overflow: hidden;
    display: grid !important;
    grid-template-rows: 100%;
}
.page-content-area {
    display: flex !important;
    flex-direction: column;
    position: relative !important;
    overflow: hidden;
    gap: 1em;
}
.page-content-area > div,
.page-content-section {
    background-color: #ffffff;
    border-radius: var(--oo-default-radius);
    padding: 1em;
    display: grid !important;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
}
.v10_dialog_content.page-content-section .tabContentArea{
    display: contents;
}
.v10_dialog_content.page-content-section .tabContentArea [name='MWFcontentNodeContainer']{
    display: contents;
}

.page-nav-title {
    margin: 0.625em;
    border-radius: 0.2em;
    background-color: var(--oo-color-light);
    height: 2.6em;
    font-size: 1.125em;
    color: var(--oo-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.page-nav-title-icon {
    padding-right: 0.3rem;
    font-size: 1.3rem;
}
.page-nav-title-text {
    padding: 0 1em 0 0.3em;
}

.page-content-section oo-input,
.page-content-section oo-selector,
.page-content-section oo-textarea,
.page-content-section oo-radio-group,
.page-content-section oo-checkbox-group,
.page-content-section oo-select,
.page-content-section oo-currency,
.page-content-section oo-datetime,
.page-content-section oo-switch,
.page-content-section div[mwftype='OOCheckGroup'],
.page-content-section div[mwftype='OORadioGroup'] {
    flex: 0 0 23%;
}

.pagingBarWraper .currentPage {
    background-color: var(--oo-color-main) !important;
}
.pagingBarWraper .pageItem:hover,
.pagingBarWraper .firstPage:hover,
.pagingBarWraper .lastPage:hover,
.pagingBarWraper .prePage:hover,
.pagingBarWraper .nextPage:hover {
    color: var(--oo-color-main) !important;
    background-color: var(--oo-color-hover) !important;
}

.pagingBarWraper .pageJumper:focus {
    border: 1px solid var(--oo-color-main) !important;
}

.pagingBarWraper .prePage,
.pagingBarWraper .nextPage {
    font-family: 'ooicon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none !important;
}
.pagingBarWraper .prePage:before {
    content: '\e651';
}
.pagingBarWraper .nextPage:before {
    content: '\e64c';
}

.process-start-area {
    box-sizing: content-box !important;
}
.process-start-area * {
    box-sizing: content-box !important;
}

.search-area{
    flex-wrap: nowrap !important;
}

.page-content-search-fields{
    flex: 1 1 100%;
    display: grid !important;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box !important;
}
.page-content-search-fields *{
    box-sizing: border-box !important;
}

.page-content-search-actions{
    flex: 0 0 12.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}
.search-item{
    display: flex;
    align-items: center;
    /* min-width: 24rem; */
}

.search-item oo-input,
.search-item oo-selector,
.search-item oo-textarea,
.search-item oo-radio-group,
.search-item oo-checkbox-group,
.search-item oo-select,
.search-item oo-currency,
.search-item oo-datetime,
.search-item oo-switch,
.search-item div[mwftype='OOCheckGroup'],
.search-item div[mwftype='OORadioGroup'] {
    flex: 1;
}

.search-item-title{
    width: 6rem; 
    min-width:4.3em; 
    max-width:9em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em 0.35em;
    margin-right: 0.5em;
}
.search-item-flag{
    margin: 0 0.5em;
}


/* 分辨率小于 1600px */
@media only screen and (min-width: 768px) and (max-width: 1599px) {
    .page-content-search-fields{
        grid-template-columns: 1fr 1fr;
    }
}

/* 分辨率大于 1980px */
@media only screen and (min-width: 1980px) {
    .page-content-search-fields{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}