/*** 二级页面布局 *******************************/
/** 左导航-右列表 **/
.page-nav-content * {
    box-sizing: border-box !important;
}
.page-nav-content {
    display: grid !important;
    height: 100%;
    grid-template-columns: 16rem auto;
}
.page-nav {
    background-color: #ffffff;
    box-shadow: #00000040 0 5px 5px 0;
    position: relative;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
}
.page-content {
    padding: 1em;
    overflow: hidden;
    display: grid !important;
    grid-template-rows: 100%;
}
.page-content-area {
    display: flex !important;
    flex-direction: column;
    position: relative !important;
    overflow: hidden;
    gap: 1em;
}

.page-content-section .form-content-view .searchAreaNode{
    overflow: hidden;
    padding: 0 1rem;
}
.page-content-section .form-content-view .actionbarAreaNode{
    padding: 1rem 0 0 0;
    box-shadow: 0 0 5px 0px #cccccc;
    margin-bottom: 1rem;
}
.page-content-section .form-content-view .actionbarAreaNode>div{
    margin: 0!important;
}

.page-content-area > div,
.page-content-section {
    background-color: #ffffff;
    border-radius: var(--oo-default-radius);
    padding: 0;
    display: flex !important;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
}
.v10_dialog_content.page-content-section .tabContentArea{
    display: contents;
}
.v10_dialog_content.page-content-section .tabContentArea [name='MWFcontentNodeContainer']{
    display: contents;
}

.page-nav-title {
    margin: 0.625em;
    border-radius: 0.2em;
    background-color: var(--oo-color-light);
    height: 2.6em;
    font-size: 1.125em;
    color: var(--oo-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.page-nav-title-icon {
    padding-right: 0.3rem;
    font-size: 1.3rem;
}
.page-nav-title-text {
    padding: 0 1em 0 0.3em;
}

.page-nav-title-create{
    font-size:1rem; 
    margin: 0 0.625em 0.625em 0.625em;
    height: auto; 
    background-color:transparent;
    color: #ffffff;
   
}

.page-content-section oo-input,
.page-content-section oo-selector,
.page-content-section oo-textarea,
.page-content-section oo-radio-group,
.page-content-section oo-checkbox-group,
.page-content-section oo-select,
.page-content-section oo-currency,
.page-content-section oo-datetime,
.page-content-section oo-switch,
.page-content-section div[mwftype='OOCheckGroup'],
.page-content-section div[mwftype='OORadioGroup'] {
    flex: 0 0 23%;
}

.pagingBarWraper .currentPage {
    background-color: var(--oo-color-main) !important;
}
.pagingBarWraper .pageItem:hover,
.pagingBarWraper .firstPage:hover,
.pagingBarWraper .lastPage:hover,
.pagingBarWraper .prePage:hover,
.pagingBarWraper .nextPage:hover {
    color: var(--oo-color-main) !important;
    background-color: var(--oo-color-hover) !important;
}

.pagingBarWraper .pageJumper:focus {
    border: 1px solid var(--oo-color-main) !important;
}

.pagingBarWraper .prePage,
.pagingBarWraper .nextPage {
    font-family: 'ooicon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none !important;
}
.pagingBarWraper .prePage:before {
    content: '\e651';
}
.pagingBarWraper .nextPage:before {
    content: '\e64c';
}

.process-start-area {
    box-sizing: content-box !important;
}
.process-start-area * {
    box-sizing: content-box !important;
}

.search-area{
    flex-wrap: nowrap !important;
    display: flex !important;
}

.page-content-search-fields{
    flex: 1 1 100%;
    display: grid !important;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    box-sizing: border-box !important;
}
.page-content-search-fields *{
    box-sizing: border-box !important;
}

.page-content-search-actions{
    flex: 0 0 5rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    display: grid;
}
.page-content-search-actions.field-count-2{
    flex: 0 0 12.5rem;
    display: flex;
}
.page-content-search-actions.field-count-3{
    flex: 0 0 12.5rem;
    display: flex;
}
.page-content-search-actions.field-count-4{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}
.page-content-search-actions.field-count-5{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}


.search-item{
    display: flex;
    align-items: center;
    /* min-width: 24rem; */
}

.search-item oo-input,
.search-item oo-selector,
.search-item oo-textarea,
.search-item oo-radio-group,
.search-item oo-checkbox-group,
.search-item oo-select,
.search-item oo-currency,
.search-item oo-datetime,
.search-item oo-switch,
.search-item div[mwftype='OOCheckGroup'],
.search-item div[mwftype='OORadioGroup'] {
    flex: 1;
}

.search-item-title{
    width: 6rem; 
    min-width:4.3em; 
    max-width:9em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em 0.35em;
    margin-right: 0.5em;
}
.search-item-flag{
    margin: 0 0.5em;
}


.column-count-2 .page-content-search-fields{
    grid-template-columns: 1fr 1fr;
}
.column-count-2 .page-content-search-actions.field-count-2{
    flex: 0 0 12.5rem;
    display: flex;
}
.column-count-2 .page-content-search-actions.field-count-3{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}
.column-count-2 .page-content-search-actions.field-count-4{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}
.column-count-2 .page-content-search-actions.field-count-5{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}

.column-count-4 .page-content-search-fields{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.column-count-4 .page-content-search-actions.field-count-2{
    flex: 0 0 12.5rem;
    display: flex;
}
.column-count-4 .page-content-search-actions.field-count-3{
    flex: 0 0 12.5rem;
    display: flex;
}
.column-count-4 .page-content-search-actions.field-count-4{
    flex: 0 0 12.5rem;
    display: flex;
}
.column-count-4 .page-content-search-actions.field-count-5{
    flex: 0 0 5rem;
    display: grid;
    align-content: center;
}


/* 分辨率小于 1600px */
/* @media only screen and (min-width: 768px) and (max-width: 1599px) {
    .page-content-search-fields{
        grid-template-columns: 1fr 1fr;
    }
    .page-content-search-actions.field-count-2{
        flex: 0 0 12.5rem;
        display: flex;
    }
    .page-content-search-actions.field-count-3{
        flex: 0 0 5rem;
        display: grid;
        align-content: center;
    }
    .page-content-search-actions.field-count-4{
        flex: 0 0 5rem;
        display: grid;
        align-content: center;
    }
    .page-content-search-actions.field-count-5{
        flex: 0 0 5rem;
        display: grid;
        align-content: center;
    }
} */

/* 分辨率大于 1980px */
/* @media only screen and (min-width: 1980px) {
    .page-content-search-fields{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .page-content-search-actions.field-count-2{
        flex: 0 0 12.5rem;
        display: flex;
    }
    .page-content-search-actions.field-count-3{
        flex: 0 0 12.5rem;
        display: flex;
    }
    .page-content-search-actions.field-count-4{
        flex: 0 0 12.5rem;
        display: flex;
    }
    .page-content-search-actions.field-count-5{
        flex: 0 0 5rem;
        display: grid;
        align-content: center;
    }
} */

/* 手机 */
@media only screen and (max-width: 767px) {
    .page-nav-content{
        grid-template-columns: auto;
        grid-template-rows: 3rem calc(100% - 3rem);
    }
    .page-nav-content.show-navi{
        grid-template-rows: 100%;
    }
    .form-layout>div[mwftype="widget"]{
        height: 100%;
    }
    .page-nav{
        overflow: hidden;
        box-shadow: var(--oo-color-gray-d) 0 1px 1px 0;
        /* background-color: var(--oo-color-main); */
    }
    .page-nav.show{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        overflow: auto;
    }


    .page-content{
        padding: 0;
    }
    .page-nav-title {
        margin: 0;
        border-radius: 0;
        justify-content: center;
        height: 2.6em;
        font-size: 1.125em;
        color: var(--oo-color-text-white);
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: var(--oo-color-main);
        transition: background-color 0.3s, color 0.3s;
    }
    .page-nav-title::before {
        font-family: 'ooicon' !important;
        content: "\e68a";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        position: absolute;
        /* top: 0; */
        left: 1rem;
    }
    .page-nav-title-create{
        /* position: absolute;
        right: 0;
        top: 0.8em; */
        font-size: 1.125rem;
        margin: 0;
    }
    .page-nav-title-search{
        /* position: absolute;
        right: 0;
        top: 0.8em; */
        margin: 0;
        font-size: 1.125rem;
        color: #ffffff;
    }
    .page-content-section-menu{
        position: absolute;
        right: 0;
        top: 0.5em;
        /* margin: 0; */
        font-size: 1.125rem;
        color: #ffffff;
        display: flex;
        margin-right: 0.5rem;
    }

    .form-layout .page-content-section div[mwftype='view'] div.viewAreaNode>div.contentAreaNode{
        padding: 0;
    }
    .form-layout .page-content-section div[mwftype='statement'] div.viewAreaNode>div.contentAreaNode{
        padding: 0;
    }
    .page-content-area .page-content-section-search{
        display: none !important;
        height: 0;
        padding: 0;
        overflow: hidden !important;
        transition: height 0.3s;
    }
    .page-content-area .page-content-section-search.show{
        display: grid !important;
        height: auto;
        padding: 0.6rem;
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 100%;
        box-shadow: 0 0 10px 0 #dedede;
        border-radius: 0;
        overflow: visible;
    }
    .page-content-area > div, .page-content-section {
        padding: 0;
        left: 0;
    }

    .viewTable>tr:first-child{
        position: sticky;
        top: 0;
    }
    .page-nav-config{
        display: none;
    }
    .page-content-section.search-area{
        display: none !important;
    }
    .page-content-section.search-area.show{
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 100%;
        display: grid !important;
        padding: 0.5rem;
        box-shadow: 0 0 10px 0 #dedede;
    }
    .page-content-section.search-area.show .page-content-search-fields{
        grid-template-columns: auto !important;
    }
    .page-content-section.search-area.show .page-content-search-actions{
        display: flex !important;
    }
    .page-content-section .form-content-view .actionbarAreaNode{
        font-size: 0.875rem;
    }
    .page-content-section .form-content-view .actionbarAreaNode {
        padding: 0.5rem 0 0.3rem 0;
        box-shadow: 0 0 5px 0px #cccccc;
        margin-bottom: 0.5rem;
    }
}
