@font-face {
  font-family: "o2-tw"; /* Project id 4172877 */
  src: url('fonts/iconfont.woff2?t=1689750812132') format('woff2'),
       url('fonts/iconfont.woff?t=1689750812132') format('woff'),
       url('fonts/iconfont.ttf?t=1689750812132') format('truetype'),
       url('fonts/iconfont.svg?t=1689750812132#o2-tw') format('svg');
}


[class^="o2-tw-"], [class*=" o2-tw-"] {
  font-family: "o2-tw" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.o2-tw-chat:before {
  content: "\e62c";
}

.o2-tw-shijian:before {
  content: "\e64e";
}

.o2-tw-zhuangtai:before {
  content: "\e642";
}

.o2-tw-zirenwu:before {
  content: "\e7f4";
}

.o2-tw-user:before {
  content: "\e64b";
}

.o2-tw-bianji:before {
  content: "\e630";
}

.o2-tw-duoren:before {
  content: "\e699";
}

.o2-tw-xinhao:before {
  content: "\e61f";
}

.o2-tw-riqi:before {
  content: "\e7d2";
}

.o2-tw-word:before {
  content: "\edd5";
}

.o2-tw-ppt:before {
  content: "\e620";
}

.o2-tw-fujian:before {
  content: "\e605";
}

.o2-tw-pdf:before {
  content: "\e740";
}

.o2-tw-tupian:before {
  content: "\e617";
}

.o2-tw-shipin:before {
  content: "\e6f4";
}

.o2-tw-yasuobao:before {
  content: "\e64d";
}

.o2-tw-excel:before {
  content: "\edde";
}

.o2-tw-yinpin:before {
  content: "\e6ed";
}

.o2-tw-shanchu:before {
  content: "\ec7b";
}

.o2-tw-yuan:before {
  content: "\e601";
}

.o2-tw-guidang:before {
  content: "\e610";
}

.o2-tw-wancheng:before {
  content: "\e60f";
}

.o2-tw-quxiao:before {
  content: "\e8e7";
}

.o2-tw-jinxing:before {
  content: "\e800";
}

.o2-tw-gezhi:before {
  content: "\e602";
}

.o2-tw-jiantou-xia:before {
  content: "\e63a";
}

.o2-tw-gengduo:before {
  content: "\e607";
}

.o2-tw-xiangmu:before {
  content: "\e603";
}

.o2-tw-renwu:before {
  content: "\e604";
}

.o2-tw-shaixuan:before {
  content: "\e61d";
}

.o2-tw-sousuo:before {
  content: "\e60e";
}

.o2-tw-jiantou-you:before {
  content: "\e622";
}

.o2-tw-user-plus:before {
  content: "\e600";
}

.o2-tw-xinzeng:before {
  content: "\e606";
}

.o2-tw-dagou:before {
  content: "\e616";
}

.o2-tw-shouye:before {
  content: "\e8b9";
}

