@font-face {
  font-family: 'fly-font';
  src:  url('fonts/fly-font.eot?5s9ptf');
  src:  url('fonts/fly-font.eot?5s9ptf#iefix') format('embedded-opentype'),
    url('fonts/fly-font.ttf?5s9ptf') format('truetype'),
    url('fonts/fly-font.woff?5s9ptf') format('woff'),
    url('fonts/fly-font.svg?5s9ptf#fly-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fly-"], [class*=" fly-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fly-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fly-add-test:before {
  content: "\e95b";
  color: #666;
}
.fly-add:before {
  content: "\e900";
}
.fly-add-circle:before {
  content: "\e901";
}
.fly-add-rectangle:before {
  content: "\e902";
}
.fly-arrow-down:before {
  content: "\e903";
}
.fly-arrow-down-rectangle:before {
  content: "\e904";
}
.fly-arrow-left:before {
  content: "\e905";
}
.fly-arrow-right:before {
  content: "\e906";
}
.fly-arrow-up:before {
  content: "\e907";
}
.fly-attach:before {
  content: "\e908";
}
.fly-backtop:before {
  content: "\e909";
}
.fly-books:before {
  content: "\e90a";
}
.fly-bulletpoint:before {
  content: "\e90b";
}
.fly-calendar:before {
  content: "\e90c";
}
.fly-caret-down:before {
  content: "\e90d";
}
.fly-caret-down-small:before {
  content: "\e90e";
}
.fly-caret-left:before {
  content: "\e90f";
}
.fly-caret-left-small:before {
  content: "\e910";
}
.fly-caret-right:before {
  content: "\e911";
}
.fly-caret-right-small:before {
  content: "\e912";
}
.fly-caret-up:before {
  content: "\e913";
}
.fly-caret-up-small:before {
  content: "\e914";
}
.fly-chart-bar:before {
  content: "\e915";
}
.fly-chat:before {
  content: "\e916";
}
.fly-check-circle:before {
  content: "\e917";
}
.fly-check-circle-filled:before {
  content: "\e918";
}
.fly-chevron-left:before {
  content: "\e919";
}
.fly-chevron-left-circle:before {
  content: "\e91a";
}
.fly-chevron-left-double:before {
  content: "\e91b";
}
.fly-chevron-left-rectangle:before {
  content: "\e91c";
}
.fly-chevron-right:before {
  content: "\e91d";
}
.fly-chevron-right-circle:before {
  content: "\e91e";
}
.fly-chevron-right-double:before {
  content: "\e91f";
}
.fly-chevron-right-rectangle:before {
  content: "\e920";
}
.fly-chevron-up:before {
  content: "\e921";
}
.fly-chevron-up-circle:before {
  content: "\e922";
}
.fly-chevron-up-rectangle:before {
  content: "\e923";
}
.fly-circle:before {
  content: "\e924";
}
.fly-close:before {
  content: "\e925";
}
.fly-close-circle:before {
  content: "\e926";
}
.fly-close-circle-filled:before {
  content: "\e927";
}
.fly-close-rectangle:before {
  content: "\e928";
}
.fly-delete:before {
  content: "\e929";
}
.fly-desktop:before {
  content: "\e92a";
}
.fly-discount-filled:before {
  content: "\e92b";
}
.fly-download:before {
  content: "\e92c";
}
.fly-edit:before {
  content: "\e92d";
}
.fly-ellipsis:before {
  content: "\e92e";
}
.fly-enter:before {
  content: "\e92f";
}
.fly-error:before {
  content: "\e930";
}
.fly-error-circle:before {
  content: "\e931";
}
.fly-error-circle-filled:before {
  content: "\e932";
}
.fly-fullscreen:before {
  content: "\e933";
}
.fly-fullscreen-exit:before {
  content: "\e934";
}
.fly-gender-male:before {
  content: "\e935";
}
.fly-heart:before {
  content: "\e936";
}
.fly-heart-filled:before {
  content: "\e937";
}
.fly-help-circle:before {
  content: "\e938";
}
.fly-help-circle-filled:before {
  content: "\e939";
}
.fly-home:before {
  content: "\e93a";
}
.fly-laptop:before {
  content: "\e93b";
}
.fly-link:before {
  content: "\e93c";
}
.fly-location:before {
  content: "\e93d";
}
.fly-logo-windows:before {
  content: "\e93e";
}
.fly-mail:before {
  content: "\e93f";
}
.fly-minus-circle:before {
  content: "\e940";
}
.fly-minus-circle-filled:before {
  content: "\e941";
}
.fly-minus-rectangle:before {
  content: "\e942";
}
.fly-more:before {
  content: "\e943";
}
.fly-pause-circle-filled:before {
  content: "\e944";
}
.fly-play:before {
  content: "\e945";
}
.fly-play-circle-filled:before {
  content: "\e946";
}
.fly-poweroff:before {
  content: "\e947";
}
.fly-refresh:before {
  content: "\e948";
}
.fly-remove:before {
  content: "\e949";
}
.fly-rollback:before {
  content: "\e94a";
}
.fly-root-list:before {
  content: "\e94b";
}
.fly-round:before {
  content: "\e94c";
}
.fly-save:before {
  content: "\e94d";
}
.fly-search:before {
  content: "\e94e";
}
.fly-setting:before {
  content: "\e94f";
}
.fly-time:before {
  content: "\e950";
}
.fly-time-filled:before {
  content: "\e951";
}
.fly-tools:before {
  content: "\e952";
}
.fly-upload:before {
  content: "\e953";
}
.fly-user:before {
  content: "\e954";
}
.fly-usergroup:before {
  content: "\e955";
}
.fly-view-column:before {
  content: "\e956";
}
.fly-view-list:before {
  content: "\e957";
}
.fly-wifi:before {
  content: "\e958";
}
.fly-zoom-in:before {
  content: "\e959";
}
.fly-zoom-out:before {
  content: "\e95a";
}
