<div class="btn-group-vertical" dropdown is-open="isopen">
    <button type="button"
            class="btn btn-default expand"
            title="{{ 'expandtoleaf' | lang:'ui' }}"
            ng-class="{'active': isopen}"
            ng-click="minder.execCommand('ExpandToLevel', 9999)"></button>
    <button type="button"
            class="btn btn-default expand-caption dropdown-toggle"
            title="{{ 'expandtoleaf' | lang:'ui' }}"
            dropdown-toggle>
        <span class="caption">{{ 'expandtoleaf' | lang:'ui' }}</span>
        <span class="caret"></span>
        <span class="sr-only">{{ 'expandtoleaf' | lang:'ui' }}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="level in levels">
            <a href
               ng-click="minder.execCommand('ExpandToLevel', level)">{{ 'expandtolevel' + level  | lang:'ui/command' }}</a>
        </li>
    </ul>
</div>