.appContent {
    text-align: center
}

@font-face {
    font-family: 'SearchDocument';
    src:
            url('../x_component_SearchDocument/$Main/default/fonts/SearchDocument.ttf?5rfex6') format('truetype'),
            url('../x_component_SearchDocument/$Main/default/fonts/SearchDocument.woff?5rfex6') format('woff'),
            url('../x_component_SearchDocument/$Main/default/fonts/SearchDocument.svg?5rfex6#SearchDocument') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'SearchDocument' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.o2icon-log:before {
    content: "\e922";
}
.o2icon-deploy:before {
    content: "\e923";
}
.o2icon-appInfo:before {
    content: "\e94d";
}
.o2icon-general:before {
    content: "\e924";
}
.o2icon-application:before {
    content: "\e9a9";
}
.o2icon-category:before {
    content: "\e948";
}
.o2icon-files:before {
    content: "\e95d";
}
.o2icon-document:before {
    content: "\e992";
}
.o2icon-search:before {
    content: "\e93b";
}
.o2icon-search1:before {
    content: "\e994";
}
.o2icon-filter:before {
    content: "\e98b";
}
.o2icon-edit2:before {
    content: "\e99d";
}
.o2icon-create:before {
    content: "\e9af";
}
.o2icon-delete:before {
    content: "\e9b0";
}
.o2icon-config:before {
    content: "\e9ba";
}
.o2icon-list3:before {
    content: "\e9c1";
}
.o2icon-list4:before {
    content: "\e9c4";
}
.o2icon-layout:before {
    content: "\e996";
}


h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*li {*/
/*    display: inline-block;*/
/*    margin: 0 10px;*/
/*}*/
/*a {*/
/*    color: #42b983;*/
/*}*/
.appNode{
    overflow: hidden;
    height: 100%;
}
.menuArea{
    max-width: 300px;
    min-width: 180px;
    width: 15%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    float: left;

}
.contentArea {
    height: 100%;
    background: #F0F0F0;
    display: flex;
    flex-direction:column;
}
.content{
    height: 100%;
    /*padding: 20px;*/
    margin: 10px;
    /*background: #FFFFFF;*/
    border-radius: 4px;
    /*overflow: auto;*/
    /*display: flex;*/
    text-align: left;
    position: relative;
}
/*button{*/
/*    border-radius: 100px;*/
/*    border: 0;*/
/*    padding: 6px 20px;*/
/*    cursor: pointer;*/
/*    margin-left: 10px;*/
/*}*/
*::-webkit-scrollbar {
    width:8px;
    height: 8px;
    border-radius: 8px;
    background-color: #dddddd;
}
*::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 8px;
    background-color: #bbbbbb;
    cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover{
    width: 8px;
    border-radius: 8px;
    background-color: #666666;
    cursor: pointer;
}
* {
    scrollbar-color: #bbbbbb #dddddd;
    scrollbar-width: thin;
}


.view_inputWrap{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.view_inputArea{
    width: 600px;
    text-align: left;
    float: left;
    /*margin-bottom: 10px;*/
    /*border: 1px solid #ccc;*/
    border: 1px solid #c4c7ce;
    border-radius: 20px;
    padding: 0 0 0 15px;
    /*box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);*/
}
.view_input {
    width: calc( 100% - 40px );
    height: 34px;
    font-size: 16px;
    color: #666;
    border: 0;
}
.view_inputButton{
    cursor: pointer;
    line-height: 36px;
    font-size: 16px;
    color: #ccc;
}
.searchButton{
    cursor: pointer;
    width: 100px;
    height: 38px;
    line-height: 38px;
    margin-left:640px;
    color: #fff;
    background: #4A90E2;
    border-radius: 19px;
    text-align: center;
}




.tabTitles{
    border-bottom: 3px solid #4A90E2;
    overflow:hidden;
    height: 35px;
}
.tabTitle{
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    color: #666;
    padding: 0px 20px;
}
.tabTitleCurrent{
    color: #fff;
    background: #4A90E2;
    border-radius: 20px 20px 0 0;
}

.docContent-search{
    height: calc( 100% - 140px );
    background:#ffffff;
    padding:20px;
    overflow:auto;
}
.docTotalNode{
    padding: 0 0 10px 5px
}
.listNode{
    min-height: 300px;
    overflow:hidden;
}
.listNoData{
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    color: #999;
    border-bottom: 1px solid #ebeef5;
}

.listTable{
    border-top:1px solid #E6E6E6;
}
.listTable th{
    font-size:15px;
    border-bottom: 1px solid #E6E6E6;
    color: #606266;
    padding: 10px 5px;
    line-height: 24px;
    background-color: #F7F7F7;
    text-align: left;
}
.listTable td{
    border-bottom: 1px solid #E6E6E6;
    color: #666;
    padding: 10px 5px;
    line-height: 24px;
    font-size:15px;
    text-align: left;
    cursor:pointer;
}
.listTable td a{
    text-decoration: none;
    color: #333;
    padding: 8px 0;
    font-size: 15px;
}
.listTable td a:hover{
    text-decoration: underline;
}
.listTable .time{
    font-size:14px;
}



