@CHARSET "UTF-8";
html{
	overflow: hidden;
	height: 100%;
	margin:0px;
	padding:0px;
}
body {
	margin:0px;
	padding:0px;
	height: 100%;
	font-family: 微软雅黑;
    font-size:14px;
	/*background-color: #F1F1F1;*/
}
::-ms-clear, ::-ms-reveal{display: none;}