:root {
    --oo-color-main: #d94141;
    --oo-color-main-light: #e35454;
    --oo-color-main-deep: #c53333;
    --oo-color-over: #f8e3e3;
    --oo-color-deep: #400606;
    --oo-color-light: #FFF7F7;
    --oo-color-hover: #FFF7F7;
    --oo-color-icon: #a69292;
    --oo-color-hover2: #fce3e3;
    --oo-color-odd-even: #FAFAFA;
}
