<header>
    <div class="header-title">{{$.lp.invitation}}</div>
    <i class="header-calendar ooicon-calendar" data-o2-events="click:toMain;"></i>
</header>
<div class="content invitation">
    {{if $.data.length === 0}}
    <div class="empty">
        <div class="ooempty-wuricheng empty-icon"></div>
        <div>{{$.lp.noInvitation}}</div>
    </div>
    {{end if}}

    {{if $.data.length > 0}}
    <div style="padding: 1em;">
        {{each $.data}}
        <div mwftype="div" style="border-color: var(--meeting-{{$.meetingStatus}});" class="meeting-item"
             data-o2-events="click:handleMeetingClick">
            <div mwftype="div" style="padding: 0.5em 1em;" class="meeting-item-title">
                <div>
                    {{$.startTime.split(' ')[0]}}
                </div>
                <div class="meeting-tiem-show">
                    <div>{{ $.startTime.substring($.startTime.indexOf(' '+1), $.startTime.lastIndexOf(':')) }}</div>
                    <div>-</div>
                    <div>{{ $.completedTime.substring($.completedTime.indexOf(' '+1), $.completedTime.lastIndexOf(':')) }}</div>
                </div>
            </div>
            <div style="flex: 3 1 0;" class="meeting-item-content">
                <div class="meeting-content">
                    <div class="line-text meeting-title">{{$.subject}}</div>
                    <div class="ooicon-gprs meeting-text">{{$.woRoom.name}}</div>
                    <div class="ooicon-person meeting-text">{{$.names}}</div>
                </div>
                <div style="flex: 0 0 4em; display: {{$.meetingStatus==='invite'?'flex':'none'}};" class="meeting-action">
                    <oo-button text="{{$._.lp.accept1}}" style="pointer-events: auto;" disabled="false"
                               data-o2-events="click:accept"
                               type="default"
                               skin="bg:var(--oo-color-success); hover-bg:var(--oo-color-success); active-bg:var(--oo-color-success); focus-bg:var(--oo-color-success)">
                    </oo-button>

                    <oo-button text="{{$._.lp.reject1}}" style="pointer-events: auto;" disabled="false"
                               data-o2-events="click:reject"
                               type="default"
                               skin="bg:var(--oo-color-error); hover-bg:var(--oo-color-error); active-bg:var(--oo-color-error); focus-bg:var(--oo-color-error)">
                    </oo-button>
                </div>
            </div>
        </div>
        {{end each}}
    </div>
    {{end if}}
</div>
