<table align="left" class="listTable" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:40%;">{{$.lp.docTitle}}</th>
        <th style="width:10%;">{{$.lp.creatorIdentity}}</th>
        <th style="width:10%;">{{$.lp.creatorUnit}}</th>
        <th style="width:10%;">{{$.lp.createTime}}</th>
        <th style="width:10%;">{{$.lp.completedTime}}</th>
        <th style="width:10%;">{{$.lp.processName}}</th>
        <th style="width:10%;">{{$.lp.activityName}}</th>
    </tr>

    {{each $.data}}
    <tr class="row" data-o2-events="click:openWork:{{$.workCompleted}}:{{$.work}};mouseover:rowOver;mouseout:rowOut">
        <td><a href="#">{{$.title}}</a></td>
        <td>{{$.identityName}}</td>
        <td>{{$.unitName}}</td>
        <td class="time">{{$.startTime}}</td>
        <td class="time">{{$.completedTime}}</td>
        <td>{{$.processName}}</td>
        <td>{{$.currentActivityName}}</td>
    </tr>
    {{end each}}
</table>

{{if !$.data}}
<div class="listNoData">{{$.lp.noSearchkey}}</div>
{{end if}}

{{if $.data && !$.data.length}}
<div class="listNoData">{{$.lp.noData}}</div>
{{end if}}