:root {
    --oo-color-main: #6B53E6;
    --oo-color-main-light: #8E7BED;
    --oo-color-main-deep: #705ECC;
    --oo-color-over: #EAE9F8;
    --oo-color-deep: #160959;
    --oo-color-light: #F6F5FC;
    --oo-color-hover: #F5F3FD;
    --oo-color-icon: #857996;
    --oo-color-hover2: #E7E3FC;
    --oo-color-odd-even: #FAFAFA;
}
