<div class="ft_content">
    <div>
        <div style="font-size: 16px;line-height: 30px">名称</div>
        <div><input name="name" style = "width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 30px; border-radius: 4px;" type="text" placeholder="输入名称" value="{{$.data.name}}"/></div>
    </div>
    <div>
        <div style="font-size: 16px;line-height: 30px">容量（单位M，0为不限制）</div>
        <div><input name="capacity" style = "width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 30px; border-radius: 4px;" type="text" placeholder="容量（单位M，0位不限制）" value="{{$.data.capacity}}"/></div>
    </div>
    <div>
        <div style="font-size: 16px;line-height: 30px">描述</div>
        <div><textarea style="width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 70px; border-radius: 4px;" type="text" placeholder="输入描述">{{$.data.description}}</textarea></div>
</div>

</div>
