<div class="ft_content">
    <div>
        <div style="font-size: 16px;line-height: 30px">名称</div>
        <div><input name="name" style = "width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 30px; border-radius: 4px;" type="text" placeholder="输入名称" value=""/></div>
    </div>
    <div>
        <div style="font-size: 16px;line-height: 30px">共享区成员</div>
        <div><textarea name="acl"  style="width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 70px; border-radius: 4px;" type="text" placeholder="点击选择成员" value=""></textarea></div>
    </div>
    <div>
        <div style="font-size: 16px;line-height: 30px">描述</div>
        <div><textarea name = "desc" style="width: 99%;border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); height: 70px; border-radius: 4px;" type="text" placeholder="输入描述" value=""></textarea></div>
    </div>

</div>
