<div class="popMoreList">
    <div data-o2-events="click:saveRoleAcl:viewer" class="popMoreListItem">仅查看</div>
    {{if $.read}}
    <div data-o2-events="click:saveRoleAcl:reader" class="popMoreListItem">可查看/可下载</div>
    {{end if}}

    <div data-o2-events="click:saveRoleAcl:editor" class="popMoreListItem">编辑</div>
    <div data-o2-events="click:saveRoleAcl:auditor" class="popMoreListItem">可授权</div>
    <div data-o2-events="click:saveRoleAcl:admin" class="popMoreListItem">管理员</div>
    <div data-o2-events="click:removeRoleAcl" class="popMoreListItem" style="color: red">移除</div>
</div>
