<div class="form-content-area">
    <div item='fileTypeIncludes'></div>
    <div item='fileTypeExcludes'></div>
    <div item='recycleDays'></div>
    <div style="display: flex;">
        <div style="white-space: nowrap;
transition: color 0.2s;
display: inline-flex;
align-items: center;
height: 100%;
padding: 0.5em 0.35em;
justify-content: flex-end;
    margin-right: 0.5em;
    min-width: 15vw;
color: var(--oo-color-text2);" lable='zoneAdminList'></div>
        <div item='zoneAdminList' style="width: 100%;"></div>
    </div>

    <div item='officeHome'></div>
    <div item='previewTools'></div>
    <div item='viewDownLoadUrl'></div>
    <div item='officeOnlineUrl'></div>
    <div item='portNumbers'></div>
    <div item='panMenuList'></div>
    <div item='zoneReadPermissionDown'></div>
    <div item='peronFileEnable'></div>
</div>
