<div class="contentTitleArea">
    <table>
        <thead>
        <tr class="listItem">
            <th style="width: 50px;">
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAll">
                        <div class="selectFlagIcon o2WorkApplication"></div>
                    </div>
                </div>
            </th>
            <th>名称</th>
            <th>流程</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>已归档数量</th>
            <th>总数量</th>
            <th>是否启用</th>
        </tr>
        </thead>
    </table>
</div>
