.check-in-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bmap {
  width: 0px;
  height: 0px;
}
.check-in-person {
  margin: 20px 15px;
  background-color: var(--main-bg-color);
  border-radius: 8px;
  height: 72px;
  display: flex;
  flex-direction: row;
}
.person-avatar {
  height: 48px;
  width: 48px;
  padding: 12px;
}
.person-avatar img {
  height: 48px;
  width: 48px;
  border: 2px solid var(--main-bg-color);
  border-radius: 24px;
  background-color: var(--main-bg-color);
  cursor: pointer;
}
.person-info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.person-info-name {
  line-height: 28px;
  font-size: 16px;
  color: var(--font-primary-color);
  flex:1;
  align-items: center;
  display: flex;
}
.person-info-unit {
  color: var(--font-second-color);
  flex:1;
  align-items: center;
  display: flex;
}

.check-in-business {
  flex: 1;
  background-color: var(--main-bg-color);
  border-radius: 8px;
  margin: 0px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-in-record {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0 0 10px 10px;
}
.check-in-record-child {
  box-sizing: border-box;
  background-color: var(--second-bg-color);
  border-radius: 8px;
  flex: 0 0 calc( 50% - 10px );
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.check-in-record-child .item {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.check-in-record-child > .check-in-type {
  color: var(--font-primary-color);
  flex: 0 0 calc( 50% - 10px );
}
.check-in-record-child > .check-in-time {
  color: var(--font-primary-color);
  margin-right: 10px;
  flex: 0 0 calc( 50% - 20px );
}
.check-in-record-child > .check-in-status {
  color: var(--font-hint-color);
  flex: 0 0 calc( 50% - 10px );
  margin-bottom: 10px;
}
.check-in-record-child > .check-in-update {
  color: #fb4747;
  margin-bottom: 10px;
  margin-right: 10px;
  flex: 0 0 calc( 50% - 20px );
}

.check-in-click-cycle {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  background-color: #fb4747;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
  0 9px 28px 8px rgb(0 0 0 / 5%);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.check-in-business > .check-disable {
  background-color: #7A7977!important;
}
.check-in-click-cycle > .check-in-type {
  color: #fff;
  font-size: 18px;
}
.check-in-click-cycle > .check-in-time {
  color: rgb(255 255 255 / 70%);
  font-size: 16px;
}
.check-in-address {
  height: 48px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.check-in-address .checked {
  color: #66BB6A!important;
}
.check-in-address .noChecked {
  color: #fb4747!important;
}
.check-in-address .label {
  margin-left: 10px;
  color: var(--font-primary-color);
}
.check-in-refresh-location {
  height: 32px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.check-in-refresh-location > span {
  color: #66BB6A!important;
}