.menuArea{
    max-width: 300px;
    min-width: 160px;
    width: 15%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    float: left;

}
.contentArea {
    height: 100%;
    background: #F0F0F0;
    display: flex;
    flex-direction:column;
}
.content{
    height: 100%;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.menu{
    margin: 0;
    user-select: none;
}

.menuTitle{
    margin: 0 20px;
    height: 40px;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    border-bottom: 1px solid #E6E6E6;
}
.menuTitleText{
    float: left;
}
.menuTitleAction {
    text-align: right;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    color: #4A90E2;
}
.menuItem{
    height: 40px;
    cursor: pointer;
}
.menuItem_current{
    background-color: #EBF1F7;
}
.menuItem_over{
    background-color: #F7F7F7;
}
.menuItemIcon {
    margin-left: 20px;
    height: 16px;
    width: 16px;
    padding: 11px 10px 12px 0;
    float: left;
    color: #999999;
}
.menuItemCount{
    margin-right: 20px;
    float: right;
    width: 60px;
    font-size: 12px;
    color: #999999;
    line-height: 40px;
    text-align: right;
}
.menuItemText{
    margin: 0 80px 0 48px;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

.createProcessAction{
    text-align: center;
    margin: 30px 20px 0 20px;
    height: 30px;
    line-height: 30px;
    background: #4A90E2;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
.skeleton {
    padding: 10px 30px;
}
.skeleton_item {
    height: 16px;
    border-radius: 15px;
    margin-top: 20px;
    background: #f2f2f2;
}
.contentTitle{
    height: 60px;
}
.contentList{
    height: inherit;
    overflow: auto;
    padding: 0 20px;
}
.contentBottom{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentPageArea{
    height: 60px;
}
.firstPage, .lastPage, .pageItem, .prevPage, .nextPage{
    height: 24px;
    width: 80px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.firstPage{
    float: left;
}
.lastPage {
    float: right;
    margin-left: 10px;
}
.prevPage{
    float: left;
    margin-left: 10px;
    width: 24px;
    font-size: 24px;
    color: #999999;
}
.nextPage{
    float: right;
    margin-left: 10px;
    width: 24px;
    font-size: 24px;
    color: #999999;
}
.pageNumberArea{
    float: left;
}
.pageItem{
    float: left;
    width: 24px;
    margin-left: 10px;
}
.contentTitleArea {
    margin: 15px 20px;
    height: 44px;
}
.contentTitleActionArea{
    float: right;
}
.contentTitleFilterArea{
    height: 44px;
}

/*list*/
.listItem{
    height: 59px;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    overflow: hidden;
}
.listItem_over{
    background: #F7F7F7;
}
.listItemApplication{
    height: 59px;
    width: 230px;
    float: left;
    display: flex;
    align-items: center;
}
.listItemLine{
    width: 1px;
    height: 35px;
    background: #E6E6E6;
    border-radius: 6px;
    margin-top: 17px;
    float: left;
}
.listItemTitle{
    height: 59px;
}
.listItemActivity{
    min-width: 40px;
    width: 8%;
    height: 59px;
    float: right;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listItemActivityText{
    max-height: 38px;
    overflow: hidden;
}
.listItemDate{
    height: 59px;
    min-width: 160px;
    width: 13%;
    text-align: center;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listItemFlag{
    height: 59px;
    width: 50px;
    float: right;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rapidEditor{
    font-size: 16px;
    cursor: pointer;
    color: #999999;
}
.listItemApplicationIcon{
    width: 80px;
    height: 59px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.listItemApplicationText{
    max-height: 40px;
    width: 170px;
    overflow: hidden;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    padding-right: 10px;

}

.listItemTitleFlag{
    float: left;
    height: 20px;
    color: #999999;
}
.listItemTitleProcess{
    float: left;
    padding: 0 10px 0 10px;
    max-width: 140px;
    height: 59px;
    display: flex;
    align-items: center;
}
.listItemTitleProcessText{
    text-align: center;
    float: left;
    font-size: 14px;
    color: #999999;
    height: 20px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listItemTitleSubject{
    height: 59px;
    display: flex;
    align-items: center;
}
.listItemTitleSubject a{
    max-height: 38px;
    overflow: hidden;
    color: #333333;
}
.listItemTitleSubject a:hover{
    color: #0f81cc;
    text-decoration: underline;
}

.listItemExpire{
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 138px;
}
.maskNode{
    background-color: #999999;
    opacity: 0.4;
    overflow: hidden;
}

.processNode{
    height: 300px;
    width: 600px;
    padding: 10px;
    background-color: #FFF;
    overflow: hidden;
}
.processInfoTitle{
    width: 700px;
    height: 60px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    margin: 10px auto;
}
.pf_item{
    border-radius: 8px;
}
.pf_applicationText{
    width: 120px;
}
.pf_application{
    width: 180px;
}
.pf_titleProcess{
    max-width: 120px;
}
.processInfoContent{
    height: 550px;
    margin: 20px;
    overflow: hidden;
}
.pf_workLog{
    height: 550px;
    width: 55%;
    float: left;
}
.pf_workList{
    height: 550px;
    width: 45%;
    float: right;
}
.pf_logItem{
    height: 80px;
}
.pf_itemLeft{
    height: 80px;
    width: 40px;
    float: left;
}
.pf_itemActivity{
    height: 59px;
    width: 100px;
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
}
.pf_itemOpinion{
    height: 79px;
    margin-left: 120px;
    border-bottom: 1px solid #E6E6E6;
}
.pf_icon{
    height: 16px;
    text-align: center;
}
.pf_lineTop{
    width: 1px;
    height: 20px;
    background-color: #E6E6E6;
    margin: auto;
}
.pf_lineBottom{
    width: 1px;
    height: 44px;
    background-color: #E6E6E6;
    margin: auto;
}
.pf_fromActivityName{
    color: #333333;
    line-height: 20px;
}
.pf_routeName{
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}
.pf_arrivedTime{
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}


@font-face {
    font-family: 'o2taskcenter';
    src:
            url('../x_component_process_workcenter/$Main/default/fonts/o2taskcenter.ttf?mcfdrb') format('truetype'),
            url('../x_component_process_workcenter/$Main/default/fonts/o2taskcenter.woff?mcfdrb') format('woff'),
            url('../x_component_process_workcenter/$Main/default/fonts/o2taskcenter.svg?mcfdrb#o2taskcenter') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'o2taskcenter' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o2icon-bianji:before {
    content: "\e900";
}
.o2icon-caogao:before {
    content: "\e901";
}
.o2icon-circle:before {
    content: "\e902";
}
.o2icon-clear:before {
    content: "\e903";
}
.o2icon-daiban:before {
    content: "\e904";
}
.o2icon-daiyue:before {
    content: "\e905";
}
.o2icon-more_zd:before {
    content: "\e906";
}
.o2icon-more_zk:before {
    content: "\e907";
}
.o2icon-off:before {
    content: "\e908";
}
.o2icon-point:before {
    content: "\e909";
}
.o2icon-saixuan:before {
    content: "\e90a";
}
.o2icon-sousuo:before {
    content: "\e90b";
}
.o2icon-triangle_left:before {
    content: "\e90c";
}
.o2icon-triangle_right:before {
    content: "\e90d";
}
.o2icon-xuanzhong:before {
    content: "\e90e";
}
.o2icon-yiban:before {
    content: "\e90f";
}
.o2icon-yiyue:before {
    content: "\e910";
}
.o2icon-zengjia:before {
    content: "\e911";
}
