.schedule_table_container {
  position: relative;
}
.schedule_table_container .schedule_table_header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.schedule_table_container .schedule_table_name {
  border: 1px solid #e7e7e8;
  border-width: 1px 0 1px 1px;
  width: 94px;
  height: 54px;
  flex-basis: 94px;
  box-sizing: border-box!important;
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.schedule_table_container .schedule_table_day {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #e7e7e8;
  border-width: 1px 0 1px 1px;
  height: 54px;
  flex: 1;
  box-sizing: border-box!important;
  font-size: 13px;
  line-height: 18px;
  color: #10141a;
  padding-top: 8px;
  cursor: pointer;
}
.schedule_table_container .schedule_table_day:last-child {
  border-width: 1px;
}
.schedule_table_container .schedule_table_day .weekTitle {
  margin-top: 3px;
}

.schedule_table_container .schedule_table_row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.schedule_table_container .schedule_table_row .schedule_table_day:last-child {
  border-width: 0 1px 1px 1px;
}
.schedule_table_container .schedule_table_row .schedule_table_name {
  border-width: 0 0 1px 1px;
  height: 40px;
  cursor: pointer;
}
.schedule_table_container .schedule_table_name .name_text {
  font-size: 13px;
  line-height: 18px;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 83px;
}
.schedule_table_container .schedule_table_row .schedule_table_day {
  border-width: 0 0 1px 1px;
  height: 40px;
  padding: 0;
}
.schedule_cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
}
.schedule_cell .schedule_cell_text {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

/* 选中的框 */
.schedule_selectedFrame {
  position: absolute;
  border: 3px solid var(--el-color-primary);
  box-sizing: border-box!important;
}
.t-popup {
  box-sizing: border-box!important;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #10141a;
  display: inline-block;
  z-index: 5500;
}
.t-popup .t-popup__content {
  margin-right: 8px;
}
.t-popup__content {
  position: relative;
  box-shadow: 0 8px 16px rgba(0,0,0,.12), 0 0 0 1px rgba(6,15,26,.1);
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  word-break: break-all;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}
.selected_popup {
  width: 322px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  box-shadow: 0 8px 16px rgba(0,0,0,.12);
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}