<table width=\"100%\" align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"3\">
    <tbody>
    <tr>
        <td id=\"table_table$Td_2\" mwftype=\"table$Td\">
            <div id=\"label_1\" mwftype=\"label\">录入人：</div>
        </td>
        <td id=\"table_table$Td_3\" mwftype=\"table$Td\" colspan=\"3\">
            <div id=\"label_2\" mwftype=\"label\">(C)Text</div>
        </td>
    </tr>
    <tr>
        <td id=\"table_table$Td_4\" mwftype=\"table$Td\">
            <div id=\"label_1_1\" mwftype=\"label\">录入时间：</div>
        </td>
        <td id=\"table_table$Td_5\" mwftype=\"table$Td\" colspan=\"3\">
            <div id=\"label_2_1\" mwftype=\"label\">(C)Text</div>
        </td>
    </tr>
    <tr>
        <td id=\"table_table$Td\" mwftype=\"table$Td\">
            <div id=\"label_3\" mwftype=\"label\">标题：</div>
        </td>
        <td id=\"table_table$Td_1\" rowspan=\"1\" colspan=\"3\" mwftype=\"table$Td\">
            <div id=\"subject\" mwftype=\"textfield\">
                <div></div>
                <div>subject</div>
            </div>
        </td>
    </tr>
    <tr>
        <td id=\"table_table$Td_6\" MWFType=\"table$Td\">
            <div id=\"label_4\" MWFType=\"label\">日期：</div>
        </td>
        <td id=\"table_table$Td_7\" MWFType=\"table$Td\" colspan=\"3\">
            <div id=\"calendar\" MWFType=\"calendar\">
                <div></div>
                <div>calendar</div>
            </div>
        </td>
    </tr>
    <tr>
        <td id=\"table_table$Td_8\" MWFType=\"table$Td\">
            <div id=\"label_5\" MWFType=\"label\">地点：</div>
        </td>
        <td id=\"table_table$Td_9\" MWFType=\"table$Td\" colspan=\"3\">
            <div id=\"address\" MWFType=\"textfield\">
                <div></div>
                <div>address</div>
            </div>
        </td>
    </tr>
    <tr>
        <td id=\"table_table$Td_16\" mwftype=\"table$Td\">
            <div id=\"label_10\" mwftype=\"label\">描述：</div>
        </td>
        <td id=\"table_table$Td_17\" rowspan=\"1\" colspan=\"3\" mwftype=\"table$Td\">
            <div id=\"explain\" mwftype=\"textarea\">
                <div></div>
                <div>explain</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>