.MWF_selector_searchInputDiv{
  position: relative;
  height: 3.4375rem;
  color: #999;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.MWF_selector_searchInput{
   width: 100%;
   box-sizing: border-box;
   height: 2.25rem;
   border: 0;
   font-size: 1rem;
   border-radius: 0.375rem;
   background-color: #F7F7F7;
   padding-left: 2.25rem;
   padding-right: 4rem;
   outline: none;
}
.MWF_selector_searchIcon{
    position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  height: 1rem;
  width: 1rem;
  color: #2E82F7;
  font-size: 1rem;
}
.MWF_selector_searchCancelAction{
  position: absolute;
  top: 1.25rem;
  right: 3.5rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #999;
  display: none;
}
.MWF_selector_letterActionNode{
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #999;
}
.MWF_selector_letterActionNode_active{
  color: #2E82F7;
}
.MWF_selector_BreadcrumbsNode {
  display: flex;
  align-items: center;
  height: 2.75rem;
  font-size: 0.875rem;
  gap: 0.5rem;
  background-color: #F7F7F7;
  padding: 0 1rem;
  word-break: keep-all;
  overflow: auto;
}
.MWF_selector_letterAreaNode{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem 2rem 2rem 2rem;
  justify-items: center;
  font-size: 0.875rem;
}
