<div style="display: flex;flex-direction: column;height: 100%;overflow: hidden;gap:.5rem;">
    <div class="m-path" data-o2-element="pathNode">
    </div>
    <div  data-o2-element="contentNode" style="flex:1;display: flex;flex-direction: column;overflow: hidden;gap:.5rem;">
        <div data-o2-element="toolBarNode" class="m-tool"></div>
        <div  data-o2-element="listContentNode" class="m-list">
            <div class="skeleton" data-o2-element="skeletonNode">
                <div class="skeleton_item" style="width: 90%"></div>
                <div class="skeleton_item" style="width: 60%"></div>
                <div class="skeleton_item"></div>
                <div class="skeleton_item" style="width: 70%"></div>
                <div class="skeleton_item"></div>
                <div class="skeleton_item" style="width: 60%"></div>
                <div class="skeleton_item"></div>
                <div class="skeleton_item" style="width: 80%"></div>
            </div>
        </div>
    </div>
</div>




