<div class="path" data-o2-element="pathNode">
</div>
<div class="content" data-o2-element="contentNode">
    <div class="toolBarList" data-o2-element="toolBarNode"></div>
    <div class="contentTitle" data-o2-element="listTitleNode">

    </div>
    <div class="contentList" data-o2-element="listContentNode">
        <div class="skeleton" data-o2-element="skeletonNode">
            <div class="skeleton_item" style="width: 90%"></div>
            <div class="skeleton_item" style="width: 60%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 70%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 60%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 80%"></div>
        </div>
    </div>
</div>




