<div class="menuArea">
    <div class="menu" data-o2-element="publicMenuNode">
        <div class="menuTitle">
            <div class="menuTitleText">{{$.lp.publicNavi}}</div>


        </div>
        <div class="menuItem">
            <div class="menuItemIcon"><icon class="o2Drive icon-zhankai"></icon></div>
            <div class="menuItemText">我的收藏</div>
        </div>
        <div data-o2-element="favoriteListNode">
        </div>
        <div class="menuDivider"></div>
        <div class="menuItem">
            <div class="menuItemIcon"><icon class="o2Drive icon-zhankai"></icon></div>
            <div class="menuItemText">共享工作区</div>
            {{if $.data.isManager || $.data.isZoneCreator}}

            <div class="menuItemAction" data-o2-events="click:createZone">
                <icon class="o2icon-zengjia mainColor_color"></icon>
            </div>

            {{end if}}
        </div>
        <div data-o2-element="publicMenuListNode">
        </div>
    </div>
</div>
<div class="contentArea" data-o2-element="mainNode">
</div>
