<table align="left" class="listTable" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <th valign="top" align="left" style="width: 30px;">
            {{$.lp.sequence}}
        </th>
        {{each $.fieldList}}
        <th valign="top" align="left" data-o2-field="{{$.field}}" class="th"
            data-o2-events="click:orderColumn:{{$.field}}:{{$.fieldType}};mouseenter:thEneter;mouseleave:thLeave">
            {{$.name}}

            {{if !["boolean", "strings"].contains($.fieldType)}}
            <i class="{{$.icon}}"></i>
            {{end if}}

            <i class="o2icon-move move" data-o2-events="click:moveClick;mousedown:move" style="display: none;padding: 10px 0;cursor: move;"></i>

            {{if $.o2_last}}
            <i class="o2icon-add addcolumnicon mainColor_color" data-o2-events="click:addColumn"></i>
            {{end if}}

        </th>
        {{end each}}
    </tr>

    {{each $.data}}
    <tr class="row" data-o2-events="click:openItem:{{$.id}}:{{$.category}};mouseover:rowOver;mouseout:rowOut">
        <td>{{$.o2_sequence}}</td>

        {{each $._.fieldList}}

        <td>

            {{if $.field === "title"}}
                <a href="#">{{$._[$.field]}}</a>
            {{end if}}

            {{if $.field === "completed"}}
                {{ $._._.lp[$._[$.field]] }}
            {{end if}}

            {{if ["title","completed"].indexOf($.field) === -1  }}
                {{$._[$.field]}}
            {{end if}}

        </td>

        {{end each}}
    </tr>
    {{end each}}
</table>

<!--{{if !$.data}}-->
<!--<div class="listNoData">{{$.lp.noSearchkey}}</div>-->
<!--{{end if}}-->

{{if !$.data || !$.data.length}}
<div class="listNoData">{{$.lp.noData}}</div>
{{end if}}