<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%">
            <col width="37%">
            <col width="12%">
            <col width="13%">
            <col width="10%">
            <col width="13%">
            <col width="13%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAllFile">
                        <div class="selectFlagIcon"></div>
                    </div>
                </div>
            </th>
            <th>
                <span>文件名</span>
            </th>
            <th><span>创建时间</span>
            </th>
            <th >
                <span>大小</span>
            </th>
            <th >
                <span>创建人</span>
            </th>
            <th >
                <span>状态</span>
            </th>
            <th >
                <span>位置</span>
            </th>
        </tr>
        </thead>
    </table>
</div>
