:root {
    --oo-color-main: #ed8824;
    --oo-color-main-light: #d9ecff;
    --oo-color-main-deep: #73410F;
    --oo-color-over: #c6e2ff;
    --oo-color-deep: #331C05;
    --oo-color-light: #d9ecff;
    --oo-color-hover: #FFFBF7;
    --oo-color-icon: #857996;
    --oo-color-hover2: #E7E3FC;
    --oo-color-odd-even: #FAFAFA;
}
