<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.jrockit.mc.rjmx.attributeTransformation" name="MBean Attribute Transformation" schema="schema/com.jrockit.mc.rjmx.attributeTransformation.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.syntheticattribute" name="Synthetic MBeans and Attributes" schema="schema/com.jrockit.mc.rjmx.syntheticattribute.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.service" name="JMX Services" schema="schema/com.jrockit.mc.rjmx.service.exsd"/>
   <extension-point id="triggerConstraints" name="triggerConstraints" schema="schema/triggerConstraints.exsd"/>
   <extension-point id="triggerActions" name="triggerActions" schema="schema/triggerActions.exsd"/>
   <extension-point id="triggerEvaluators" name="triggerEvaluators" schema="schema/triggerEvaluators.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.syntheticnotification" name="Synthetic MBean notification" schema="schema/com.jrockit.mc.rjmx.syntheticnotification.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.actionProvider" name="Action Provider" schema="schema/com.jrockit.mc.rjmx.actionProvider.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.descriptorProvider" name="Descriptor Provider" schema="schema/com.jrockit.mc.rjmx.descriptorProvider.exsd"/>
   <extension-point id="triggerActionExceptionHandlers" name="triggerActionExceptionHandlers" schema="schema/triggerActionExceptionHandlers.exsd"/>
   <extension-point id="com.jrockit.mc.rjmx.metadataprovider" name="MRI Meta Data Provider" schema="schema/com.jrockit.mc.rjmx.metadataprovider.exsd"/>
  
   <extension
         point="com.jrockit.mc.rjmx.service">
      <service
            factory="com.jrockit.mc.rjmx.services.internal.DiagnosticCommandServiceFactory"
            description="Diagnostic Commands"
            name="Diagnostic Commands">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.TimingServiceFactory"
            description="Server side time information"
            name="Timing">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.SystemPropertiesServiceFactory"
            description="Service for retrieving system properties"
            name="System Properties">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.VirtualMachineServiceFactory"
            description="Service for retrieving JVM related information"
            name="Virtual Machine Information">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.SubscriptionServiceFactory"
            description="Service for controlling the client side attribute subscription engine"
            name="Subscription Engine">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.MRIMetaDataServiceFactory"
            description="Service for getting attribute subscription related information and metadata"
            name="Attribute Info">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.AttributeStorageServiceFactory"
            description="Service for storing attribute values"
            name="Attribute Storage">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.flr.internal.FlightRecorderServiceFactory"
            description="Service for controlling the flight recorder"
            name="Flight Recorder">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.CommercialFeaturesServiceFactory"
            description="Service for checking and enabling the state of the commercial features in hotspot."
            name="Commercial Features">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.persistence.internal.PersistenceServiceFactory"
            description="Service for controlling data persistence"
            name="Data Persistence Service">
      </service>
      <service
            factory="com.jrockit.mc.rjmx.services.internal.AttributeTransformationServiceFactory"
            name="Attribute Transformation">
      </service>
   </extension>

	<extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="com.jrockit.mc.rjmx.actionprovider.IActionProvider"
               class="com.jrockit.mc.rjmx.actionprovider.DefaultActionFactory">
            <adapter
                  type="com.jrockit.mc.common.IUserAction">
            </adapter>
         </factory>
         <factory
               adaptableType="com.jrockit.mc.rjmx.model.IServer"
               class="com.jrockit.mc.rjmx.actionprovider.DefaultActionFactory">
            <adapter
                  type="com.jrockit.mc.common.IUserAction">
            </adapter>
         </factory>
      </extension>
   <extension
         point="com.jrockit.mc.rjmx.syntheticattribute">
      <syntheticAttribute
            attributeName="attribute://java.lang:type=Memory/FreeHeapMemory"
            class="com.jrockit.mc.rjmx.subscription.internal.LongDifferenceAttribute"
            readable="true"
            type="long"
            writeable="false">
         <properties>
            <string
                  key="minuend"
                  value="attribute://java.lang:type=Memory/HeapMemoryUsage/committed">
            </string>
            <string
                  key="subtrahend"
                  value="attribute://java.lang:type=Memory/HeapMemoryUsage/used">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=Memory/FreeNonHeapMemory"
            class="com.jrockit.mc.rjmx.subscription.internal.LongDifferenceAttribute"
            readable="true"
            type="long"
            writeable="false">
         <properties>
            <string
                  key="minuend"
                  value="attribute://java.lang:type=Memory/NonHeapMemoryUsage/committed">
            </string>
            <string
                  key="subtrahend"
                  value="attribute://java.lang:type=Memory/NonHeapMemoryUsage/used">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=Memory/HeapMemoryUsagePercent"
            class="com.jrockit.mc.rjmx.subscription.internal.DivisionAttribute"
            readable="true"
            type="double"
            writeable="false">
         <properties>
            <string
                  key="dividend"
                  value="attribute://java.lang:type=Memory/HeapMemoryUsage/used">
            </string>
            <string
                  key="divisor"
                  value="attribute://java.lang:type=Memory/HeapMemoryUsage/committed">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=OperatingSystem/PhysicalMemoryUsagePercent"
            class="com.jrockit.mc.rjmx.subscription.internal.DivisionAttribute"
            readable="true"
            type="double"
            writeable="false">
         <properties>
            <string
                  key="dividend"
                  value="attribute://java.lang:type=OperatingSystem/UsedPhysicalMemorySize">
            </string>
            <string
                  key="divisor"
                  value="attribute://java.lang:type=OperatingSystem/TotalPhysicalMemorySize">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=OperatingSystem/UsedPhysicalMemorySize"
            class="com.jrockit.mc.rjmx.subscription.internal.LongDifferenceAttribute"
            readable="true"
            type="long"
            writeable="false">
         <properties>
            <string
                  key="minuend"
                  value="attribute://java.lang:type=OperatingSystem/TotalPhysicalMemorySize">
            </string>
            <string
                  key="subtrahend"
                  value="attribute://java.lang:type=OperatingSystem/FreePhysicalMemorySize">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=OperatingSystem/UsedSwapSpaceSize"
            class="com.jrockit.mc.rjmx.subscription.internal.LongDifferenceAttribute"
            readable="true"
            type="long"
            writeable="false">
         <properties>
            <string
                  key="minuend"
                  value="attribute://java.lang:type=OperatingSystem/TotalSwapSpaceSize">
            </string>
            <string
                  key="subtrahend"
                  value="attribute://java.lang:type=OperatingSystem/FreeSwapSpaceSize">
            </string>
         </properties>
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=Threading/DeadlockedThreadCount"
            class="com.jrockit.mc.rjmx.subscription.internal.DeadlockedThreadCountAttribute"
            readable="true"
            type="int"
            writeable="false">
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://java.lang:type=Threading/MonitoredDeadlockedThreadCount"
            class="com.jrockit.mc.rjmx.subscription.internal.MonitoredDeadlockedThreadCountAttribute"
            readable="true"
            type="int"
            writeable="false">
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://com.sun.management:type=GarbageCollectionAggregator/HeapLiveSet"
            class="com.jrockit.mc.rjmx.subscription.internal.HotSpotLiveSetAttribute"
            description="The remaining heap memory after the last major GC, measured in percent of committed heap."
            readable="true"
            type="double"
            writeable="false">
      </syntheticAttribute>
      <syntheticAttribute
            attributeName="attribute://com.sun.management:type=GarbageCollectionAggregator/LastGcInfo"
            class="com.jrockit.mc.rjmx.subscription.internal.HotSpotLastGcAttribute"
            description="Information from the last time a garbage collection took place."
            readable="true"
            type="javax.management.openmbean.CompositeData"
            writeable="false">
      </syntheticAttribute>
   </extension>
   <extension
         point="com.jrockit.mc.rjmx.syntheticnotification">
      <syntheticNotification
            notificationName="notification://com.sun.management:type=GarbageCollectionAggregator/com.sun.management.gc.notification"
            class="com.jrockit.mc.rjmx.subscription.internal.HotSpotGcNotification"
            description="Sends an event every time a garbage collection has taken place."
            message=""
            type="javax.management.openmbean.CompositeData" />
   </extension>

	<extension
         point="com.jrockit.mc.rjmx.triggerActions">
      <triggerAction
            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionMail"
            description="%TRIGGER_ACTION_EMAIL_DESCRIPTION"
            icon="icons/send-email-16.png"
            id="com.jrockit.mc.rjmx.triggers.actions.TriggerActionMail"
            name="%TRIGGER_ACTION_EMAIL_NAME">      
         <string
               description="%TRIGGER_ACTION_EMAIL_SENDER_DESCRIPTION"
               id="email_from"
               name="%TRIGGER_ACTION_EMAIL_SENDER_LABEL"
               preference="false"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_RECEIVER_DESCRIPTION"
               id="email_to"
               name="%TRIGGER_ACTION_EMAIL_RECEIVER_LABEL"
               preference="false"/>
         <string
               description="%TRIGGER_ACTION_EMAIL_CC_DESCRIPTION"
               id="email_cc"
               name="%TRIGGER_ACTION_EMAIL_CC_LABEL"
               preference="false"/>
      </triggerAction>
      <triggerAction
            name="%TRIGGER_ACTION_HPROF_NAME"
            icon="icons/hprof-16.png"
            description="%TRIGGER_ACTION_HPROF_DESCRIPTION"
            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionHPROF"
            id="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionHPROF">
         <boolean
               description="%TRIGGER_ACTION_HPROF_ONLY_LIVE_DESCRIPTION"
               id="only_live"
               name="%TRIGGER_ACTION_HPROF_ONLY_LIVE_NAME"
               value="true">
         </boolean>
         <string
               description="%TRIGGER_ACTION_HPROF_FILENAME_DESCRIPTION"
               id="filename"
               name="%TRIGGER_ACTION_HPROF_FILENAME_NAME"
               value="default.hprof">
         </string>
      </triggerAction>

      <triggerAction
            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionDiagnosticCommand"
            description="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_DESCRIPTION"
            icon="icons/diagnostic-command-16.png"
            id="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionDiagnosticCommand"
            name="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_NAME">
         <file
               description="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_LOG_FILE_DESCRIPTION"
               id="log_file"
               name="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_LOG_FILE_NAME"
               value="command.log"/>
         <boolean
               description="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_APPEND_DESCRIPTION"
               id="append"
               name="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_APPEND_NAME"
               value="true"/>
         <string
               description="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_COMMAND_DESCRIPTION"
               id="command"
               name="%TRIGGER_ACTION_DIAGNOSTIC_COMMAND_COMMAND_NAME"
               value="Thread.print"/>
      </triggerAction>

      <!-- Activate extension when we have a working headless console
			      <triggerAction
			            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionDigest"
			            description="%TRIGGER_ACTION_DIGEST_DESCRIPTION"
			            icon="icons/send-email-16.png"
			            id="com.jrockit.mc.rjmx.triggers.actions.TriggerActionDigest"
			            name="%TRIGGER_ACTION_DIGEST_NAME">
			     	<integer
			               description="How often reports should be sent, in minutes."
			               id="report_interval"
			               label="%TRIGGER_ACTION_DIGEST_REPORT_INTERVAL"
			               min="1"
			               value="120"/>
			         <string
			               description="%TRIGGER_ACTION_EMAIL_SMTP_DESCRIPTION"
			               id="smtp_server"
			               label="%TRIGGER_ACTION_EMAIL_SMTP_LABEL"
			               preference="true"/>
			         <string
			               description="%TRIGGER_ACTION_EMAIL_SENDER_DESCRIPTION"
			               id="email_from"
			               label="%TRIGGER_ACTION_EMAIL_SENDER_LABEL"
			               preference="false"/>
			         <string
			               description="%TRIGGER_ACTION_EMAIL_RECEIVER_DESCRIPTION"
			               id="email_to"
			               label="%TRIGGER_ACTION_EMAIL_RECEIVER_LABEL"
			               preference="true"/>
			         <string
			               description="%TRIGGER_ACTION_EMAIL_CC_DESCRIPTION"
			               id="email_cc"
			               label="%TRIGGER_ACTION_EMAIL_CC_LABEL"
			               preference="true"/>
			         <string
			               description="%TRIGGER_ACTION_EMAIL_BCC_DESCRIPTION"
			               id="email_bcc"
			               label="%TRIGGER_ACTION_EMAIL_BCC_LABEL"
			               preference="true"/>
			      </triggerAction>
       -->

      <triggerAction
            name="%TRIGGER_ACTION_LOG_TO_FILE_NAME"
            icon="icons/console_view.png"
            description="%TRIGGER_ACTION_LOG_TO_FILE_DESCRIPTION"
            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionLogToFile"
            id="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionLogToFile">
         <file
               description="%TRIGGER_ACTION_LOG_TO_FILE_FILENAME_DESCRIPTION"
               id="filename"
               name="%TRIGGER_ACTION_LOG_TO_FILE_FILENAME_NAME"
               value="log.txt">
         </file>
      </triggerAction>
      
      <triggerAction
            class="com.jrockit.mc.rjmx.triggers.actions.internal.TriggerActionSystemOut"
            description="%TRIGGER_ACTION_SYSTEM_OUT_DESCRIPTION"
            icon="icons/console_view.png"
            id="com.jrockit.mc.rjmx.triggers.actions.TriggerActionSystemOut"
            name="%TRIGGER_ACTION_SYSTEM_OUT_NAME"/>
   </extension>

   <extension
         point="com.jrockit.mc.rjmx.triggerConstraints">
      <triggerConstraint
            class="com.jrockit.mc.rjmx.triggers.constraints.internal.TriggerConstraintDateRange"
            description="%TRIGGER_CONSTRAINT_DATE_RANGE_DESCRIPTION"
            icon="icons/date-span-16.png"
            id="com.jrockit.mc.rjmx.triggers.constraints.TriggerConstraintDateRange"
            name="%TRIGGER_CONSTRAINT_DATE_RANGE_NAME">
         <date
               description="%TRIGGER_CONSTRAINT_DATE_RANGE_FROM_DESCRIPTION"
               id="from"
               name="%TRIGGER_CONSTRAINT_DATE_RANGE_FROM_LABEL"/>
         <date
               description="%TRIGGER_CONSTRAINT_DATE_RANGE_TO_DESCRIPTION"
               id="to"
               name="%TRIGGER_CONSTRAINT_DATE_RANGE_TO_LABEL"/>
      </triggerConstraint>
      <triggerConstraint
            class="com.jrockit.mc.rjmx.triggers.constraints.internal.TriggerConstraintTimeRange"
            description="%TRIGGER_CONSTRAINT_TIME_RANGE_DESCRIPTION"
            icon="icons/time-span-16.png"
            id="com.jrockit.mc.rjmx.triggers.constraints.TriggerConstraintTimeRange"
            name="%TRIGGER_CONSTRAINT_TIME_RANGE_NAME">
         <time
               description="%TRIGGER_CONSTRAINT_TIME_RANGE_FROM_DESCRIPTION"
               id="from"
               name="%TRIGGER_CONSTRAINT_TIME_RANGE_FROM_LABEL"/>
         <time
               description="%TRIGGER_CONSTRAINT_TIME_RANGE_TO_DESCRIPTION"
               id="to"
               name="%TRIGGER_CONSTRAINT_TIME_RANGE_TO_LABEL"/>
      </triggerConstraint>
      <triggerConstraint
            class="com.jrockit.mc.rjmx.triggers.constraints.internal.TriggerConstraintDayOfWeek"
            description="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_DESCRIPTION"
            icon="icons/day-of-week-16.png"
            id="com.jrockit.mc.rjmx.triggers.constraints.TriggerConstraintDayOfWeek"
            name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_NAME">
         <boolean
               id="monday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_MONDAY_LABEL"
               value="true"/>
         <boolean
               id="tuesday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_TUESDAY_LABEL"
               value="true"/>
         <boolean
               id="wednesday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_WEDNESDAY_LABEL"
               value="true"/>
         <boolean
               id="thursday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_THURSDAY_LABEL"
               value="true"/>
         <boolean
               id="friday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_FRIDAY_LABEL"
               value="true"/>
         <boolean
               id="saturday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_SATURDAY_LABEL"
               value="true"/>
         <boolean
               id="sunday"
               name="%TRIGGER_CONSTRAINT_DAY_OF_WEEK_SUNDAY_LABEL"
               value="true"/>
      </triggerConstraint>
   </extension>
   
    <extension
         point="com.jrockit.mc.rjmx.triggerEvaluators">
      <triggerEvaluator
            class="com.jrockit.mc.rjmx.triggers.internal.ValueEvaluatorBoolean"
            description="A true boolean value evaluator"
            id="com.jrockit.mc.rjmx.triggers.evaluators.ValueEvaluatorBoolean"
            name="ValueEvaluatorBoolean">
      </triggerEvaluator>
      <triggerEvaluator
            class="com.jrockit.mc.rjmx.triggers.internal.ValueEvaluatorNumberMax"
            description="A maximum number value evaluator"
            id="com.jrockit.mc.rjmx.triggers.evaluators.ValueEvaluatorNumberMax"
            name="ValueEvaluatorNumberMax">
      </triggerEvaluator>
      <triggerEvaluator
            class="com.jrockit.mc.rjmx.triggers.internal.ValueEvaluatorNumberMin"
            description="A minimum number value evaluator"
            id="com.jrockit.mc.rjmx.triggers.evaluators.ValueEvaluatorNumberMin"
            name="ValueEvaluatorNumberMin">
      </triggerEvaluator>
      <triggerEvaluator
            class="com.jrockit.mc.rjmx.triggers.internal.ValueEvaluatorStringMatch"
            description="An equal String value evaluator"
            id="com.jrockit.mc.rjmx.triggers.evaluators.ValueEvaluatorStringMatch"
            name="ValueEvaluatorStringMatch">
      </triggerEvaluator>
   </extension>
   <extension
         point="com.jrockit.mc.rjmx.triggerActionExceptionHandlers">
      <exceptionHandler
            class="com.jrockit.mc.rjmx.triggers.internal.DefaultExceptionHandler">
      </exceptionHandler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.jrockit.mc.rjmx.preferences.Initializer">
      </initializer>
   </extension>
   <extension
         point="com.jrockit.mc.rjmx.attributeTransformation">
      <attributeTransformation
            class="com.jrockit.mc.rjmx.services.internal.SingleMRITransformationFactory"
            transformationName="difference">
         <property name="visualizeLabel" value="%DIFFERENCE_TRANSFORMATION_VISUALIZATION_LABEL" />
         <property name="transformationClass" value="com.jrockit.mc.rjmx.services.internal.DifferenceTransformation" />
         <transformationProperties>
            <property name="displayName" value="%DIFFERENCE_TRANSFORMATION_DISPLAY_NAME" />
         </transformationProperties>
      </attributeTransformation>
      <attributeTransformation
            class="com.jrockit.mc.rjmx.services.internal.SingleMRITransformationFactory"
            transformationName="rate">
         <property name="visualizeLabel" value="%RATE_TRANSFORMATION_VISUALIZATION_LABEL" />
         <property name="transformationClass" value="com.jrockit.mc.rjmx.services.internal.DifferenceTransformation" />
         <transformationProperties>
            <property name="displayName" value="%RATE_TRANSFORMATION_DISPLAY_NAME" />
            <property name="rate" value="1000" />
         </transformationProperties>
      </attributeTransformation>
      <attributeTransformation
            class="com.jrockit.mc.rjmx.services.internal.SingleMRITransformationFactory"
            transformationName="average">
         <property name="visualizeLabel" value="%AVERAGE_TRANSFORMATION_VISUALIZATION_LABEL" />
         <property name="transformationClass" value="com.jrockit.mc.rjmx.services.internal.AverageTransformation" />
         <transformationProperties>
         	<property name="terms" value="30" />
            <property name="displayName" value="%AVERAGE_TRANSFORMATION_DISPLAY_NAME" />
         </transformationProperties>
      </attributeTransformation>
      <attributeTransformation
            class="com.jrockit.mc.rjmx.services.internal.SingleMRITransformationFactory"
            transformationName="delta">
         <property name="visualizeLabel" value="%DELTA_TRANSFORMATION_VISUALIZATION_LABEL" />
         <property name="transformationClass" value="com.jrockit.mc.rjmx.services.internal.DeltaTransformation" />
         <transformationProperties>
            <property name="displayName" value="%DELTA_TRANSFORMATION_DISPLAY_NAME" />
         </transformationProperties>
      </attributeTransformation>
   </extension>   
   
</plugin>
