.checkbox{
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
}
.checkbox.checked{
    background-color: #3f95f1;
    border-color: #3f95f1
}
.checkbox:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transform-origin: center;
}
.checkbox.checked:after {
    transform: rotate(45deg) scaleY(1);
}
.laytable-tr-hover{
    background: #ecf3fd !important;
}
#rightContentDiv table div{
    box-sizing: border-box !important;
}