<div class="content" data-o2-element="contentNode">
    <div data-o2-element="searchNode"></div>
    <div class="toolBarList" data-o2-element="toolBarNode"></div>
    <div class="contentTitle" data-o2-element="listTitleNode">
    </div>
    <div class="contentList" data-o2-element="listContentNode">
        <div class="skeleton" data-o2-element="skeletonNode">
            <div class="skeleton_item" style="width: 90%"></div>
            <div class="skeleton_item" style="width: 60%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 70%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 60%"></div>
            <div class="skeleton_item"></div>
            <div class="skeleton_item" style="width: 80%"></div>
        </div>
    </div>
    <div class="contentBottom" data-o2-element="listBottomNode">
        <div class="contentPageArea">
            <div class="firstPage" data-o2-events="click:firstPage">{{$.lp.firstPage}}</div>
            <div class="prevPage o2WorkApplication icon-left" data-o2-events="click:prevPage"></div>
            <div class="pageInfor" data-o2-element="pageInfoNode"></div>
            <div class="lastPage" data-o2-events="click:lastPage">{{$.lp.lastPage}}</div>
            <div class="nextPage o2WorkApplication icon-right" data-o2-events="click:nextPage"></div>
            <div class="pageNumberArea" data-o2-element="pageNumberAreaNode"></div>
        </div>
    </div>
</div>

