<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<integer>0</integer>
	<key>image</key>
	<string>icon.png</string>
	<key>rows</key>
	<integer>3</integer>
	<key>columns</key>
	<integer>7</integer>
	<key>rowsInLandscape</key>
	<integer>3</integer>
	<key>columnsInLandscape</key>
	<integer>13</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>id</key>
			<string>024</string>
			<key>image</key>
			<string>024.png</string>
			<key>preview</key>
			<string>024.png</string>
			<key>title</key>
			<string>微笑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>041</string>
			<key>image</key>
			<string>041.png</string>
			<key>preview</key>
			<string>041.png</string>
			<key>title</key>
			<string>撇嘴</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>020</string>
			<key>image</key>
			<string>020.png</string>
			<key>preview</key>
			<string>020.png</string>
			<key>title</key>
			<string>色</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>044</string>
			<key>image</key>
			<string>044.png</string>
			<key>preview</key>
			<string>044.png</string>
			<key>title</key>
			<string>发呆</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>022</string>
			<key>image</key>
			<string>022.png</string>
			<key>preview</key>
			<string>022.png</string>
			<key>title</key>
			<string>得意</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>010</string>
			<key>image</key>
			<string>010.png</string>
			<key>preview</key>
			<string>010.png</string>
			<key>title</key>
			<string>流泪</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>021</string>
			<key>image</key>
			<string>021.png</string>
			<key>preview</key>
			<string>021.png</string>
			<key>title</key>
			<string>害羞</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>105</string>
			<key>image</key>
			<string>105.png</string>
			<key>preview</key>
			<string>105.png</string>
			<key>title</key>
			<string>闭嘴</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>036</string>
			<key>image</key>
			<string>036.png</string>
			<key>preview</key>
			<string>036.png</string>
			<key>title</key>
			<string>睡</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>011</string>
			<key>image</key>
			<string>011.png</string>
			<key>preview</key>
			<string>011.png</string>
			<key>title</key>
			<string>大哭</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>026</string>
			<key>image</key>
			<string>026.png</string>
			<key>preview</key>
			<string>026.png</string>
			<key>title</key>
			<string>尴尬</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>025</string>
			<key>image</key>
			<string>025.png</string>
			<key>preview</key>
			<string>025.png</string>
			<key>title</key>
			<string>发怒</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>002</string>
			<key>image</key>
			<string>002.png</string>
			<key>preview</key>
			<string>002.png</string>
			<key>title</key>
			<string>调皮</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>001</string>
			<key>image</key>
			<string>001.png</string>
			<key>preview</key>
			<string>001.png</string>
			<key>title</key>
			<string>呲牙</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>034</string>
			<key>image</key>
			<string>034.png</string>
			<key>preview</key>
			<string>034.png</string>
			<key>title</key>
			<string>惊讶</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>033</string>
			<key>image</key>
			<string>033.png</string>
			<key>preview</key>
			<string>033.png</string>
			<key>title</key>
			<string>难过</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>013</string>
			<key>image</key>
			<string>013.png</string>
			<key>preview</key>
			<string>013.png</string>
			<key>title</key>
			<string>酷</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>028</string>
			<key>image</key>
			<string>028.png</string>
			<key>preview</key>
			<string>028.png</string>
			<key>title</key>
			<string>冷汗</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>014</string>
			<key>image</key>
			<string>014.png</string>
			<key>preview</key>
			<string>014.png</string>
			<key>title</key>
			<string>抓狂</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>023</string>
			<key>image</key>
			<string>023.png</string>
			<key>preview</key>
			<string>023.png</string>
			<key>title</key>
			<string>吐</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>004</string>
			<key>image</key>
			<string>004.png</string>
			<key>preview</key>
			<string>004.png</string>
			<key>title</key>
			<string>偷笑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>019</string>
			<key>image</key>
			<string>019.png</string>
			<key>preview</key>
			<string>019.png</string>
			<key>title</key>
			<string>可爱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>031</string>
			<key>image</key>
			<string>031.png</string>
			<key>preview</key>
			<string>031.png</string>
			<key>title</key>
			<string>白眼</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>032</string>
			<key>image</key>
			<string>032.png</string>
			<key>preview</key>
			<string>032.png</string>
			<key>title</key>
			<string>傲慢</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>080</string>
			<key>image</key>
			<string>080.png</string>
			<key>preview</key>
			<string>080.png</string>
			<key>title</key>
			<string>饥饿</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>081</string>
			<key>image</key>
			<string>081.png</string>
			<key>preview</key>
			<string>081.png</string>
			<key>title</key>
			<string>困</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>027</string>
			<key>image</key>
			<string>027.png</string>
			<key>preview</key>
			<string>027.png</string>
			<key>title</key>
			<string>惊恐</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>003</string>
			<key>image</key>
			<string>003.png</string>
			<key>preview</key>
			<string>003.png</string>
			<key>title</key>
			<string>流汗</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>038</string>
			<key>image</key>
			<string>038.png</string>
			<key>preview</key>
			<string>038.png</string>
			<key>title</key>
			<string>憨笑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>051</string>
			<key>image</key>
			<string>051.png</string>
			<key>preview</key>
			<string>051.png</string>
			<key>title</key>
			<string>大兵</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>043</string>
			<key>image</key>
			<string>043.png</string>
			<key>preview</key>
			<string>043.png</string>
			<key>title</key>
			<string>奋斗</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>082</string>
			<key>image</key>
			<string>082.png</string>
			<key>preview</key>
			<string>082.png</string>
			<key>title</key>
			<string>咒骂</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>035</string>
			<key>image</key>
			<string>035.png</string>
			<key>preview</key>
			<string>035.png</string>
			<key>title</key>
			<string>疑问</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>012</string>
			<key>image</key>
			<string>012.png</string>
			<key>preview</key>
			<string>012.png</string>
			<key>title</key>
			<string>嘘</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>050</string>
			<key>image</key>
			<string>050.png</string>
			<key>preview</key>
			<string>050.png</string>
			<key>title</key>
			<string>晕</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>014</string>
			<key>image</key>
			<string>014.png</string>
			<key>preview</key>
			<string>014.png</string>
			<key>title</key>
			<string>折磨</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>040</string>
			<key>image</key>
			<string>040.png</string>
			<key>preview</key>
			<string>040.png</string>
			<key>title</key>
			<string>衰</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>077</string>
			<key>image</key>
			<string>077.png</string>
			<key>preview</key>
			<string>077.png</string>
			<key>title</key>
			<string>骷髅</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>006</string>
			<key>image</key>
			<string>006.png</string>
			<key>preview</key>
			<string>006.png</string>
			<key>title</key>
			<string>敲打</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>005</string>
			<key>image</key>
			<string>005.png</string>
			<key>preview</key>
			<string>005.png</string>
			<key>title</key>
			<string>再见</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>007</string>
			<key>image</key>
			<string>007.png</string>
			<key>preview</key>
			<string>007.png</string>
			<key>title</key>
			<string>擦汗</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>084</string>
			<key>image</key>
			<string>084.png</string>
			<key>preview</key>
			<string>084.png</string>
			<key>title</key>
			<string>抠鼻</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>085</string>
			<key>image</key>
			<string>085.png</string>
			<key>preview</key>
			<string>085.png</string>
			<key>title</key>
			<string>鼓掌</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>086</string>
			<key>image</key>
			<string>086.png</string>
			<key>preview</key>
			<string>086.png</string>
			<key>title</key>
			<string>糗大了</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>047</string>
			<key>image</key>
			<string>047.png</string>
			<key>preview</key>
			<string>047.png</string>
			<key>title</key>
			<string>坏笑</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>087</string>
			<key>image</key>
			<string>087.png</string>
			<key>preview</key>
			<string>087.png</string>
			<key>title</key>
			<string>左哼哼</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>045</string>
			<key>image</key>
			<string>045.png</string>
			<key>preview</key>
			<string>045.png</string>
			<key>title</key>
			<string>右哼哼</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>088</string>
			<key>image</key>
			<string>088.png</string>
			<key>preview</key>
			<string>088.png</string>
			<key>title</key>
			<string>哈欠</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>049</string>
			<key>image</key>
			<string>049.png</string>
			<key>preview</key>
			<string>049.png</string>
			<key>title</key>
			<string>鄙视</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>015</string>
			<key>image</key>
			<string>015.png</string>
			<key>preview</key>
			<string>015.png</string>
			<key>title</key>
			<string>委屈</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>089</string>
			<key>image</key>
			<string>089.png</string>
			<key>preview</key>
			<string>089.png</string>
			<key>title</key>
			<string>快哭了</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>042</string>
			<key>image</key>
			<string>042.png</string>
			<key>preview</key>
			<string>042.png</string>
			<key>title</key>
			<string>阴险</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>037</string>
			<key>image</key>
			<string>037.png</string>
			<key>preview</key>
			<string>037.png</string>
			<key>title</key>
			<string>亲亲</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>090</string>
			<key>image</key>
			<string>090.png</string>
			<key>preview</key>
			<string>090.png</string>
			<key>title</key>
			<string>吓</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>052</string>
			<key>image</key>
			<string>052.png</string>
			<key>preview</key>
			<string>052.png</string>
			<key>title</key>
			<string>可怜</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>018</string>
			<key>image</key>
			<string>018.png</string>
			<key>preview</key>
			<string>018.png</string>
			<key>title</key>
			<string>菜刀</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>061</string>
			<key>image</key>
			<string>061.png</string>
			<key>preview</key>
			<string>061.png</string>
			<key>title</key>
			<string>西瓜</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>062</string>
			<key>image</key>
			<string>062.png</string>
			<key>preview</key>
			<string>062.png</string>
			<key>title</key>
			<string>啤酒</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>091</string>
			<key>image</key>
			<string>091.png</string>
			<key>preview</key>
			<string>091.png</string>
			<key>title</key>
			<string>篮球</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>092</string>
			<key>image</key>
			<string>092.png</string>
			<key>preview</key>
			<string>092.png</string>
			<key>title</key>
			<string>乒乓</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>067</string>
			<key>image</key>
			<string>067.png</string>
			<key>preview</key>
			<string>067.png</string>
			<key>title</key>
			<string>咖啡</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>059</string>
			<key>image</key>
			<string>059.png</string>
			<key>preview</key>
			<string>059.png</string>
			<key>title</key>
			<string>饭</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>008</string>
			<key>image</key>
			<string>008.png</string>
			<key>preview</key>
			<string>008.png</string>
			<key>title</key>
			<string>猪头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>009</string>
			<key>image</key>
			<string>009.png</string>
			<key>preview</key>
			<string>009.png</string>
			<key>title</key>
			<string>玫瑰</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>061</string>
			<key>image</key>
			<string>061.png</string>
			<key>preview</key>
			<string>061.png</string>
			<key>title</key>
			<string>凋谢</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>030</string>
			<key>image</key>
			<string>030.png</string>
			<key>preview</key>
			<string>030.png</string>
			<key>title</key>
			<string>示爱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>029</string>
			<key>image</key>
			<string>029.png</string>
			<key>preview</key>
			<string>029.png</string>
			<key>title</key>
			<string>爱心</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>073</string>
			<key>image</key>
			<string>073.png</string>
			<key>preview</key>
			<string>073.png</string>
			<key>title</key>
			<string>心碎</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>060</string>
			<key>image</key>
			<string>060.png</string>
			<key>preview</key>
			<string>060.png</string>
			<key>title</key>
			<string>蛋糕</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>079</string>
			<key>image</key>
			<string>079.png</string>
			<key>preview</key>
			<string>079.png</string>
			<key>title</key>
			<string>闪电</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>017</string>
			<key>image</key>
			<string>017.png</string>
			<key>preview</key>
			<string>017.png</string>
			<key>title</key>
			<string>炸弹</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>069</string>
			<key>image</key>
			<string>069.png</string>
			<key>preview</key>
			<string>069.png</string>
			<key>title</key>
			<string>刀</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>076</string>
			<key>image</key>
			<string>076.png</string>
			<key>preview</key>
			<string>076.png</string>
			<key>title</key>
			<string>足球</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>063</string>
			<key>image</key>
			<string>063.png</string>
			<key>preview</key>
			<string>063.png</string>
			<key>title</key>
			<string>瓢虫</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>016</string>
			<key>image</key>
			<string>016.png</string>
			<key>preview</key>
			<string>016.png</string>
			<key>title</key>
			<string>便便</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>068</string>
			<key>image</key>
			<string>068.png</string>
			<key>preview</key>
			<string>068.png</string>
			<key>title</key>
			<string>月亮</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>074</string>
			<key>image</key>
			<string>074.png</string>
			<key>preview</key>
			<string>074.png</string>
			<key>title</key>
			<string>太阳</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>075</string>
			<key>image</key>
			<string>075.png</string>
			<key>preview</key>
			<string>075.png</string>
			<key>title</key>
			<string>礼物</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>046</string>
			<key>image</key>
			<string>046.png</string>
			<key>preview</key>
			<string>046.png</string>
			<key>title</key>
			<string>拥抱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>053</string>
			<key>image</key>
			<string>053.png</string>
			<key>preview</key>
			<string>053.png</string>
			<key>title</key>
			<string>强</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>054</string>
			<key>image</key>
			<string>054.png</string>
			<key>preview</key>
			<string>054.png</string>
			<key>title</key>
			<string>弱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>055</string>
			<key>image</key>
			<string>055.png</string>
			<key>preview</key>
			<string>055.png</string>
			<key>title</key>
			<string>握手</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>056</string>
			<key>image</key>
			<string>056.png</string>
			<key>preview</key>
			<string>056.png</string>
			<key>title</key>
			<string>胜利</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>057</string>
			<key>image</key>
			<string>057.png</string>
			<key>preview</key>
			<string>057.png</string>
			<key>title</key>
			<string>抱拳</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>064</string>
			<key>image</key>
			<string>064.png</string>
			<key>preview</key>
			<string>064.png</string>
			<key>title</key>
			<string>勾引</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>072</string>
			<key>image</key>
			<string>072.png</string>
			<key>preview</key>
			<string>072.png</string>
			<key>title</key>
			<string>拳头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>071</string>
			<key>image</key>
			<string>071.png</string>
			<key>preview</key>
			<string>071.png</string>
			<key>title</key>
			<string>差劲</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>066</string>
			<key>image</key>
			<string>066.png</string>
			<key>preview</key>
			<string>066.png</string>
			<key>title</key>
			<string>爱你</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>093</string>
			<key>image</key>
			<string>093.png</string>
			<key>preview</key>
			<string>093.png</string>
			<key>title</key>
			<string>NO</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>065</string>
			<key>image</key>
			<string>065.png</string>
			<key>preview</key>
			<string>065.png</string>
			<key>title</key>
			<string>OK</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>039</string>
			<key>image</key>
			<string>039.png</string>
			<key>preview</key>
			<string>039.png</string>
			<key>title</key>
			<string>爱情</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>048</string>
			<key>image</key>
			<string>048.png</string>
			<key>preview</key>
			<string>048.png</string>
			<key>title</key>
			<string>飞吻</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>094</string>
			<key>image</key>
			<string>094.png</string>
			<key>preview</key>
			<string>094.png</string>
			<key>title</key>
			<string>跳跳</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>070</string>
			<key>image</key>
			<string>070.png</string>
			<key>preview</key>
			<string>070.png</string>
			<key>title</key>
			<string>发抖</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>095</string>
			<key>image</key>
			<string>095.png</string>
			<key>preview</key>
			<string>095.png</string>
			<key>title</key>
			<string>怄火</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>096</string>
			<key>image</key>
			<string>096.png</string>
			<key>preview</key>
			<string>096.png</string>
			<key>title</key>
			<string>转圈</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>097</string>
			<key>image</key>
			<string>097.png</string>
			<key>preview</key>
			<string>097.png</string>
			<key>title</key>
			<string>磕头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>098</string>
			<key>image</key>
			<string>098.png</string>
			<key>preview</key>
			<string>098.png</string>
			<key>title</key>
			<string>回头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>099</string>
			<key>image</key>
			<string>099.png</string>
			<key>preview</key>
			<string>099.png</string>
			<key>title</key>
			<string>跳绳</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>078</string>
			<key>image</key>
			<string>078.png</string>
			<key>preview</key>
			<string>078.png</string>
			<key>title</key>
			<string>挥手</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>100</string>
			<key>image</key>
			<string>100.png</string>
			<key>preview</key>
			<string>100.png</string>
			<key>title</key>
			<string>激动</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>101</string>
			<key>image</key>
			<string>101.png</string>
			<key>preview</key>
			<string>101.png</string>
			<key>title</key>
			<string>街舞</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>102</string>
			<key>image</key>
			<string>102.png</string>
			<key>preview</key>
			<string>102.png</string>
			<key>title</key>
			<string>献吻</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>103</string>
			<key>image</key>
			<string>103.png</string>
			<key>preview</key>
			<string>103.png</string>
			<key>title</key>
			<string>左太极</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>104</string>
			<key>image</key>
			<string>104.png</string>
			<key>preview</key>
			<string>104.png</string>
			<key>title</key>
			<string>右太极</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>107</string>
			<key>image</key>
			<string>107.png</string>
			<key>preview</key>
			<string>107.png</string>
			<key>title</key>
			<string>双喜</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>108</string>
			<key>image</key>
			<string>108.png</string>
			<key>preview</key>
			<string>108.png</string>
			<key>title</key>
			<string>鞭炮</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>109</string>
			<key>image</key>
			<string>109.png</string>
			<key>preview</key>
			<string>109.png</string>
			<key>title</key>
			<string>灯笼</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>110</string>
			<key>image</key>
			<string>110.png</string>
			<key>preview</key>
			<string>110.png</string>
			<key>title</key>
			<string>发财</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>111</string>
			<key>image</key>
			<string>111.png</string>
			<key>preview</key>
			<string>111.png</string>
			<key>title</key>
			<string>K歌</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>112</string>
			<key>image</key>
			<string>112.png</string>
			<key>preview</key>
			<string>112.png</string>
			<key>title</key>
			<string>购物</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>113</string>
			<key>image</key>
			<string>113.png</string>
			<key>preview</key>
			<string>113.png</string>
			<key>title</key>
			<string>邮件</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>114</string>
			<key>image</key>
			<string>114.png</string>
			<key>preview</key>
			<string>114.png</string>
			<key>title</key>
			<string>帅</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>115</string>
			<key>image</key>
			<string>115.png</string>
			<key>preview</key>
			<string>115.png</string>
			<key>title</key>
			<string>喝彩</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>116</string>
			<key>image</key>
			<string>116.png</string>
			<key>preview</key>
			<string>116.png</string>
			<key>title</key>
			<string>祈祷</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>117</string>
			<key>image</key>
			<string>117.png</string>
			<key>preview</key>
			<string>117.png</string>
			<key>title</key>
			<string>爆筋</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>118</string>
			<key>image</key>
			<string>118.png</string>
			<key>preview</key>
			<string>118.png</string>
			<key>title</key>
			<string>棒棒糖</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>119</string>
			<key>image</key>
			<string>119.png</string>
			<key>preview</key>
			<string>119.png</string>
			<key>title</key>
			<string>喝奶</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>120</string>
			<key>image</key>
			<string>120.png</string>
			<key>preview</key>
			<string>120.png</string>
			<key>title</key>
			<string>下面</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>121</string>
			<key>image</key>
			<string>121.png</string>
			<key>preview</key>
			<string>121.png</string>
			<key>title</key>
			<string>香蕉</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>112</string>
			<key>image</key>
			<string>112.png</string>
			<key>preview</key>
			<string>112.png</string>
			<key>title</key>
			<string>飞机</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>123</string>
			<key>image</key>
			<string>123.png</string>
			<key>preview</key>
			<string>123.png</string>
			<key>title</key>
			<string>开车</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>124</string>
			<key>image</key>
			<string>124.png</string>
			<key>preview</key>
			<string>124.png</string>
			<key>title</key>
			<string>左车头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>125</string>
			<key>image</key>
			<string>125.png</string>
			<key>preview</key>
			<string>125.png</string>
			<key>title</key>
			<string>车厢</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>126</string>
			<key>image</key>
			<string>126.png</string>
			<key>preview</key>
			<string>126.png</string>
			<key>title</key>
			<string>右车头</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>127</string>
			<key>image</key>
			<string>127.png</string>
			<key>preview</key>
			<string>127.png</string>
			<key>title</key>
			<string>多云</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>128</string>
			<key>image</key>
			<string>128.png</string>
			<key>preview</key>
			<string>128.png</string>
			<key>title</key>
			<string>下雨</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>129</string>
			<key>image</key>
			<string>129.png</string>
			<key>preview</key>
			<string>129.png</string>
			<key>title</key>
			<string>钞票</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>130</string>
			<key>image</key>
			<string>130.png</string>
			<key>preview</key>
			<string>130.png</string>
			<key>title</key>
			<string>熊猫</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>131</string>
			<key>image</key>
			<string>131.png</string>
			<key>preview</key>
			<string>131.png</string>
			<key>title</key>
			<string>灯泡</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>132</string>
			<key>image</key>
			<string>132.png</string>
			<key>preview</key>
			<string>132.png</string>
			<key>title</key>
			<string>风车</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>133</string>
			<key>image</key>
			<string>133.png</string>
			<key>preview</key>
			<string>133.png</string>
			<key>title</key>
			<string>闹钟</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>134</string>
			<key>image</key>
			<string>134.png</string>
			<key>preview</key>
			<string>134.png</string>
			<key>title</key>
			<string>打伞</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>135</string>
			<key>image</key>
			<string>135.png</string>
			<key>preview</key>
			<string>135.png</string>
			<key>title</key>
			<string>彩球</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>136</string>
			<key>image</key>
			<string>136.png</string>
			<key>preview</key>
			<string>136.png</string>
			<key>title</key>
			<string>钻戒</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>137</string>
			<key>image</key>
			<string>137.png</string>
			<key>preview</key>
			<string>137.png</string>
			<key>title</key>
			<string>沙发</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>138</string>
			<key>image</key>
			<string>138.png</string>
			<key>preview</key>
			<string>138.png</string>
			<key>title</key>
			<string>纸巾</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>139</string>
			<key>image</key>
			<string>139.png</string>
			<key>preview</key>
			<string>139.png</string>
			<key>title</key>
			<string>药</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>140</string>
			<key>image</key>
			<string>140.png</string>
			<key>preview</key>
			<string>140.png</string>
			<key>title</key>
			<string>手枪</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>141</string>
			<key>image</key>
			<string>141.png</string>
			<key>preview</key>
			<string>141.png</string>
			<key>title</key>
			<string>青蛙</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
