<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app id="x-test" metadata-complete="false" version="3.0">
	<display-name>x-test</display-name>
	<security-constraint>
		<display-name>show</display-name>
		<web-resource-collection>
			<web-resource-name>show</web-resource-name>
			<description>
				show
			</description>
			<url-pattern>
				/show/*
			</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>
				show
			</description>
			<role-name>show</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>
		</description>
		<role-name>show</role-name>
	</security-role>
</web-app>
