.o2_statement_statementDesignerNode {
    height : 360px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px #999999;
    background: #f3f3f3;
    border-bottom: 1px solid #cccccc;
}
.o2_statement_statementDesignerFormatLine {
    overflow:hidden;
    line-height: 30px;
    border-bottom: 1px solid #666666;
}
.o2_statement_statementDesignerFormatTitle {
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.o2_statement_statementDesignerLine {
    margin-top: 5px;
    overflow: hidden;
    line-height: 30px;
}
.o2_statement_statementDesignerLine div {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
.o2_statement_statementDesignerSelectTable {
    width: 80px;
    margin-top: 3px;
    height: 20px !important;
    text-align: center;
    line-height: 20px !important;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;
}
.o2_statement_statementDesignerTableContent{
    min-width: 30px;
}
.o2_statement_statementDesignerTitle {
    font-weight: bold;
}
.o2_statement_statementDesignerJpqlLine {
    height: 260px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.o2_statement_statementDesignerCountJpqlLine {
    height: 260px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.o2_statement_statementDesignerScript {
     height: 260px;
     margin-top: 10px;
     border: 1px solid #cccccc;
     background: #ffffff;
 }
.o2_statement_statementDesignerCountScript {
    height: 260px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.o2_statement_statementRunNode {
    margin-top: 10px;
    padding: 0px;
    box-shadow: 0 0 10px #999999;
    background: #f3f3f3;
    border-bottom: 1px solid #cccccc;
}
.o2_statement_statementRunTitleNode{
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    background-color: #505050;
}
.o2_statement_statementRunContentNode {
    overflow: hidden;
}
.o2_statement_statementRunJsonNode {
    height: 100%;
    width: 40%;
    overflow: auto;
    float: left;
    background: #ffffff;
}
.o2_statement_statementRunActionNode {
    height: 100%;
    width: 8%;
    overflow: hidden;
    float: left;
    background: #f3f3f3;
}
.o2_statement_statementRunResultNode {
    height: 100%;
    width: 52%;
    overflow: auto;
    float: left;
    background: #ffffff;
}
.o2_statement_statementRunActionContent {
    height: 50px;
    width: 50px;
    background: url("../x_component_query_StatementDesigner/$Statement/default/icon/run.png") center center no-repeat;
    position: relative;
    top:45%;
    margin: auto;
    cursor: pointer;
}
.o2_statement_tabNode{
    height: 32px;
}
.o2_statement_statementJpqlTabNode{
    height: 32px;
}
.o2_statement_resizeNode{
    height: 3px;
    background-color: #505050;
    cursor: row-resize;
}