<div class="appArea" data-o2-element="appNode">
    <div style="height: 100%" data-o2-element="contentAreaNode">
        <div class="menuArea">
            <div class="menu" >
                <div class="menuTitle">
                    <div class="menuTitleText">{{$.lp.title}}</div>
                </div>
                <div class="menuItem" data-o2-element="allMenuNode" data-o2-events="click:loadList:all">
                    <div class="menuItemIcon"><icon class="iconfont-down"></icon></div>
                    <div class="menuItemText">{{$.lp.allHotArticele}}</div>
                </div>
                <div style="padding-left:20px" class="menuItem" data-o2-element="CMSMenuNode" data-o2-events="click:loadList:CMS">
                    <div class="menuItemIcon"><icon class="iconfont-info"></icon></div>
                    <div class="menuItemText">{{$.lp.infoHotArticele}}</div>
                </div>
                <div style="padding-left:20px" class="menuItem" data-o2-element="BBSMenuNode" data-o2-events="click:loadList:BBS">
                    <div class="menuItemIcon"><icon class="iconfont-bbs"></icon></div>
                    <div class="menuItemText">{{$.lp.bbsHotArticele}}</div>
                </div>
            </div>
        </div>
        <div class="contentArea" data-o2-element="mainNode">
        </div>
    </div>
</div>
