<div class="fieldSelect" data-o2-element="fieldSelectArea">
    <div class="fieldSelect-title">{{$.lp.fieldSelect}}</div>
    <div class="fieldSelect-switch-action" data-o2-events="click:switchFieldSelectContent;mouseover:mainColorOver:fieldSelect-switch-action;mouseout:mainColorOut:fieldSelect-switch-action">
        <i class="o2icon-triangle_down"></i><span>{{$.lp.more}}</span>
    </div>
    <div class="fieldSelect-content">
        {{each $.data}}
        <div class="fieldSelect-item">
            <div class="fieldSelect-item-content" data-o2-events="click:switchFieldSelected;mouseover:fieldOver;mouseout:fieldOut">
                {{if !$.selected}}
                <i class="checkbox o2icon-check_box_outline_blank"></i>
                {{end if}}

                {{if $.selected}}
                <i class="checkbox o2icon-check_box mainColor_color"></i>
                {{end if}}

                {{$.name}}
            </div>
        </div>
        {{end each}}
    </div>
    <div data-o2-events="o2load:checkSwitchFieldSelect"></div>
</div>