<div class="listLayout">
{{each $.data}}
    <div class="listItem" data-o2-events="click:openProject:{{$.id}}">
        <div class="listContent">
            <!-- <div class="listImg" data-o2-events="o2load:loadBgImage:{{$.icon}};"></div> -->
            <div class="listName">{{$.title}}</div>
        </div>
        <div class="listItemContent">
            <div>负责人</div>
            <div>
                {{
                    (function(){
                        var list = $.manageablePersonList;
                        var res = [];
                        list.forEach(function(p){
                            res.push(p.split("@")[0])
                        })
                        return res.join()
                    })()     
                }}
            </div>
        </div>
        <div class="listItemContent">
            <div>开始时间</div>
            <div>
                {{
                    (function(){
                        var res = "";
                        var date = $.startTime || "";
                        if(date!=""){
                            res = date.split(" ")[0]
                        }
                        return res
                    })()
                }} 
            </div>  
        </div>
        <div class="listItemContent">
            <div>结束时间</div>
            <div>
                {{
                    (function(){
                        var res = "";
                        var date = $.endTime || "";
                        if(date!=""){
                            res = date.split(" ")[0]
                        }
                        return res
                    })()
                }} 
            </div>  
        </div>
        <div class="listItemContent">
            <div>项目状态</div>
            <div>{{$._.lp.project.status[$.workStatus] || ""}}</div>
        </div>
        <div class="listCount">
            <div class="listCountItem"><span>{{$._.lp.ProjectList.totalText.total}}</span><span>{{$.taskStatistics.allCount}}</span></div>
        </div>
        <div class="listCount">
            <div class="listCountItem"><span>{{$._.lp.ProjectList.totalText.completed}}</span><span>{{$.taskStatistics.completedCount}}</span></div>
        </div>
        <div class="listCount">
            <div class="listCountItem"><span>{{$._.lp.ProjectList.totalText.flow}}</span><span>{{$.taskStatistics.processingCount}}</span></div>
        </div>
        <div class="listCount">
            <div class="listCountItem"><span>{{$._.lp.ProjectList.totalText.delay}}</span><span>{{$.taskStatistics.delayCount}}</span></div>
        </div>
        <div class="listCount">
            <div class="listCountItem"><span>{{$._.lp.ProjectList.totalText.canceled}}</span><span>{{$.taskStatistics.deleteCount}}</span></div>
        </div>
        <div class="listAction">       
            {{if $.star}}
                <img src = "../x_component_TeamWork/$ProjectListV2/default/icon/icon_wdxx_click.png" title="星标" status="star" data-o2-events="click:setStar:{{$.id}};" />
            {{end if}}
            {{if !$.star}}
                <img src = "../x_component_TeamWork/$ProjectListV2/default/icon/icon_wdxx_1.png" title="星标" status="unstar" data-o2-events="click:setStar:{{$.id}};" />
            {{end if}}
                <img src = "../x_component_TeamWork/$ProjectListV2/default/icon/icon_detail_grey.png" title="设置" data-o2-events="click:openSetting:{{$.id}};" />
        </div>
        
    </div>
{{end each}}
    <div class="listItem" data-o2-element="addProject" data-o2-events="click:createProject;">
        <div class="listItemNewImg"></div>
        <span>{{$.lp.ProjectList.content.addProjectBlockText}}</span>
    </div>
</div>

