<div class="o2_process_AppExp_content">
    <div class="o2_process_AppExp_top">
        <div class="o2_process_AppExp_All">{{ $.lp.all }}</div>
        {{if $.control.canCreate}}
            <div class="o2_process_AppExp_create mainColor_bg">{{ $.lp.create }}</div>
        {{end if}}
        {{if $.control.canCreate}}
            <div class="o2_process_AppExp_import">{{ $.lp.import }}</div>
        {{end if}}
        <div class="o2_process_AppExp_category"></div>

    </div>
    <div class="o2_process_AppExp_contentArea">
        <div class="o2_process_AppExp_contentNode">


        </div>
    </div>
    <div class="o2_process_AppExp_bottom"></div>
</div>
