<div class="login-box" data-o2-element="loginBoxNode">
  <!-- <div style="width: 100%;margin-bottom: 20px;">
    <p>演示服务器账号密码：</p>   
    <p style="color: red;">1: 开发部经理/o2</p>
    <p style="color: red;">2: 开发部员工2/o2</p>
    <p style="color: red;">3: 财务部员工1/o2</p>
  </div> -->
  <div class="form">
    <div class="login-mode">
      <span class="mode-text mode-active" data-o2-element="loginPwdModeNode">密码登录</span>
      <span class="mode-sp">|</span>
      <span class="mode-text" data-o2-element="loginCodeModeNode">短信验证登录</span>
    </div>
    <input type="text" class="input" placeholder="手机号/用户名" data-o2-element="loginInputUsernameNode" />
    <input type="password" class="input" placeholder="密码" data-o2-element="loginInputPasswordNode" />
    <div class="input-code-box" style="display: none;" data-o2-element="loginCodeBoxNode">
      <input type="text" placeholder="验证码" data-o2-element="loginInputCodeNode" />
      <button class="code-btn" data-o2-element="getCodeBtnNode">获取验证码</button>
    </div>
    <button class="login-btn" data-o2-element="loginBtnNode">登录</button>
  </div>
</div>