{{if $.data.length === 0}}
<div class="empty">
  <div class="ooempty-wuwenjian empty-icon"></div>
  <div>{{$.lp.noMinder}}</div>
</div>
{{end if}}

{{if $.data.length > 0}}
<div class="list">
  {{each $.data}}
  <div class="item" data-o2-events="click:handleEventClick">
    <div class="item-img-area">
      {{if !!$.icon}}
      <img src="{{ MWF.xDesktop.getImageSrc($.icon)}}" class="item-img"/>
      {{end if}}
    </div>
    <div class="item-bottom">
      <div class="item-title">{{$.name}}</div>
      <div class="item-action ooicon-point3" data-o2-events="click:showItemAction"></div>
    </div>
  </div>
  {{end each}}
</div>
{{end if}}
<oo-select class="hide" allow-input="true" data-o2-element="actionSelect" data-o2-events="change:handleItemAction">
  <oo-option value="rename" icon="rename">{{$.lp.rename}}</oo-option>
  <oo-option value="delete" icon="delete">{{$.lp.delete}}</oo-option>
</oo-select>