<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>20936f5deebe6dcd</string>
	<key>type</key>
	<integer>1</integer>
	<key>rows</key>
	<integer>2</integer>
	<key>columns</key>
	<integer>4</integer>
	<key>rowsInLandscape</key>
	<integer>1</integer>
	<key>columnsInLandscape</key>
	<integer>7</integer>
	<key>image</key>
	<string>icon.png</string>
	<key>emoticons</key>
	<array>
		<dict>
			<key>id</key>
			<string>7102df423b57a50c8ab077b6f0358f18</string>
			<key>image</key>
			<string>7102df423b57a50c8ab077b6f0358f18.png</string>
			<key>preview</key>
			<string>7102df423b57a50c8ab077b6f0358f18.png</string>
			<key>title</key>
			<string>开吃</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>84c4b60449c26dfebf83bda748be7853</string>
			<key>image</key>
			<string>84c4b60449c26dfebf83bda748be7853.png</string>
			<key>preview</key>
			<string>84c4b60449c26dfebf83bda748be7853.png</string>
			<key>title</key>
			<string>感恩节快乐</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>fbd44750aeb9790f80f420bc333b221e</string>
			<key>image</key>
			<string>fbd44750aeb9790f80f420bc333b221e.png</string>
			<key>preview</key>
			<string>fbd44750aeb9790f80f420bc333b221e.png</string>
			<key>title</key>
			<string>感谢</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>7ae989bacebdc5cdaf73293023b19b3c</string>
			<key>image</key>
			<string>7ae989bacebdc5cdaf73293023b19b3c.png</string>
			<key>preview</key>
			<string>7ae989bacebdc5cdaf73293023b19b3c.png</string>
			<key>title</key>
			<string>感谢你</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>aa50438bcbd8542b7eb05163d9506482</string>
			<key>image</key>
			<string>aa50438bcbd8542b7eb05163d9506482.png</string>
			<key>preview</key>
			<string>aa50438bcbd8542b7eb05163d9506482.png</string>
			<key>title</key>
			<string>抱抱</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>285f3a4de507b1bd33c450aa7c003924</string>
			<key>image</key>
			<string>285f3a4de507b1bd33c450aa7c003924.png</string>
			<key>preview</key>
			<string>285f3a4de507b1bd33c450aa7c003924.png</string>
			<key>title</key>
			<string>欢聚</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>29cce34d5eefcb45926e85bec21ed2da</string>
			<key>image</key>
			<string>29cce34d5eefcb45926e85bec21ed2da.png</string>
			<key>preview</key>
			<string>29cce34d5eefcb45926e85bec21ed2da.png</string>
			<key>title</key>
			<string>祈祷</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>f89ac3021df353b3c16b39e9725793c0</string>
			<key>image</key>
			<string>f89ac3021df353b3c16b39e9725793c0.png</string>
			<key>preview</key>
			<string>f89ac3021df353b3c16b39e9725793c0.png</string>
			<key>title</key>
			<string>请享用</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>74e369456ef0626c6c1a4c0e16994b9d</string>
			<key>image</key>
			<string>74e369456ef0626c6c1a4c0e16994b9d.png</string>
			<key>preview</key>
			<string>74e369456ef0626c6c1a4c0e16994b9d.png</string>
			<key>title</key>
			<string>谢谢</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>940a83613ff938fb86f857c3baa0eeed</string>
			<key>image</key>
			<string>940a83613ff938fb86f857c3baa0eeed.png</string>
			<key>preview</key>
			<string>940a83613ff938fb86f857c3baa0eeed.png</string>
			<key>title</key>
			<string>追赶</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
