.append-group {
    width: 212px;
}

.append-child-node {
    .km-btn-icon {
        background-position: 0 0;
    }
}

.append-sibling-node {
    .km-btn-icon {
        background-position: 0 -20px;
    }
}

.append-parent-node {
    .km-btn-icon {
        background-position: 0 -40px;
    }
}