<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%">
            <col width="40%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAll">
                        <div class="selectFlagIcon o2WorkApplication"></div>
                    </div>
                </div>
            </th>
            <th><span>{{$.lp.subject}}</span></th>
            <th><span>{{$.lp.process}}</span></th>
            <th><span>{{$.lp.creator}}</span></th>
            <th><span>{{$.lp.createunit}}</span></th>
            <th><span>{{$.lp.createTime}}</span></th>
            <th><span>{{$.lp.completedTime}}</span></th>
        </tr>
        </thead>
    </table>
</div>
