
@font-face {
    font-family: "o2WorkApplication"; /* Project id 3538045 */
    src: url('../x_component_process_Application/$Main/default/fonts/iconfont.woff2?t=1678685748483') format('woff2'),
    url('../x_component_process_Application/$Main/default/fonts/iconfont.woff?t=1678685748483') format('woff'),
    url('../x_component_process_Application/$Main/default/fonts/iconfont.ttf?t=1678685748483') format('truetype'),
    url('../x_component_process_Application/$Main/default/fonts/iconfont.svg?t=1678685748483#o2WorkApplication') format('svg');
}
.o2WorkApplication {
    font-family: "o2WorkApplication" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
    content: "\e619";
}

.icon-icon__chakan:before {
    content: "\e609";
}

.icon-xuanzhong:before {
    content: "\e605";
}

.icon-right:before {
    content: "\e783";
}

.icon-left:before {
    content: "\e67e";
}

.icon-add:before {
    content: "\e610";
}

.icon-workCompleted:before {
    content: "\e614";
}

.icon-serial:before {
    content: "\e615";
}

.icon-dict:before {
    content: "\e616";
}

.icon-snap:before {
    content: "\e617";
}

.icon-work:before {
    content: "\e618";
}

.icon-icon_liebiao1:before {
    content: "\e60e";
}

.icon-taskDone:before {
    content: "\e60f";
}

.icon-task:before {
    content: "\e612";
}

.icon-read:before {
    content: "\e603";
}

.icon-readDone:before {
    content: "\e604";
}

.icon-icon_sousuo:before {
    content: "\e606";
}

.icon-zhankai:before {
    content: "\5c55";
}

.icon-icon_saixuan:before {
    content: "\e607";
}

.icon-icon_shu_ju_shi_tu:before {
    content: "\e60a";
}

.icon-icon_allwendang:before {
    content: "\e60b";
}

.icon-draft:before {
    content: "\e60c";
}



.appNode{
    overflow: hidden;
    height: 100%;
}
.menuArea{
    max-width: 300px;
    min-width: 250px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    float: left;

}
.menu{
    margin: 0;
    user-select: none;
    height:calc(100% - 55px);
    overflow: auto;
}

.menuTitle{
    margin: 0 20px;
    max-height: 80px;
    overflow: hidden;
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    border-bottom: 1px solid #E6E6E6;
}
.menuTitleText{
    float: left;
    width: 160px;
}
.menuTitleIcon{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    float : left;
}
.menuTitleAction {
    text-align: right;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    color: #4A90E2;
}
.menuDivider{
    margin: 0 40px;
    border-bottom: 1px solid #f1f2f4;
}
.menuItem{
    height: 40px;
    cursor: pointer;
}
.menuItem_current{
    background-color: #EBF1F7;
}
.menuItem_over{
    background-color: #F7F7F7;
}
.menuItemIcon {
    margin-left: 20px;
    height: 16px;
    width: 16px;
    padding: 11px 10px 12px 0;
    float: left;
    color: #999999;
}
.menuItemAction {
    text-align: right;
    width: 20px;
    line-height: 40px;
    float: right;
    cursor: pointer;
    color: #4A90E2;
    margin-right: 20px;
}
.menuItemCount{
    margin-right: 20px;
    float: right;
    width: 60px;
    font-size: 12px;
    color: #999999;
    line-height: 40px;
    text-align: right;
}
.menuItemText{
    float:left;
    height: 40px;
    line-height: 40px;
    color: #666666;
    width : 120px;
    overflow: hidden;
}

.skeleton {
    padding: 10px 30px;
}
.skeleton_item {
    height: 16px;
    border-radius: 15px;
    margin-top: 20px;
    background: #f2f2f2;
}

.st_processList{
    padding: 10px 20px;
    overflow: hidden;
}

.st_processItemArea{
    height: 30px;
    color: #666666;
    line-height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.st_processItem{
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    padding: 0 10px;
    border-radius: 20px;
    user-select: none;
}

.contentArea {
    height: 100%;
    background: #F0F0F0;
    display: flex;
    flex-direction:column;
}
.content{
    height: 100%;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.contentTitle{
    padding: 0px 20px;
}
.contentList{
    height: calc(100% - 150px);
    overflow: auto;
    padding: 0 20px;
    position: relative;
}
.contentList::-webkit-scrollbar {
    width: 8px;
}
.contentList::-webkit-scrollbar-track {
    background-color: #e2dfdf;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.contentList::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.contentList table {
    width:100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;

}
.contentList tr {
    border-bottom: 1px solid #E6E6E6;
}
.contentList tr:hover {
    background: #F7F7F7;
}
.contentList td {
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-weight: 400;
    text-align: left;
    padding-left: 4px;
}
.toolBarList{
    /*height: 40px;*/
    padding: 0px 20px;
    margin-bottom: 10px;
}

.contentBottom{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentPageArea{
    height: 60px;
}
.firstPage, .lastPage, .pageItem, .prevPage, .nextPage{
    height: 24px;
    width: 80px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.firstPage{
    float: left;
}
.lastPage {
    float: right;
    margin-left: 10px;
}
.prevPage{
    float: left;
    margin-left: 10px;
    width: 24px;
    font-size: 24px;
    color: #999999;
}
.nextPage{
    float: right;
    margin-left: 10px;
    width: 24px;
    font-size: 24px;
    color: #999999;
}
.pageNumberArea{
    float: left;
}
.pageItem{
    float: left;
    width: 24px;
    margin-left: 10px;
}
.contentTitleArea {
    overflow: hidden;
}
.contentTitleArea table{
    width:100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
}
.contentTitleArea table th{
    height: 40px;
    background: #F0F0F0;
    color: #333333;
    font-weight: 400;
    text-align: left;
    padding-left: 4px;
}


/*list*/
.listItem{
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    overflow: hidden;
}
.listItem_over{
    background: #F7F7F7;
}

.selectFlag{
    float: left;
    width: 50px;
    text-align: center;
}
.selectFlagIcon{
    color: #cccccc;
    width: 12px;
    height: 12px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    margin-left : 20px;
}
.selectFlagArea_disabled{
    opacity: 0;
}
.selectFlagIcon_select{
    border: 0;
}


.emptyListArea{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 120px;
    transform: translateX(-50%) translateY(-50%);
}
.emptyListIcon{
    width: 72px;
    height: 72px;
    background-image: url(../x_component_process_Application/$Main/default/empty.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.emptyListText{
    height: 22px;
    font-size: 16px;
    color: #CCCCCC;
    line-height: 22px;
}


.toolgroupNode{
    padding-right: 10px;
    display: flex;
    float: left;
}
.toolItemNode_single{
    border-radius: 15px;
}
.toolItemNode_left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px solid rgba(204,204,204,1);;

}
.toolItemNode_right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
.toolItemNode_center{
    border-right: 1px solid rgba(204,204,204,1);;
}



/*
common
 */

.button{

}
.textarea {
    width: 100%;
    border-radius: 13px;
    border: 1px solid rgb(222, 222, 222);
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}
.table {
    width : 100%;
    table-layout: fixed;
}
.table tr:hover{
    overflow: hidden;
    background-color: rgb(247, 247, 247);
    min-height: 29px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    cursor: pointer;
}
.table th {
    background-color: rgb(247, 247, 247);
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    padding: 8px 0px;
    font-weight: normal;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.table td {
    height: 39px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(230, 230, 230);
    cursor: pointer;
}

.operateicon{
    color : #999999;
    margin-right: 5px;
}
.operateicon:hover{
    color :#4A90E2
}

.hide{
    display: none!important;
}
.formTable{
    display: grid;
    grid-template-rows: 3em;
    gap: 0.8em;
    align-items: center;
}
.formLine{
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.formLabel{
    padding: 0.5em 0.35em;
    margin-right: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    width: 6.2vw;
    min-width: 4.3em;
    max-width: 9em;
    justify-content: flex-end;
    box-sizing: border-box !important;
    white-space: nowrap;
}
.formValue{
    flex: 1;
}
