<div class="path" data-o2-element="pathNode">
</div>
<div class="content" data-o2-element="contentNode">
    <div class="toolBarList"  data-o2-element="toolBarNode"></div>
    <div class="contentTitle" data-o2-element="listTitleNode">
        <div class="contentTitleArea">
            <table style="width:100%">
                <colgroup><col width="6%"><col width="47%"><col width="22%"><col width="23%"></colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: left;"><span>用户</span></th>
                    <th style="text-align: left;"><span>容量大小(M)</span></th>
                    <th style="text-align: left;"><span>修改时间</span></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="contentList" data-o2-element="listContentNode">


        <!--        <div class="skeleton" data-o2-element="skeletonNode">-->
        <!--            <div class="skeleton_item" style="width: 90%"></div>-->
        <!--            <div class="skeleton_item" style="width: 60%"></div>-->
        <!--            <div class="skeleton_item"></div>-->
        <!--            <div class="skeleton_item" style="width: 70%"></div>-->
        <!--            <div class="skeleton_item"></div>-->
        <!--            <div class="skeleton_item" style="width: 60%"></div>-->
        <!--            <div class="skeleton_item"></div>-->
        <!--            <div class="skeleton_item" style="width: 80%"></div>-->
        <!--        </div>-->
    </div>
</div>




