<div class="menuArea">
    <div class="menu" data-o2-element="personMenuNode" >
        <div class="menuTitle">
            <div class="menuTitleText">个人文件</div>
        </div>
        <div class="menuItem" data-o2-element="allMenuNode" data-o2-events="click:loadList:all">
            <div class="menuItemIcon"><icon class="o2Drive icon-zhankai"></icon></div>
            <div class="menuItemText">我的文件</div>
        </div>
        <div style="padding-left:20px" class="menuItem" data-o2-element="imageMenuNode" data-o2-events="click:loadList:image">
            <div class="menuItemIcon"><icon class="o2Drive icon-pic"></icon></div>
            <div class="menuItemText">图片</div>
        </div>
        <div style="padding-left:20px" class="menuItem" data-o2-element="officeMenuNode" data-o2-events="click:loadList:office">
            <div class="menuItemIcon"><icon class="o2Drive icon-doc"></icon></div>
            <div class="menuItemText">文档</div>
        </div>
        <div style="padding-left:20px" class="menuItem" data-o2-element="movieMenuNode" data-o2-events="click:loadList:movie">
            <div class="menuItemIcon"><icon class="o2Drive icon-vedio"></icon></div>
            <div class="menuItemText">视频</div>
        </div>
        <div style="padding-left:20px" class="menuItem" data-o2-element="musicMenuNode" data-o2-events="click:loadList:music">
            <div class="menuItemIcon"><icon class="o2Drive icon-music"></icon></div>
            <div class="menuItemText">音乐</div>
        </div>
        <div style="padding-left:20px" class="menuItem" data-o2-element="otherMenuNode" data-o2-events="click:loadList:other">
            <div class="menuItemIcon"><icon class="o2Drive icon-other"></icon></div>
            <div class="menuItemText">其他</div>
        </div>
        <div class="menuItem" data-o2-element="myShareMenuNode" data-o2-events="click:loadList:myShare">
            <div class="menuItemIcon"><icon class="o2Drive icon-share"></icon></div>
            <div class="menuItemText">我的分享</div>
        </div>
        <div class="menuDivider"></div>
        <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:loadList:shareToMe">
            <div class="menuItemIcon"><icon class="o2Drive icon-shareToMe"></icon></div>
            <div class="menuItemText">分享给我</div>
        </div>
        <div class="menuItem" data-o2-element="recycleMenuNode" data-o2-events="click:loadList:recycle">
            <div class="menuItemIcon"><icon class="o2Drive icon-recycle"></icon></div>
            <div class="menuItemText">回收站</div>
        </div>
    </div>
</div>
<div class="contentArea" data-o2-element="mainNode">
</div>
