<div class="menuArea">

    <div class="menu" data-o2-element="shareMenuNode">

        <div class="menuTitle">
            <div class="menuTitleText">分享文件</div>
        </div>

        <div class="menuItem" data-o2-element="myShareMenuNode" data-o2-events="click:loadList:myShare">
            <div class="menuItemIcon"><icon class="o2Drive icon-share"></icon></div>
            <div class="menuItemText">我的分享</div>
        </div>

        <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:loadList:shareToMe">
            <div class="menuItemIcon"><icon class="o2Drive icon-shareToMe"></icon></div>
            <div class="menuItemText">分享给我</div>
        </div>

    </div>

</div>
<div class="contentArea" data-o2-element="mainNode">
</div>
