
<div data-o2-element="appNode" class="m-app">
    <div class="m-header">
        <div class="ooicon-process-goback m-header-icon"></div>
        <div class="m-header-title">企业网盘</div>
        <div class="ooicon-personnel m-header-add"></div>
    </div>
    <div class="m-navi" data-o2-element="naviAreaNode">
        <div class="m-navi-item" data-o2-element="personNaviNode" data-o2-events="click:loadNavi:person:">
            个人文件
        </div>
        <div class="m-navi-item" data-o2-element="publicNaviNode" data-o2-events="click:loadNavi:public:">
            公司文件
        </div>
    </div>
    <div class="m-search">
        <div class="m-search-content">
            <div class="m-search-icon ooicon-search"></div>
            <div class="m-search-content-input"><input></div>
        </div>
        <div class="m-search-btn">搜索</div>
    </div>
    <div class="m-content" data-o2-element="contentAreaNode">

    </div>
</div>
