<div class="appNode" data-o2-element="appNode">
    <div class="rightArea" style="display: none">
        <div class="detail">
            <div class="detailTitle">
                <span class="detailTitleText">{{$.lp.detailTitleText}}</span>
            </div>
            <div class="detailContent" data-o2-element="detailContentNode">

            </div>
        </div>
    </div>
    <div class="leftArea">
        <div class="naviArea" data-o2-element="naviAreaNode">
<!--            <div class="naviItem">{{$.lp.title}}</div>-->
            <div class="naviItem" data-o2-element="personNaviNode" data-o2-events="click:loadNavi:person:">{{$.lp.personNavi}}</div>
            <div class="naviItem" data-o2-element="publicNaviNode" data-o2-events="click:loadNavi:public:">{{$.lp.publicNavi}}</div>
            {{if $.data.isManager}}
            <div class="naviItem" data-o2-element="manageNaviNode" data-o2-events="click:loadNavi:manage:">{{$.lp.manageNavi}}</div>
            {{end if}}

            <div class="ft_titleSearchArea" style="margin-left: auto;
            margin-right: 20px;margin-top: 10px;">
                <div class="ft_filterIcon"><icon class="o2icon-sousuo mainColor_color"></icon></div>
                <div class="ft_searchButton mainColor_bg" data-o2-events="click:doFilter">{{$.lp.search}}</div>
                <div class="ft_titleInputArea"><input data-o2-element="searchKeyNode" value="{{($.filter) ? ($.filter.key || "") : ""}}" type="text" placeholder="{{$.lp.filterPlaceholder}}"  data-o2-events="keydown:inputFilter"/></div>
            </div>

        </div>
        <div style="height: 100%" data-o2-element="contentAreaNode">
        </div>
    </div>

</div>
