<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="com.jrockit.mc.console.ui.notification_contexts.xml"
            plugin="com.jrockit.mc.console.ui.notification"/>
   </extension>
   <extension
         point="com.jrockit.mc.core.formpage">
      <formPage
            class="com.jrockit.mc.console.ui.notification.TriggerTab"
            hostEditorId="com.jrockit.mc.console.ui.editor"
            groupId="overview"
            placement="/#3.0"
            icon="icons/alert_obj.png"
            id="com.jrockit.mc.console.ui.notification.TriggerTab"
            title="%TAB_TRIGGER_NAME">
      </formPage>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.jrockit.mc.ui.wizards.export"
            class="com.jrockit.mc.console.ui.notification.wizard.RuleExportWizard"
            icon="icons/alert_obj.png"
            id="com.jrockit.mc.console.ui.notification.RuleExportWizard"
            name="%TRIGGER_RULES">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.jrockit.mc.ui.wizards.import"
            class="com.jrockit.mc.console.ui.notification.wizard.RuleImportWizard"
            icon="icons/alert_obj.png"
            id="com.jrockit.mc.console.ui.notification.RuleImportWizard"
            name="%TRIGGER_RULES">
      </wizard>
   </extension>
   <extension
         point="com.jrockit.mc.rjmx.triggerActions">
      <triggerAction
            class="com.jrockit.mc.console.ui.notification.action.TriggerActionDumpJFR"
            description="%TRIGGER_ACTION_DUMP_JFR_DESCRIPTION"
            icon="icons/flight_recorder.png"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionDumpJFR"
            name="%TRIGGER_ACTION_DUMP_JFR_NAME">
         <file
               description="%TRIGGER_ACTION_DUMP_JFR_FILE_DESCRIPTION"
               id="file"
               name="%TRIGGER_ACTION_DUMP_JFR_FILE"
               value="automaticallyTriggeredRecording.jfr"/>
         <timerange
               id="timerange"
               name="%TRIGGER_ACTION_DUMP_JFR_TIMERANGE_LABEL"
               description="%TRIGGER_ACTION_DUMP_JFR_TIMERANGE_DESCRIPTION"
               value="30s"/>
         <boolean
               description="%TRIGGER_ACTION_DUMP_JFR_OPEN_DESCRIPTION"
               id="open"
               name="%TRIGGER_ACTION_DUMP_JFR_OPEN_LABEL"
               value="false">
         </boolean>
      </triggerAction>
   	  <triggerAction
            class="com.jrockit.mc.console.ui.notification.action.TriggerActionStartContinuousJFR"
            description="%TRIGGER_ACTION_START_CONT_JFR_DESCRIPTION"
            icon="icons/flight_recorder.png"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionStartContinuousJFR"
            name="%TRIGGER_ACTION_START_CONT_JFR_NAME">
	  <string
	  	    description="%TRIGGER_ACTION_START_CONT_JFR_NAME_DESCRIPTION"
	  	    id="name"
	  	    name="%TRIGGER_ACTION_START_CONT_JFR_NAME_LABEL"
	  	    value="My Recording"/>
      </triggerAction>
   	  <triggerAction
            class="com.jrockit.mc.console.ui.notification.action.TriggerActionStartTimeBoundJFR"
            description="%TRIGGER_ACTION_START_TIME_JFR_DESCRIPTION"
            icon="icons/flight_recorder.png"
            id="com.jrockit.mc.console.ui.notification.actions.TriggerActionStartTimeBoundJFR"
            name="%TRIGGER_ACTION_START_TIME_JFR_NAME">
	  <string
	  	    description="%TRIGGER_ACTION_START_TIME_JFR_NAME_DESCRIPTION"
	  	    id="name"
	  	    name="%TRIGGER_ACTION_START_TIME_JFR_NAME_LABEL"
	  	    value="My Recording"/>
      <file
            description="%TRIGGER_ACTION_START_TIME_JFR_FILE_DESCRIPTION"
            id="file"
            name="%TRIGGER_ACTION_START_TIME_JFR_FILE"
            value="automaticallyTriggeredRecording.jfr"/>
	  <timerange
            id="timerange"
            name="%TRIGGER_ACTION_START_TIME_JFR_TIMERANGE_LABEL"
            description="%TRIGGER_ACTION_START_TIME_JFR_TIMERANGE_DESCRIPTION"
            value="30s"/>
	  <boolean
            description="%TRIGGER_ACTION_START_TIME_JFR_OPEN_DESCRIPTION"
            id="open"
            name="%TRIGGER_ACTION_START_TIME_JFR_OPEN_LABEL"
            value="false">
	  </boolean>
      </triggerAction>
   </extension>   
</plugin>
