<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="30%">
            <col width="20%">
            <col width="30%">
            <col width="20%">
        </colgroup>
        <thead>
            <tr class="listItem">

                <th><span style="padding-left:10px">{{$.lp.name}}</span></th>
                <th><span>{{$.lp.alias}}</span></th>
                <th><span>{{$.lp.desc}}</span></th>
                <th><span>{{$.lp.updateTime}}</span></th>
            </tr>
        </thead>
    </table>
</div>
