.o2_query_SSDNode {
    height : 240px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px #999999;
    background: #f3f3f3;
    border-bottom: 1px solid #cccccc;
    width: 100%
}
.o2_query_SSDStatementListNode{
    float: left;
    width: 300px;
    height: 100%;
    background: #fff;
}
.o2_query_SSDStatementListTitleNode{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    overflow:hidden;
}
.o2_query_SSDStatementListTitleTextNode{
    float: left;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
}
.o2_query_SSDStatementListTitleAddNode{
    float: right;
    width: 30px;
    height: 40px;
    cursor: pointer;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/plus.png") no-repeat center center;
}
.o2_query_SSDStatementListTitleSelectNode{
     float: right;
     width: 30px;
     height: 40px;
     cursor: pointer;
     background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/select.png") no-repeat center center;
 }
.o2_query_SSDStatementListTitleDeleteNode{
    margin-left: 20px;
    width: 30px;
    height: 40px;
    cursor: pointer;
    display: none;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/delete.png") no-repeat center center;
}
.o2_query_SSDStatementListTitleReloadNode{
    width: 30px;
    height: 40px;
    cursor: pointer;
    display: none;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/reload.png") no-repeat center center;
}
.o2_query_SSDStatementListTitleEditNode{
    width: 30px;
    height: 40px;
    cursor: pointer;
    display: none;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/edit.png") no-repeat center center;
}
.o2_query_SSDStatementListContentNode{
    height: calc( 100% - 36px );
    overflow: auto;
}
.o2_query_SSDStatementItemNode{
    overflow: hidden;
    line-height: 40px;
    background: #f7f7f7;
    font-size: 14px;
    cursor: pointer;
    border-top: 1px solid #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.o2_query_SSDStatementItemNode_current{
    background: #fff;
    color: #bf6364;
}
.o2_query_SSDStatementItemNode_over{
    background: #fff;
}
.o2_query_SSDStatementItemIconNode{
    float: left;
    width: 30px;
    height: 40px;
    cursor: pointer;
    background: url("../x_component_query_StatementDesigner/$Main/default/statement.png") no-repeat center center;
}
.o2_query_SSDStatementItemTextNode{
    float: left;
    width: calc( 100% - 80px );
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}
.o2_query_SSDStatementItemDeleteNode{
    float: left;
    width: 25px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/delete.png") no-repeat center center;
}
.o2_query_SSDStatementItemEditNode{
    float: left;
    width: 25px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    background: url("../x_component_query_StatementStatDesigner/$StatementStat/default/action/edit.png") no-repeat center center;
}
.o2_query_SSDStatementTextActionNode{
    color:#4A90E2;
    text-decoration: underline solid #4A90E2;
    cursor: pointer;
}
.o2_query_SSDStatementListEmptyNode{
    text-align: center;
    line-height: 24px;
    padding: 30px;
    font-size:14px;
    color: #888888;
}
.o2_query_SSDStatementNode{
    margin-left:310px;
    width: calc( 100% - 310px );
    overflow: hidden;
    height: 100%;
}
.o2_query_SSDStatementDetailNode{
    width: 100%;
    height: calc( 100% - 36px );
    background: #fff;
    display: none;
}
.o2_query_SSDStatementEmptyNode{
    width: 100%;
    height: calc( 100% - 36px );
    background: #fff;
    text-align: center;
    line-height: 24px;
    padding: 30px;
    font-size:14px;
    color: #888888;
}

.o2_query_SSDResizeNode{
    height: 3px;
    background-color: #505050;
    cursor: row-resize;
}

.o2_query_SSDRunNode {
    height: 280px;
    padding: 10px;
    box-shadow: 0 0 10px #999999;
    background: #f3f3f3;
    border-bottom: 1px solid #cccccc;
}
/*.o2_query_SSDRunTitleNode{*/
/*    height: 26px;*/
/*    line-height: 26px;*/
/*    color: #ffffff;*/
/*    padding: 0 10px;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*    background-color: #505050;*/
/*}*/
.o2_query_SSDRunTitleNode{
    font-size: 15px;
    padding-left:10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    overflow:hidden;
}
.o2_query_SSDRunContentNode {
    overflow: hidden;
    height: 240px;
}
.o2_query_SSDRunJsonNode {
    height: 100%;
    width: 40%;
    overflow: hidden;
    float: left;
    background: #ffffff;
}
.o2_query_SSDRunActionNode {
    height: 100%;
    width: 8%;
    overflow: hidden;
    float: left;
    background: #f3f3f3;
}
.o2_query_SSDRunResultNode {
    height: 100%;
    width: 52%;
    overflow: auto;
    float: left;
    background: #ffffff;
}
.o2_query_SSDRunActionContent {
    height: 50px;
    width: 50px;
    background: url("../x_component_query_StatementDesigner/$Statement/default/icon/run.png") center center no-repeat;
    position: relative;
    top:40%;
    margin: auto;
    cursor: pointer;
}

.o2_query_SSDStatNode{
    height: 600px;
}