@font-face {
  font-family: 'meeting';
  src:
    url('../x_component_meetingv2/$Main/default/fonts/meeting.ttf?fz2yee') format('truetype'),
    url('../x_component_meetingv2/$Main/default/fonts/meeting.woff?fz2yee') format('woff'),
    url('../x_component_meetingv2/$Main/default/fonts/meeting.svg?fz2yee#meeting') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meeting' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o2icon-icon_newhuiyishi:before {
  content: "\e900";
}
.o2icon-day:before {
  content: "\e93c";
}
.o2icon-month:before {
  content: "\e93d";
}
.o2icon-week:before {
  content: "\e9c3";
}
.o2icon-list:before {
  content: "\e93f";
}
.o2icon-calendar-add:before {
  content: "\e9c2";
}
.o2icon-home:before {
  content: "\e93e";
}
.o2icon-person:before {
  content: "\e940";
}
.o2icon-calendar:before {
  content: "\e942";
}
.o2icon-today:before {
  content: "\e977";
}
.o2icon-question:before {
  content: "\e9aa";
}
.o2icon-notice:before {
  content: "\e966";
}
.o2icon-checkbox:before {
  content: "\e967";
}
.o2icon-off:before {
  content: "\e9bb";
}
.o2icon-edit2:before {
  content: "\e99d";
}
.o2icon-create:before {
  content: "\e9af";
}
.o2icon-delete:before {
  content: "\e9b0";
}
.o2icon-config:before {
  content: "\e9ba";
}
.o2icon-triangle_left:before {
  content: "\e9b1";
}
.o2icon-triangle_right:before {
  content: "\e9b3";
}
.o2icon-triangle_down:before {
  content: "\e9b2";
}
.o2icon-triangle_up:before {
  content: "\e9b4";
}
