<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>blue</string>
	<key>Base</key>
	<dict>
		<key>base_color</key>
		<string>#008be6</string>
	</dict>
	<key>Icon</key>
	<dict>
		<key>pic_oval</key>
		<string>pic_oval_blue</string>
		<key>icon_yingyong_pro</key>
		<string>icon_yingyong_pro_blue</string>
		<key>at_daka</key>
		<string>at_daka_blue</string>
		<key>at_tongji</key>
		<string>at_tongji_blue</string>
		<key>at_setting</key>
		<string>at_setting_blue</string>
		<key>Shapes</key>
		<string>Shapes_blue</string>
		<key>pic_beijing1</key>
		<string>pic_beijing1_blue</string>
		<key>icon_sousuo</key>
		<string>icon_sousuo_blue</string>
		<key>icon_group</key>
		<string>icon_group_blue</string>
		<key>icon_email</key>
		<string>icon_email_blue</string>
		<key>icon_company</key>
		<string>icon_company_blue</string>
		<key>icon_bumen</key>
		<string>icon_bumen_blue</string>
		<key>icon_linkman</key>
		<string>icon_linkman_blue</string>
		<key>icon__ok2_click</key>
		<string>icon__ok2_click_blue</string>
		<key>icon_zjhy_pro</key>
		<string>icon_zjhy_pro_blue</string>
		<key>icon_huiyishi_pro</key>
		<string>icon_huiyishi_pro_blue</string>
		<key>icon_huiyi_pro</key>
		<string>icon_huiyi_pro_blue</string>
		<key>pic_yzsj_bj</key>
		<string>pic_yzsj_bj_blue</string>
		<key>pic_xzzz_bj</key>
		<string>pic_xzzz_bj_blue</string>
		<key>icon_verification_code_sel</key>
		<string>icon_verification_code_sel_blue</string>
		<key>icon_verification_code_nor</key>
		<string>icon_verification_code_nor_blue</string>
		<key>icon_user_sel</key>
		<string>icon_user_sel_blue</string>
		<key>icon_user_nor</key>
		<string>icon_user_nor_blue</string>
		<key>icon_phone_sel</key>
		<string>icon_phone_sel_blue</string>
		<key>icon_phone_nor</key>
		<string>icon_phone_nor_blue</string>
		<key>icon_password_read_selected</key>
		<string>icon_password_read_selected_blue</string>
		<key>icon_tu_pre</key>
		<string>icon_tu_pre_blue</string>
		<key>icon_news_pre</key>
		<string>icon_news_pre_blue</string>
		<key>icon_zhuye_pre</key>
		<string>icon_zhuye_pre_blue</string>
		<key>icon_my_pre</key>
		<string>icon_my_pre_blue</string>
		<key>icon_address_list_pro</key>
		<string>icon_address_list_pro_blue</string>
		<key>address_selected</key>
		<string>address_selected_blue</string>
		<key>setting_selected</key>
		<string>setting_selected_blue</string>
		<key>message_selected</key>
		<string>message_selected_blue</string>
		<key>search</key>
		<string>icon_sousuo1_blue</string>
	</dict>
</dict>
</plist>
