<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>red</string>
	<key>Base</key>
	<dict>
		<key>base_color</key>
		<string>#FB4747</string>
	</dict>
	<key>Icon</key>
	<dict>
		<key>pic_oval</key>
		<string>pic_oval</string>
		<key>icon_yingyong_pro</key>
		<string>icon_yingyong_pro</string>
		<key>at_daka</key>
		<string>at_daka</string>
		<key>at_tongji</key>
		<string>at_tongji</string>
		<key>at_setting</key>
		<string>at_setting</string>
		<key>Shapes</key>
		<string>Shapes</string>
		<key>pic_beijing1</key>
		<string>pic_beijing1</string>
		<key>icon_sousuo</key>
		<string>icon_sousuo</string>
		<key>icon_group</key>
		<string>icon_group</string>
		<key>icon_email</key>
		<string>icon_email</string>
		<key>icon_company</key>
		<string>icon_company</string>
		<key>icon_bumen</key>
		<string>icon_bumen</string>
		<key>icon_linkman</key>
		<string>icon_linkman</string>
		<key>icon__ok2_click</key>
		<string>icon__ok2_click</string>
		<key>icon_zjhy_pro</key>
		<string>icon_zjhy_pro</string>
		<key>icon_huiyishi_pro</key>
		<string>icon_huiyishi_pro</string>
		<key>icon_huiyi_pro</key>
		<string>icon_huiyi_pro</string>
		<key>pic_yzsj_bj</key>
		<string>pic_yzsj_bj</string>
		<key>pic_xzzz_bj</key>
		<string>pic_xzzz_bj</string>
		<key>icon_verification_code_sel</key>
		<string>icon_verification_code_sel</string>
		<key>icon_verification_code_nor</key>
		<string>icon_verification_code_nor</string>
		<key>icon_user_sel</key>
		<string>icon_user_sel</string>
		<key>icon_user_nor</key>
		<string>icon_user_nor</string>
		<key>icon_phone_sel</key>
		<string>icon_phone_sel</string>
		<key>icon_phone_nor</key>
		<string>icon_phone_nor</string>
		<key>icon_password_read_selected</key>
		<string>icon_password_read_selected</string>
		<key>icon_tu_pre</key>
		<string>icon_tu_pre</string>
		<key>icon_news_pre</key>
		<string>icon_news_pre</string>
		<key>icon_zhuye_pre</key>
		<string>icon_zhuye_pre</string>
		<key>icon_my_pre</key>
		<string>icon_my_pre</string>
		<key>icon_address_list_pro</key>
		<string>icon_address_list_pro</string>
		<key>address_selected</key>
		<string>address_selected</string>
		<key>setting_selected</key>
		<string>setting_selected</string>
		<key>message_selected</key>
		<string>message_selected</string>
		<key>search</key>
		<string>icon_sousuo1</string>
	</dict>
</dict>
</plist>
