:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Microsoft YaHei', 'SimSun', '宋体', serif;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url('./bg_bg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #F9F9F9;*/
}

header {
    height: 0;
}

.logo {
    height: 3.5rem;
}
main {
    flex: 1;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main > .info {
    background-image: url(./bg_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.25rem 1.875rem;
    position: relative;
}
main .content {
    position: relative;
}
main .bottom {
    display: flex;
    background-color: var(--oo-color-hover);
}

main .logo {
    background-image: url(./logo_40.png);
    background-position: center;
    background-size: 2.5rem;
    height: 2.5rem;
    width: 5.3125rem;
    background-repeat: no-repeat;
    background-size: cover;
}

main .info-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

main .info-content-init {
    width: min-content;
    margin: auto;
}

main .system-name {
    font-weight: bold;
    font-size: 2.25rem;
    color: #2d2d33;
    text-align: left;
    font-style: normal;
    white-space: nowrap;
}
main .welcome {
    font-size: 1.625rem;
    color: #2d2d33;
    text-align: left;
    font-style: normal;
    margin-bottom: 0.5em;
}
main .info-text {
    font-size: 1.25rem;
    color: #2d2d33;
    text-align: left;
    font-style: normal;
    margin-top: 1em;
}

main .pane {
    height: 100%;
    transition: opacity 1s;
    opacity: 0;
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
}

main .pane_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 3rem 3rem 5rem 3rem;
    padding: 1em;
}
main oo-input {
    width: 100%;
}

main .logo60 {
    background-image: url(./logo_60.png);
    background-position: center;
    background-size: 3.75rem;
    height: 3.75rem;
    width: 3.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 2em;
}
main .input_title {
    font-size: 1.2rem;
    padding: 1.5rem 0 1rem 0;
}

main .pane_content {
    max-width: 43.5em;
    width: 90%;
}

main .actions {
    /* padding: 2rem 3rem; */
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0 0 0;
    max-width: 43.5em;
    width: 90%;
    gap: 3rem;
}
main .actions oo-button {
    /* width: 10rem;*/
    height: 2.2rem;
    width: 100%;
}

main .bottom .step {
    width: 5rem;
    height: 0.5rem;
    background: #d3d3d3;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

main .bottom .current {
    background: var(--oo-color-main);
    width: 5rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 1rem;
    transition: left 0.3s;
    left: 0;
}

.explain ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}
.explain_content {
    padding: 17%;
    word-break: break-all;
    text-align: justify;
}
.explain_content a {
    text-decoration: none;
    color: #2d2d33;
}
.explain_content a:hover {
    text-decoration: underline;
    color: var(--oo-color-main);
}
.explain_content a:visited {
    text-decoration: none;
}
.explain_title {
    font-weight: bold;
    font-size: 1.8rem;
    color: #2d2d33;
    text-align: left;
    font-style: normal;
    white-space: nowrap;
    display: flex;
    gap: 0.3em;
    align-items: center;
    margin-bottom: 1em;
}
.explain_title > span {
    font-size: 1.5rem;
    font-weight: bold;
}

.explain_text {
    font-size: 1.125rem;
    text-indent: 0em;
    line-height: 1.5em;
    list-style: inside;
}
.explain_text > p {
    margin-top: 1em;
    word-break: break-all;
}

oo-input[valid='true'] {
    border-color: #9e035d;
}

.database-type-item {
    padding: 1.7em;
    border-radius: var(--oo-border-radius);
    background-color: var(--oo-color-hover);
    margin-bottom: 1em;
    color: var(--oo-color-text);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.database-type-item > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.database-type-item li {
    margin-top: 0.3em;
    font-size: 1rem;
    color: var(--oo-color-text3);
}
.database-type-item:hover {
    background-color: var(--oo-color-over);
    color: var(--oo-color-text);
}
.database-type-item > * {
    font-size: 1.125rem;
}
.database-type-item .ooicon-icon_ok_round {
    color: var(--oo-color-main);
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------------------------------------*/

@media (max-width: 1600px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 1440px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 1152px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 936px) {
    :root {
        font-size: 8px;
    }
}

/* 手机浏览器 */
/* 竖屏手机浏览器 */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    :root {
        font-size: 12px;
    }
    main .logo {
        display: none;
    }
    main {
        grid-template-rows: 2fr 5fr;
        grid-template-columns: auto;
    }
    main .system-name {
        font-size: 1.5rem;
    }
    main .info-content-init {
        width: 60%;
        margin: auto;
    }
    main .welcome {
        font-size: 1.3rem;
        color: #2d2d33;
        text-align: left;
        font-style: normal;
        margin-bottom: 0.2em;
    }
    main .info-text {
        font-size: 1.25rem;
        color: #2d2d33;
        text-align: left;
        font-style: normal;
        margin-top: 0.2em;
    }
    main .info-content {
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(0, 0);
        width: 100%;
    }
    main .pane {
        height: 100%;
        transition: opacity 1s;
        opacity: 0;
        display: flex;
        position: relative;
        flex: 1;
        align-items: flex-start;
    }
    .explain_content {
        padding: 1em 2em;
    }
    .explain ul {
        margin-top: 0.5rem;
        gap: 0.3rem;
    }
    .explain_title {
        margin-bottom: 0.5em;
    }
    .explain_text {
        font-size: 1.125rem;
        padding: 0;
        margin: 0;
        text-indent: 0em;
        line-height: unset;
        list-style: outside;
    }
    main .pane_layout {
        margin: 1rem 1rem 3rem 1rem;
    }
    .pane_content {
        max-width: unset !important;
        min-height: unset !important;
    }
    .database-type-item {
        padding: 0.8em;
    }
    .database-type-item ul {
        padding: 1em;
        margin: 0;
    }
    database .input_title,
    restore .input_title,
    init-info .input_title {
        display: none;
    }

    .upload_area {
        margin-top: 0 !important;
        height: 14rem !important;
    }

    main .actions {
        gap: 1rem;
    }
    execute > .pane_content {
        padding: 0 !important;
    }
}

/* 横屏手机浏览器 */
@media only screen and (max-width: 767px) and (orientation: landscape) {
    :root {
        font-size: 11px;
    }
}

/* 平板 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* 样式适用于屏幕宽度在 768px 到 1023px 之间的设备 */
    :root {
        font-size: 12px;
    }
}
