
@font-face {
  font-family: 'o2Attendance';
  src:  url('../x_component_attendancev2/$Main/default/fonts/o2Attendance.eot?d6ubvq');
  src:  url('../x_component_attendancev2/$Main/default/fonts/o2Attendance.eot?d6ubvq#iefix') format('embedded-opentype'),
    url('../x_component_attendancev2/$Main/default/fonts/o2Attendance.ttf?d6ubvq') format('truetype'),
    url('../x_component_attendancev2/$Main/default/fonts/o2Attendance.woff?d6ubvq') format('woff'),
    url('../x_component_attendancev2/$Main/default/fonts/o2Attendance.svg?d6ubvq#o2Attendance') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'o2Attendance' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o2icon-icon_tongji:before {
  content: "\e900";
}
.o2icon-icon_dingwei:before {
  content: "\e901";
}
.o2icon-icon_tishi:before {
  content: "\e902";
}
.o2icon-icon_off:before {
  content: "\e903";
}
.o2icon-icon_zengjia_blue2_click:before {
  content: "\e904";
}
.o2icon-icon_shijian:before {
  content: "\e905";
}
.o2icon-icon_bianji:before {
  content: "\e906";
}
.o2icon-icon_off_round:before {
  content: "\e907";
}
.o2icon-icon__ok2_click_b:before {
  content: "\e908";
}
.o2icon-icon_delete_grey:before {
  content: "\e909";
}
.o2icon-icon_choose_people:before {
  content: "\e90a";
}
.o2icon-icon_rili:before {
  content: "\e90b";
}
.o2icon-icon_arrow_left:before {
  content: "\e90c";
}
.o2icon-icon_arrow_right:before {
  content: "\e90d";
}
.o2icon-icon_banciguanli:before {
  content: "\e90e";
}
.o2icon-icon_changsuo:before {
  content: "\e90f";
}
.o2icon-icon_huizong:before {
  content: "\e910";
}
.o2icon-icon_kaoiqinyichang:before {
  content: "\e911";
}
.o2icon-icon_kaoqinzu:before {
  content: "\e912";
}
.o2icon-icon_lock:before {
  content: "\e913";
}
.o2icon-icon_meirihuizong:before {
  content: "\e914";
}
.o2icon-icon_peizhi:before {
  content: "\e915";
}
.o2icon-icon_qingjia:before {
  content: "\e916";
}
.o2icon-icon_yuanshijilu:before {
  content: "\e917";
}
.o2icon-icon_quan:before {
  content: "\e918";
}
.o2icon-icon_xuanzhong:before {
  content: "\e919";
}
.o2icon-triangle_left:before {
  content: "\e91a";
}
.o2icon-triangle_right:before {
  content: "\e91b";
}
.o2icon-icon_arrow_down:before {
  content: "\e91c";
}
.o2icon-icon_arrow_up2:before {
  content: "\e91d";
}
.o2icon-icon_bumen3:before {
  content: "\e91e";
}
.o2icon-icon_close:before {
  content: "\e928";
}
.o2icon-piechart:before {
  content: "\e95f";
}
.o2icon-true:before {
  content: "\e96d";
}
.o2icon-accept:before {
  content: "\e975";
}
.o2icon-icon_sousuo:before {
  content: "\e999";
}
.o2icon-clock2:before {
  content: "\e9ab";
}
.o2icon-config:before {
  content: "\e9ba";
}
.o2icon-cancel-circle:before {
  content: "\ea0d";
}
.o2icon-checkbox-checked:before {
  content: "\ea52";
}
.o2icon-checkbox-unchecked:before {
  content: "\ea53";
}
.o2icon-radio-checked:before {
  content: "\ea54";
}
.o2icon-radio-unchecked:before {
  content: "\ea56";
}
