.appContent {
    text-align: center
}

@font-face {
    font-family: 'ftsearch';
    src:
            url('../x_component_process_Application/$IndexView/default/fonts/ftsearch.ttf?j6lkqm') format('truetype'),
            url('../x_component_process_Application/$IndexView/default/fonts/ftsearch.woff?j6lkqm') format('woff'),
            url('../x_component_process_Application/$IndexView/default/fonts/ftsearch.svg?j6lkqm#ftsearch') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="o2icon-"], [class*=" o2icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ftsearch' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.o2icon-indeterminate_check_box:before {
  content: "\e900";
}
.o2icon-check_box_outline_blank:before {
  content: "\e901";
}
.o2icon-check_box:before {
  content: "\e902";
}
.o2icon-chevron-thin-up:before {
  content: "\e903";
}
.o2icon-chevron-thin-down:before {
  content: "\e904";
}
.o2icon-order_none:before {
  content: "\e905";
}
.o2icon-order_up:before {
  content: "\e906";
}
.o2icon-order_down:before {
  content: "\e907";
}
.o2icon-dump:before {
  content: "\e908";
}
.o2icon-close:before {
  content: "\e913";
}
.o2icon-log:before {
    content: "\e922";
}
.o2icon-cross:before {
  content: "\e987";
}
.o2icon-filter:before {
  content: "\e98b";
}
.o2icon-search:before {
  content: "\e994";
}
.o2icon-edit2:before {
  content: "\e99d";
}
.o2icon-create:before {
  content: "\e9af";
}
.o2icon-delete:before {
  content: "\e9b0";
}
.o2icon-triangle_down:before {
  content: "\e9b2";
}
.o2icon-triangle_up:before {
  content: "\e9b4";
}
.o2icon-config:before {
  content: "\e9ba";
}
.o2icon-download:before {
  content: "\e9bc";
}
.o2icon-order:before {
  content: "\e9bd";
}
.o2icon-list3:before {
  content: "\e9c1";
}
.o2icon-list4:before {
  content: "\e9c4";
}
.o2icon-radio:before {
  content: "\e965";
}
.o2icon-checkbox:before {
  content: "\e967";
}
.o2icon-add:before {
  content: "\e944";
}
.o2icon-search1:before {
  content: "\e994";
}

em {
    color: #ea4335;
}
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*li {*/
/*    display: inline-block;*/
/*    margin: 0 10px;*/
/*}*/
/*a {*/
/*    color: #42b983;*/
/*}*/
.appNode{
    overflow: hidden;
    height: 100%;
}
.menuArea{
    max-width: 300px;
    min-width: 180px;
    width: 15%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    float: left;

}
.contentArea {
    height: 100%;
    background: #F0F0F0;
    display: flex;
    flex-direction:column;
}
.content{
    background-color: #ffffff;
    height: 100%;
    /*padding: 20px;*/
    margin: 10px;
    /*background: #FFFFFF;*/
    border-radius: 4px;
    /*overflow: auto;*/
    /*display: flex;*/
    text-align: left;
    position: relative;
}

*::-webkit-scrollbar {
    width:8px;
    height: 8px;
    border-radius: 8px;
    background-color: #dddddd;
}
*::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 8px;
    background-color: #bbbbbb;
    cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover{
    width: 8px;
    border-radius: 8px;
    background-color: #666666;
    cursor: pointer;
}
* {
    scrollbar-color: #bbbbbb #dddddd;
    scrollbar-width: thin;
}

.index-wrap{
    margin: 10px;
    height: 100%;
}
.index-top{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.index-top-inner{
    overflow: hidden;
    min-width: 810px;
    max-width: 1400px;
}
.index-search-wrap{
    height: 100%;
    width: 100%;
    margin: 0px auto;
    background-color: #F0F0F0;
}

.docContent-index{
    /*height: calc( 100% - 134px );*/
    height: calc( 100% - 40px );
    background:#ffffff;
    padding:20px;
    overflow:auto;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.contentWrap-index{
    min-width: 810px;
    /*max-width: 1400px;*/
}
.index-topLink{
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #4A90E2;
    border: 1px solid #4A90E2;
}
.index-topButton{
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #fff;
    background: #4A90E2;
    border-radius: 15px;
}
.docTotalNode{
    padding: 0 0 10px 5px
}
.listNode{
    min-height: 300px;
}
.index-listNode{
    /*overflow:auto;*/
}
.index-pagingNode{
    overflow:hidden;
    width: 100%;
}
.listNoData-ftsearch{
    max-width: 900px;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}
.listNoData{
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}
.listNoDataIcon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url("../x_component_process_Application/$IndexView/default/icons/nodata.png") no-repeat;
}
.listNoDataText{
    line-height: 50px;
    font-size: 16px;
    color: #999;
}

.listTable{
    border-top:1px solid #e1e2e3;
}
.listTable th{
    min-width: 100px;
    cursor: pointer;
    border-left: 2px solid #F7F7F7;
    border-right: 2px solid #F7F7F7;
    border-bottom: 1px solid #e1e2e3;
    background:#F7F7F7;
    color: #606266;
    padding: 8px 0;
    line-height: 24px;
}
.listTable td{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 1px solid #e1e2e3;
    color: #606266;
    padding: 8px 3px;
    line-height: 24px;
}
.listTable td a{
    text-decoration: none;
    color: #606266;
    padding: 8px 0;
    font-size: 15px;
}
.listTable td a:hover{
    text-decoration: underline;
}

.conditionSelected{
    overflow: hidden;
    margin-bottom: 10px;
}
.conditionSelected .item{
    float: left;
    margin-right:10px;
    border-radius: 30px;
    line-height: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
    background: #4A90E2;
    margin-bottom: 8px;
    /*background: url("../x_component_AdvancedSearch/$Main/default/icons/off.png") right center no-repeat;*/
}
.conditionSelected div{
    display: inline-block;
}
.conditionSelected .item .item-text{
    margin-right: 5px;
}
.conditionSelected .item .icon{
     font-size: 12px;
     /*margin-left: 5px;*/
    padding: 1px;
}
.conditionSelected .item .icon_over{
      font-size: 12px;
      /*margin-left: 5px;*/
    padding: 1px;
    color: #4A90E2;
    background: #fff;
    border-radius: 30px;
}

.separator{
    border-top: 2px solid #4A90E2;
}
.condition{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
    border: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.condition .switch-button{
    background: #ffffff;
    float:right;
    color: #999;
    width: 52px;
    line-height: 40px;
    cursor: pointer;
}
.condition .multi-button{
    /*background: #ffffff;*/
    float:right;
    width: 52px;
    color: #999;
    line-height: 40px;
    cursor: pointer;
}
.condition .item{
    overflow: hidden;
    border-top: 1px solid #e1e2e3;
    /*background: #f0f2f5;*/
}
.condition .item-title{
    float: left;
    color: #666;
    width: 180px;
    line-height: 20px;
    padding: 10px 0 10px 10px;
    /*word-break: break-all;*/
    /*white-space: nowrap;*/
    /*background-color: #f0f2f5;*/
}
.condition .item-content{
    overflow: hidden;margin-left: 100px;
}
.condition .subitem-wrap{
    margin-right: 50px;
    overflow: hidden;
    height: 40px;
    /*background: #ffffff;*/
}
.condition .subitem-wrap_expand{
    height: auto!important;
}
.condition .input-subitem-wrap{
    margin-right: 50px;
    overflow: hidden;
    padding: 5px 10px;
    margin-left: 5px;
    background: #ffffff;
    min-height: 30px;
}

.condition .subitem{
    float: left;
    white-space: nowrap;
    padding: 5px 4px;
}
.condition .subItem-content{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0 6px;
    color: #333;
    background: #ffffff;
    border-radius: 26px;
}

.condition .item-multiselect{
    display: none;
    overflow: hidden;
    line-height: 40px;
    border: 1px solid #4A90E2;
    background: rgba(74, 144, 226, 0.12);
}
.condition .item-multiselect .item-title{
    float: left;
    width: 180px;
    padding-left: 10px;
    white-space: nowrap;
    background-color: transparent;
}
.condition .item-multiselect .item-content{
    background: #fff; overflow: hidden;margin-left: 100px;
}
.condition .item-multiselect .subitem-wrap{
    overflow: hidden;
    height: auto;
    background: #ffffff;
}
.condition .item-multiselect .subitem{
    float: left;
    white-space: nowrap;
    padding: 5px 4px;
}
.condition .item-multiselect .subItem-content{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0 6px;
    color: #333;
    background: #ffffff;
    border-radius: 26px;
}
.condition .buttonArea{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}
.condition .okButton{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #4A90E2;
    border-radius: 20px;
    color: #ffffff;
    font-size:14px;
    width: 80px;
    display: inline-block;
}
.condition .cancelButton{
    margin-left: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #666666;
    background: #F0F0F0;
    border-radius: 20px;
    font-size:14px;
    width: 80px;
    display: inline-block;
}


.actionbar{
    text-align: center;margin-bottom: 20px;
}
.actionbar .search-action{
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #4A90E2;
    border-radius: 20px;
    color:#fff;
}
.actionbar .export-action{
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 20px;
}
.actionbar .switch-filter-action{
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 20px;
}
.actionbar .switch-filter-text{
    padding-right:10px;
}


.fieldSelect{
    overflow: hidden;
    line-height: 40px;
    /*border-top: 1px solid #dddddd;*/
    /*border-bottom: 1px solid #dddddd;*/
    /*background: #f0f2f5;*/
    margin-bottom: 10px;
}
.fieldSelect-title{
    float: left;
    width: 180px;
    padding-left: 10px;
    white-space: nowrap;
    color: #666;
    /*background-color: #f0f2f5;*/
}
.fieldSelect-content{
    background: #fff; overflow: hidden;margin-left: 100px; height: 80px; margin-right: 40px;
}
.fieldSelect-content_expand{
    height: auto!important;
}
.fieldSelect-item{
    float: left;
    white-space: nowrap;
    padding: 7px 4px;
}
.fieldSelect-item-content{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0 6px;
    color: #666666;
    background: #ffffff;
    border-radius: 26px;
}
.fieldSelect-switch-action{
    background: #ffffff;
    float:right;
    color: #999;
    width: 52px;
    line-height: 40px;
    cursor: pointer;
}

