:root {
    --oo-color-main: #4d6240;
    --oo-color-main-light: #a0cfff;
    --oo-color-main-deep: #435935;
    --oo-color-over: #a0cfff;
    --oo-color-deep: #163305;
    --oo-color-light: #c6e2ff;
    --oo-color-hover: #d9ecff;
    --oo-color-icon: #a0cfff;
    --oo-color-hover2: #FAFFF7;
    --oo-color-odd-even: #FAFAFA;
}
