<style>
    .ft_content{
        padding: 20px 0;
    }
    .ft_titleSearchArea{
        height: 28px;
        line-height: 28px;
        border: 1px solid #CCCCCC;
        border-radius:15px;
    }
    .ft_filterIcon{
        height: 28px;
        width: 38px;
        border-radius: 14px;
        float: left;
        font-size: 16px;
        text-align:center;
    }
    .ft_filterIcon icon{
        margin-top: 6px;
        display: block;
    }
</style>

<div class="ft_content">
    <div class="ft_titleSearchArea">
        <div class="ft_filterIcon"><icon class="o2icon-sousuo mainColor_color"></icon></div>

    </div>
    <div class="fileItemsArea"></div>
</div>
